.section-stages-l{
    background-color: #e8e8e8;
    padding: 45px 0;
}
.section-stages-line{
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
.section-stages-line-item{
    width: 25%;
    padding: 0 10px;
    @media screen and (max-width: 1024px){
        width: 50%;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 600px){
        width: 100%;
    }
    &__container{
        background-color: #5e4eb4;
        color: #fff;
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }
    &__number{
        margin-bottom: 20px;
        color: #ffca14;
        font-size: 60px;
        font-weight: 700;
    }
    &__title{
        margin-bottom: 20px;
        font-weight: bold;
    }
}