section.section.section-stages-l
    .container
        .section-title Для кого это мероприятие?
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .section-stages-line
            .section-stages-line-item
                .section-stages-line-item__container
                    .section-stages-line-item__number 1
                    .section-stages-line-item__title Средняя школа
                    .section-stages-line-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-line-item
                .section-stages-line-item__container
                    .section-stages-line-item__number 2
                    .section-stages-line-item__title Старшеклассников
                    .section-stages-line-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-line-item
                .section-stages-line-item__container
                    .section-stages-line-item__number 3
                    .section-stages-line-item__title Выпускников
                    .section-stages-line-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-line-item
                .section-stages-line-item__container
                    .section-stages-line-item__number 4
                    .section-stages-line-item__title Студентов
                    .section-stages-line-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.