.form-consiltation{
    .inputs{
        margin: 25px 0;
        padding: 40px 20px;
        background-color: #5e4eb4;
        background-image: url(../img/images/bg-countries.png);
    }
    .inputs-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        @media screen and (max-width: 660px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .input-group{
        width: 50%;
        padding: 15px;
        @media screen and (max-width: 660px){
            width: 80%;
        }
        @media screen and (max-width: 425px){
            width: 100%;
        }
        input{
            width: 100%;
            border: 0;
            background-color: rgba(255,255,255,.3);
            height: 50px;
            padding-left: 20px;
            font-size: 20px;
            color: #fff;
            &::placeholder{
                color: #fff;
            }
        }
    }
    &__btn{
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase; 
        color: #ffffff;
        width: 250px;
        display: block;
        height: 50px;
        background-color: #5e4eb4;
        margin: 0 auto;
    }
}