section.section.form-consiltation
    .container-min
        .section-title Получить консультацию с нашими специалистами
    form.form-consiltation-style
        .inputs
            .container-min
                .inputs-wrapper
                    .input-group
                        input(type="text", placeholder="Имя",required)
                    .input-group
                        input(type="text", placeholder="Телефон",required)
                    .input-group
                        input(type="text", placeholder="Ваш вопрос",required)
                    .input-group
                        input(type="text", placeholder="E-Mail",required)
        .container-min                
            button.btn-base.form-consiltation__btn отправить заявку
            