html {
	// font-size: $base-font-size;
	height: 100%;
	// line-height: $base-line-height;
}
body {
	color: $base-color;
	font-family: $base-font;
	height: 100%;
	font-size: 16px;
	overflow-x: hidden;
	@media screen and (max-width: 1200px){
		font-size: 14px;
	}
}
a {
	color: $base-color;
	text-decoration: none;
	font-size: 16px;
	transition: 0.25s all;
	@media screen and (max-width: 1200px){
		font-size: 14px;
	}
	&:hover{
		color: $link-hover
	}
}
p {
	line-height: $base-line-height;
}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img,abbr {
	border: 0;
}
label{
	&:hover{
		cursor: pointer;
	}
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
strong{
	font-weight: 700;
}
ul li {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
legend {
	color: $base-color;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
	display: block;
}
img {
	max-width: 100%;
	height: auto;
}
*, *:before, *:after {
	box-sizing: border-box;
}
*{
	&:focus{
		outline: none;
	}
}
h3{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.position-relative{
	position: relative;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.container-min {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.section-title{
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}
h1{
	font-size: 28px;
	font-weight: 700;
	// text-transform: uppercase;
	width: 100%;
	margin-bottom: 40px;
}
h2{
	font-weight: bold;
	font-size: 28px;
	color: #2D3436;
	margin: 20px 0;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.seo-text{
	font-size: 18px;
	p{
		margin-bottom: 20px;
		line-height: 1.5;

	}
}
.text-normal{
	font-size: 20px;
}
.section-description{
	font-size: 18px;
	text-align: center;
	max-width: 730px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.slick-arrow{
	width: 34px;
	height: 34px;
	box-shadow: -1px 6px 7px rgba(94, 78, 180, 0.2);
	background-color: #ffffff;
	z-index: 100;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
	&:hover, &:focus{
		background-color: #fff;
	}
}
.slick-next{
	right: -30px;
	background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 4.35355C4.54882 4.15829 4.54882 3.84171 4.35355 3.64645L1.17157 0.464466C0.976311 0.269204 0.659728 0.269204 0.464466 0.464466C0.269204 0.659728 0.269204 0.976311 0.464466 1.17157L3.29289 4L0.464466 6.82843C0.269204 7.02369 0.269204 7.34027 0.464466 7.53553C0.659728 7.7308 0.976311 7.7308 1.17157 7.53553L4.35355 4.35355ZM3 4.5H4V3.5H3V4.5Z' fill='black'/%3E%3C/svg%3E%0A");
	&:hover, &:focus{
		background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.35355 4.35355C4.54882 4.15829 4.54882 3.84171 4.35355 3.64645L1.17157 0.464466C0.976311 0.269204 0.659728 0.269204 0.464466 0.464466C0.269204 0.659728 0.269204 0.976311 0.464466 1.17157L3.29289 4L0.464466 6.82843C0.269204 7.02369 0.269204 7.34027 0.464466 7.53553C0.659728 7.7308 0.976311 7.7308 1.17157 7.53553L4.35355 4.35355ZM3 4.5H4V3.5H3V4.5Z' fill='black'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 10px;
	}
        &:before{
                content: '';
        }
	@media screen and (max-width: 1230px){
		right: 15px;
	}
}

.slick-prev{
	left: -35px;
	background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM2 3.5H1V4.5H2V3.5Z' fill='black'/%3E%3C/svg%3E%0A");
        &:before{
          content: '';
        }
	@media screen and (max-width: 1230px){
		left: 15px;
	}
	&:hover, &:focus{
		background-image: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM2 3.5H1V4.5H2V3.5Z' fill='black'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 10px;
	}
}
.slick-disabled{
	opacity: 0;
}
.section{
	margin: 50px 0;
}
.hidden{
	display: none;
}
.hidden-1100{
	@media screen and (max-width: 1100px){
        display: none;
    }
}
.hidden-1000{
	@media screen and (max-width: 1000px){
		display: none!important;
	}
}
.show-1100{
	display: none!important;
	@media screen and (max-width: 1100px){
		display: block!important;
	}
}
.hidden-768{
    @media screen and (max-width: 768px){
        display: none;
    }
}
.banner-blue{
	background-color: #5E4EB4;
	padding-bottom: 30px;
}
.banner-purple{
	background-color: #5E4EB4;
}
.section-light-purple{
	background-color: #F7F5FF;
	padding: 40px 0;
}
.section-video{
	iframe{
		max-width: 730px;
		width: 100%;
		height: 410px;
		margin: 0 auto;
		display: block;
		@media screen and (max-width: 768px){
			height: 400px;
		}
		@media screen and (max-width: 550px){
			height: 300px;
		}
		@media screen and (max-width: 425px){
			height: 200px;
		}
	}
}
.list-col-2{
	display: flex;
	flex-wrap: wrap;
	max-width: 880px;
	li{
		width: 50%;
		padding-right: 20px;
                @media screen and (max-width: 700px){
                  width: 100%;
                }
	}
}
ol{
	font-size: 18px;
	margin: 0 0 30px;
	li{
		margin-bottom: 15px;
	}
}
.article-page{
	display: flex;
	@media screen and (max-width: 800px){
		flex-direction: column-reverse;
	}

	ul{
		font-size: 18px;
		margin: 0 0 30px;
		li{
			margin-bottom: 15px;
			padding-left: 20px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				left: 0;
				top: 5px;
				background-color: #5E4EB4;
			}
		}
	}
}
.article-aside{
	min-width: 350px;
	padding-left: 50px;
	@media screen and (max-width: 800px){
		padding-left: 0;
		margin-bottom: 30px;
	}
	@media screen and (max-width: 425px){
		padding-left: 0;
		margin-bottom: 30px;
		min-width: 100%;
	}
	.article-aside__content{
		position: sticky;
		top: 70px;
		display: block;
	}
}

.article-gallery{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	a{
		width: 33%;
		padding: 0 10px;
		margin-bottom: 20px;
		img{
			width: 100%;
		}
	}
}

.residence-wrapper{
	display: flex;
	flex-wrap: wrap;
}
.residence-wrapper--center{
	justify-content: center;
}
.residence-item{
	width: 140px;
	height: 140px;
	border: 1px solid #5E4EB4;
	margin-bottom: 25px;
	margin-right: 25px;
	text-align: center;
	padding: 15px;
	color: #5E4EB4;
	&__img{
		width: 65px;
		margin: 0 auto;
		img{
			margin: 0!important;
		}
	}
}
.aside-countries{
	min-width: 215px;
	box-shadow: 0px 4px 6px rgba(94, 78, 180, 0.16);
	margin-right: 35px;
	&__title{
		line-height: 50px;
		font-weight: 600;
		font-size: 18px;
		background: #5E4EB4;
		padding-left: 15px;
		color: #fff;
	}
	.countries-list{
		padding: 15px;
		margin-bottom: 0;
		&__item{
			padding-left: 0;
			line-height: 1;
			&:before{
				display: none;

			}
			a{
				color: #2D3436;
				font-weight: 600;
				transition: 0.25s all;
				position: relative;
				&:before{
					content: '';
					width: 28px;
					height: 8px;
					position: absolute;
					right: -30px;
					transition: 0.25s all;
					top: 50%;
					opacity: 0;
					transform: translateY(-50%);
					background-image: url("data:image/svg+xml,%3Csvg width='28' height='8' viewBox='0 0 28 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M-0.0691537 4.5248H21.3426C20.3116 5.5168 19.7977 6.1632 19.745 7.0448C22.092 5.5248 25.1424 4.7328 28.8285 3.9888C25.1424 3.2752 22.2254 2.4048 19.745 0.9328C19.9031 1.8896 20.3313 2.4688 21.3756 3.5232H-0.0708008L-0.0691537 4.5248Z' fill='%235E4EB4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='28' height='8' transform='matrix(1 0 0 -1 0 8)' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
				}
				&:hover{
					color: #5E4EB4;
					position: relative;
					&:before{
						right: -35px;
						opacity: 1;
					}
				}

			}
		}
	}
}
.section-blue{
	background-color: #0E75DE;
	color: #fff;
        padding: 50px 0 0px 0;
	.list-col-2{
		li{
			&:before{
				background-color: #FFCA14;
			}
		}
	}
}
.program-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.program-item{
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
  @media screen and (max-width: 620px){
    width: 100%;
  }
  .item-container{
    padding: 15px;
  }
  .item-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .item-info-i{
    margin-bottom: 5px;
    .left{
      padding-right: 20px;
    }
  }
}

.program-item-purple{
  background-color: #5E4EB4;
  color: #ffffff;
}
.program-item-blue{
  background-color: #168CFB;
  color: #ffffff;
}
.program-item-yellow{
  background-color: #F8C50C;
  color: #2D3436;
}
.content-404{
  text-align: center;
}
.title-404{
  font-size: 200px;
  color: #5e4eb4;
}
.longtitle-404{
  font-size: 25px;
  margin: 30px 0;
}
