@font-face {
	font-family: 'MyriadPro';
	font-display: fallback;
	src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
	src: local("O"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), 
			url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	font-display: fallback;
	src: url("../fonts/MyriadPro/MyriadPro-Bold.eot");
	src: local("O"), url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"), 
			url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}