.popup{
    max-width: 845px;
    background-color: #fff;
    padding: 50px 150px;
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 768px){
      padding: 30px 50px;
    }
}
.popup-logo{
    margin: 0 auto;
}
.mfp-bg{
    opacity: .5!important;
    background-color: #5E4EB4;
}
.mfp-close{
    &:before{
        content: '';
        position: absolute;
        width: 44px;
        height: 44px;
        background-size: 18px;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1393 9.00003L17.5569 2.58237C18.1477 1.99162 18.1477 1.03382 17.5569 0.44315C16.9662 -0.147604 16.0085 -0.147604 15.4177 0.44315L8.99997 6.8609L2.58222 0.443065C1.99147 -0.147688 1.03376 -0.147688 0.443002 0.443065C-0.147667 1.03382 -0.147667 1.99162 0.443002 2.58229L6.86075 8.99995L0.443002 15.4177C-0.147667 16.0084 -0.147667 16.9662 0.443002 17.5569C1.03376 18.1477 1.99147 18.1477 2.58222 17.5569L8.99997 11.1392L15.4177 17.5569C16.0084 18.1477 16.9662 18.1477 17.5569 17.5569C18.1477 16.9662 18.1477 16.0084 17.5569 15.4177L11.1393 9.00003Z' fill='%23A0A0A0'/%3E%3C/svg%3E%0A");
    }
}
.popup-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
}
.popup-longtitle{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}
.popup-inputs{
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
    .popup-input{
        width: 48%;
        @media screen and (max-width: 425px){
          width: 100%;
        }
    }
}
.popup-brn-send{
    text-align: center;
    margin-top: 50px;
    button{
        padding: 15px 30px ;
        font-weight: bold;
        line-height: 1;
    }
}
.popup-input{
    width: 100%;
    margin-bottom: 5px;
    input{
        width: 100%;
        border: 0;
        border-bottom: 2px solid #515151;
        padding: 20px 0;
    }
}

.popup-action{
    position: fixed;
    top: 80px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
    right: 20px;
    width: 100%;
    max-width: 430px;
    z-index: 9999;
    display: none;
    .popup-longtitle{
        margin-bottom: 0;
        font-size: 20px;
        font-weight: bold;
        color: #2D3436;
        a{
            color: #5E4EB4;
            font-size: 20px;
            text-decoration: underline;
            padding: 0 10px;
        }
    }
}
.popup-action-open{
    display: block;
}
.popup-img-done{
    width: 62px;
    height: 62px;
    margin: 0 auto;
    background-image: url("data:image/svg+xml,%3Csvg width='62' height='62' viewBox='0 0 62 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.2564 19.9297C45.6371 19.3102 44.6329 19.3102 44.0134 19.9297L25.0116 38.9317L17.7076 31.6277C17.0882 31.0083 16.0841 31.0083 15.4646 31.6277C14.8451 32.247 14.8451 33.2512 15.4646 33.8706L23.8901 42.296C24.5092 42.9154 25.5142 42.9149 26.1331 42.296L46.2564 22.1727C46.8758 21.5533 46.8758 20.5491 46.2564 19.9297Z' fill='%235E4EB4'/%3E%3Ccircle cx='31' cy='31' r='30' stroke='%235E4EB4' stroke-width='2'/%3E%3C/svg%3E%0A");
}