.hidden
    .popup.popup-feedback#popup-feedback
        .popup-footer
            button.mfp-close
        .popup-logo.header-logo
        .popup-body
            .popup-title Заполните форму
            .popup-longtitle Мы свяжемся с вами и ответим на любые возникшие вопросы
        form(action="").popup-form
            .popup-inputs
                .popup-input
                    input(type="text", name="Name" placeholder="Имя*", required)
                .popup-input
                    input(type="text", name="Phone" placeholder="Телефон*", required).input-phone-mask
            .popup-input
                input(type="text", name="Email" placeholder="Email*", required)
            .popup-brn-send
                button.btn-send.btn-base.btn-violet подать заявку

    .popup.popup-success#popup-success
        .popup-footer
            button.mfp-close
        .popup-logo.header-logo
        .popup-body
            .popup-title(style="color: #5E4EB4") Спасибо за заявку!
            .popup-longtitle Наш менеджер свяжется с Вами в ближайшее время

.popup-action#popup-favorites
    .popup-footer
        button.mfp-close.popup-action-close
    .popup-img-done
    .popup-body
        .popup-longtitle Успешно добавлено в
            a(href="/") Избранное

.popup-action#popup-comparisons
    .popup-footer
        button.mfp-close.popup-action-close
    .popup-img-done
    .popup-body
        .popup-longtitle Успешно добавлено в
            a(href="/") Сравнение

