.history-content{
    padding-left: 80px;
    @media screen and (max-width: 768px){
        padding-left: 0;
    }
    &__images{
        display: flex;
        flex-wrap: wrap;
        display: none;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .active{
        display: flex;
    }
}
.image-item{
    width: 25%;
    @media screen and (max-width: 500px){
        width: 50%;
    }
    // @media screen and (max-width: 425px){
    //     width: 100%;
    // }
}
.history-wrapper{
    display: flex;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
.history-nav{
    width: 55px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 768px){
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: #5e4eb4;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 768px){
            top: 50%;
            width: 100%;
            left: 0;
            right: 0;
            height: 2px;
            transform: translateX(0);
            transform: translateY(-50%);
        }
    }
    &__item{
        color: #5e4eb4;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        background-color: #fff;
        padding: 10px 0;
        @media screen and (max-width: 768px){
            padding: 10px 5px;
        }
        @media screen and (max-width: 600px){
            font-size: 20px;
        }
        @media screen and (max-width: 500px){
            font-size: 18px;
        }
        @media screen and (max-width: 425px){
            font-size: 16px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .active{
        color: #1689fe;
    }
}