section.section.history
    .container
        .section-title Наша история
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .history-wrapper
            .history-nav
                .history-nav__item.active 2019
                .history-nav__item 2018
                .history-nav__item 2017
                .history-nav__item 2016
                .history-nav__item 2015
            .history-content
                .history-content__images.active
                    .image-item
                        img(src="/img/images/history-img_1.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_5.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                .history-content__images
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_1.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_1.jpg", alt="")
                .history-content__images
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_1.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_1.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                .history-content__images
                    .image-item
                        img(src="/img/images/history-img_1.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_5.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                .history-content__images
                    .image-item
                        img(src="/img/images/history-img_1.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_5.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_2.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_3.jpg", alt="")
                    .image-item
                        img(src="/img/images/history-img_4.jpg", alt="")