.section-universities-wrapper
    .section-universities-item
        a(href="#").section-universities-item__container
            .section-universities-item__left
                .section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                    img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
            .section-universities-item__right
                .section-universities-item__recommend COMPASS </br> рекомендует
                .section-universities-item__title The University of Toledo
                .section-universities-item__position Орландо, Флорида, США
                .section-universities-item__age.age
                    .age__title Возраст:
                    .age__number  14+
                .section-universities-item__price.price
                    .price__title Стоимость:
                    .price__number  $4. 000 / неделю
                .section-universities-item__link
                    button Подробнее
    .section-universities-item
        a(href="#").section-universities-item__container
            .section-universities-item__left
                .section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                    img(src="/img/images/universities-logo3.png", alt="The University of Toledo")
            .section-universities-item__right
                .section-universities-item__recommend.hidden COMPASS </br> рекомендует
                .section-universities-item__title The University of Toledo
                .section-universities-item__position Орландо, Флорида, США
                .section-universities-item__age.age
                    .age__title Возраст:
                    .age__number  14+
                .section-universities-item__price.price
                    .price__title Стоимость:
                    .price__number  $4. 000 / неделю
                .section-universities-item__link
                    button Подробнее
    .section-universities-item
        a(href="#").section-universities-item__container
            .section-universities-item__left
                .section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                    img(src="/img/images/universities-logo3.png", alt="The University of Toledo")
            .section-universities-item__right
                .section-universities-item__recommend.hidden COMPASS </br> рекомендует
                .section-universities-item__title The University of Toledo
                .section-universities-item__position Орландо, Флорида, США
                .section-universities-item__age.age
                    .age__title Возраст:
                    .age__number  14+
                .section-universities-item__price.price
                    .price__title Стоимость:
                    .price__number  $4. 000 / неделю
                .section-universities-item__link
                    button Подробнее
    .section-universities-item
        a(href="#").section-universities-item__container
            .section-universities-item__left
                .section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                    img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
            .section-universities-item__right
                .section-universities-item__recommend.hidden COMPASS </br> рекомендует
                .section-universities-item__title The University of Toledo
                .section-universities-item__position Орландо, Флорида, США
                .section-universities-item__age.age
                    .age__title Возраст:
                    .age__number  14+
                .section-universities-item__price.price
                    .price__title Стоимость:
                    .price__number  $4. 000 / неделю
                .section-universities-item__link
                    button Подробнее