.form-aside{
    background-color: #5E4EB4;
    padding: 30px 20px;
    
    input{
        width: 100%;
        height: 50px;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        font-size: 14px;
        padding: 0 20px;
        margin-bottom: 15px;
        background-color: rgba(#fff, 0);
        color: #fff;
        &::placeholder{
            color: #E5E5E5;
        }
    }
    button{
        width: 100%;
    }
    &__title{
        color: #FFFFFF;
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
    }
    select{
        width: 100%;
        height: 50px;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        font-size: 14px;
        padding: 0 20px;
        margin-bottom: 15px;
        background-color: rgba(#fff, 0);
        color: #fff;

    }
    option{
        color: #000;
        height: 20px;
    }
    .select-wrap{
        position: relative;
        //&:before{
        //    content: '';
        //    position: absolute;
        //    width: 6px;
        //    height: 19px;
        //    background-color: #5e4eb4;
        //    right: 7px;
        //    top: 9px;
        //}
    }
    .selectric{
        width: 100%;
        height: 50px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        font-size: 14px;
        padding: 0 20px;
        margin-bottom: 15px;
        background-color: transparent;
        color: #fff;
        .label{
            font-size: 14px;
            color: #ffffff;
            line-height: 50px;
            margin: 0;
        }
        .button{
            background-color: rgba(#fff, 0);
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23E6E6E6' stroke-width='1.5'/%3E%3C/svg%3E%0A");
            &:after{
                display: none;
            }
        }

    }
    .selectric-items{
        border: none;
        background-color: #5e4eb4;
        ul{
            margin: 0;
        }
        li{
            margin: 0;
            font-size: 14px;
            color: #ffffff;
            &:before{
                display: none;
            }
            &:hover{
                background-color: #463793;
            }
        }
        li.highlighted{
            background-color: #463793;
        }
    }
    .select-arrow{
        width: 14px;
        height: 8px;
        right: 20px;
        top: 22px;
        z-index: 0;
        position: absolute;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23E6E6E6' stroke-width='1.5'/%3E%3C/svg%3E%0A");
    }
}