.form-aside
    .form-aside__title Подать заявку
    form.form-asidei-inputs
        input(type="text" placeholder="Название программы", required)
        input(type="text" placeholder="Введите ваше Имя" , required)
        input(type="text" placeholder="Введите ваш номер телефона" , required).input-phone-mask
        button.btn-base.btn-yellow Подать заявку
