section.section
    .container-min
        .section-title Our certificates
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .certificates-wrapper.certificates-carousel
            .certificates-item
                a(href="/img/images/certificates_1.jpg")
                    img(src="/img/images/certificates_1.jpg", alt="")
            .certificates-item
                a(href="/img/images/certificates_2.jpg")
                    img(src="/img/images/certificates_2.jpg", alt="")
            .certificates-item
                a(href="/img/images/certificates_3.jpg")
                    img(src="/img/images/certificates_3.jpg", alt="")
            .certificates-item
                a(href="/img/images/certificates_4.jpg")
                    img(src="/img/images/certificates_4.jpg", alt="")
            .certificates-item
                a(href="/img/images/certificates_1.jpg")
                    img(src="/img/images/certificates_1.jpg", alt="")