.banner{
    //height: 385px;
    background-position: center;
    background-size: cover;
    background-color: #5e4eb4;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 50px 0 130px 0;
    @media screen and (max-width: 768px){
        background-image: none!important;
        margin-bottom: 23px;
        height: auto;
        padding: 30px 0;
    }
    .video-bg{
        width: 100%;
    }
}
.banner-content{
    //position: absolute;
    top: 60px;
    max-width: 500px;
    &__title{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__longtitle{
        font-size: 18px;
        margin-bottom: 35px;
        color: #ffffff;
    }
}