section.banner(style="background-image: url(/img/images/banner_index.jpg);")
    //- <video class="video-bg" loop="loop" muted="muted" autoplay="autoplay">
    //-   <source src="https://cosmeticpack.com.ua/assets/templates/video/Making Glass Bottles Buravchik.mp4" type="video/mp4">
    //-   <source src="https://cosmeticpack.com.ua/assets/templates/video/Making Glass Bottles Buravchik.webm" type="video/webm">
    //-   <source src="https://cosmeticpack.com.ua/assets/templates/video/Making Glass Bottles Buravchik.ogv" type="video/ogv">
    //- </video>
    .container.container-min
        .banner-content
           h1.banner-content__title Учеба за рубежом с образовательным агентством Compass
           h2.banner-content__longtitle Мы сотрудничаем более чем с 950 учебными заведениями!
           .banner-content__btn
                button.btn-base.btn-yellow.btn-feedback Подобрать програму

