.article-info-tom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 90px 0;
  @media screen and (max-width: 580px){
    flex-direction: column;
  }
}
.article-time{
  position: relative;
  font-size: 20px;
  margin-right: 35px;
  padding-left: 40px;
  @media screen and (max-width: 580px){
    margin-right: 0;
    margin-bottom: 20px;
  }
  &:before{
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    left: 00px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='12.75' fill='%232D3436' stroke='%232D3436' stroke-width='1.5'/%3E%3Crect x='11.5703' y='5.39795' width='1.28571' height='10.6937' fill='white'/%3E%3Crect x='11.5703' y='16.0911' width='1.33671' height='7.71429' transform='rotate(-90 11.5703 16.0911)' fill='white'/%3E%3C/svg%3E%0A");
  }
}
.article-info-left{
  width: 350px;
  @media screen and (max-width: 380px){
    width: 100%;
  }
}
.article-content{
  img{
    width: 100%;
    margin: 20px 0;
  }
}