.tags-blog{
    justify-content: center;
    margin: 0 -20px;
    margin-top: 60px;
    .section-universities-tags__item{
        margin: 0 20px;
    }
}
.news-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    margin-top: 50px;
}