button{
    border: none;
    
    &:hover{
        cursor: pointer;
    }
}
.btn-base{
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 40px;
    padding: 0 16px;
}
.btn-violet{
    background-color: #5e4eb4;
    color: #fff;
}
.btn-yellow{
    line-height: 45px;
    color: #2d3436;
    background-color: #ffca14;
    font-size: 16px;
    font-weight: bold;
}
.btn-search{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.0038 19.8032L16.3052 15.1057C17.557 13.5878 18.3092 11.6442 18.3092 9.52772C18.3092 4.68441 14.3693 0.75 9.52961 0.75C4.68536 0.75 0.75 4.68901 0.75 9.52772C0.75 14.3665 4.68988 18.3054 9.52961 18.3054C11.6465 18.3054 13.5906 17.5533 15.1088 16.3018L19.8075 20.9994C19.9695 21.1613 20.1882 21.25 20.4056 21.25C20.6181 21.25 20.8394 21.1691 21.0054 20.9978C21.3321 20.6694 21.3315 20.1309 21.0038 19.8032ZM2.44317 9.52772C2.44317 5.62159 5.62229 2.44734 9.52517 2.44734C13.4323 2.44734 16.6072 5.62583 16.6072 9.52772C16.6072 13.4298 13.4321 16.6125 9.52517 16.6125C5.62248 16.6125 2.44317 13.434 2.44317 9.52772Z' fill='%232D3436' stroke='%232D3436' stroke-width='0.5'/%3E%3C/svg%3E%0A");
    background-color: rgba(#fff, 0);
}
.btn-search-mobile{
    margin-right: 20px;
}
.button-morelink{
    text-align: center;
    margin-top: 15px;
}
.btn-link-more{
    background-color: #5e4eb4;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 7px 15px;
    min-width: 280px;
    display: inline-block;
    &:hover{
        color: #fff;
    }
}
.btn-menu{
    width: 28px;
    height: 17px;
    background-color: rgba(#000, 0);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDI4IDE3Ij48Zz48Zz48cGF0aCBkPSJNMCAwaDI4djNIMHoiLz48L2c+PGc+PHBhdGggZD0iTTAgN2gyOHYzSDB6Ii8+PC9nPjxnPjxwYXRoIGQ9Ik0wIDE0aDI4djNIMHoiLz48L2c+PC9nPjwvc3ZnPg==');
}
.menu-close{
    width: 12px;
    height: 12px;
    margin-bottom: 20px;
    margin-left: auto;
    display: block;
    background-color: rgba(#fff, 0);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.42618 6.00002L11.7046 1.72158C12.0985 1.32774 12.0985 0.689212 11.7046 0.295433C11.3108 -0.0984026 10.6723 -0.0984026 10.2785 0.295433L5.99998 4.57393L1.72148 0.295377C1.32765 -0.0984589 0.68917 -0.0984589 0.295334 0.295377C-0.0984448 0.689212 -0.0984448 1.32774 0.295334 1.72152L4.57383 5.99996L0.295334 10.2785C-0.0984448 10.6723 -0.0984448 11.3108 0.295334 11.7046C0.68917 12.0984 1.32765 12.0984 1.72148 11.7046L5.99998 7.42611L10.2785 11.7046C10.6723 12.0984 11.3108 12.0984 11.7046 11.7046C12.0985 11.3108 12.0985 10.6723 11.7046 10.2785L7.42618 6.00002Z' fill='%23A0A0A0'/%3E%3C/svg%3E%0A");
}
.btn-more{
    background-color: #5E4EB4;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    font-weight: bold;
}