.challenge-wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.challenge-item{
  width: 33.3%;
  padding: 0 15px;
  margin-bottom: 30px;
  @media screen and (max-width: 870px){
    width: 50%;
  }
  @media screen and (max-width: 600px){
    width: 100%;
  }
  &__img{
    background-color: #74B9FF;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content{
    background-color: #F8FBFE;
    padding: 30px 20px;
    color: #2D3436;
  }
  &__title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-weight: 600;
  }
  &__link{
    color: #2161A3;
    font-weight: bold;
    font-size: 18px;
    span{

    }
  }
}