.compare-table{
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    table{
        width: 100%;
    }
    th{
        padding: 30px;
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #5E4EB4;
        border: 1px solid #C9C5DF;
    }
    td{
        padding: 30px;
        background-color: #F5F3FF;
        border: 1px solid #C9C5DF;
    }
}
.table-sort{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #5E4EB4;
    position: relative;
    padding-right: 20px;
    &:before{
        content: '';
        position: absolute;
        width: 12px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 8L-2.54292e-07 8.58275e-07L6 4.29138e-07L12 9.53674e-07L6 8Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}
