.contacts-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.contacts-item{
    width: 50%;
    padding: 0 30px;
    @media screen and (max-width: 1200px){
        width: 100%;
    }
}
.contacts-left{
    margin-bottom: 30px;
}
.tabs-nav{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -7px;
    margin-top: 20px;
    margin-bottom: 20px;
    .tabs-nav-item{
        padding: 6px;
        width: 40%;
        @media screen and (max-width: 560px){
            width: 50%;
        }
        @media screen and (max-width: 460px){
            width: 100%;
        }
        &:hover{
            cursor: pointer;
        }
        span{
            line-height: 50px;
            padding: 0 15px;
            font-size: 18px;
            display: block;
            color: #ffffff;
            background-color: #dddddd;
            text-align: center;
        }

    }
    .tabs-nav-item--smoll{
        width: 20%;
        @media screen and (max-width: 560px){
            width: 50%;
        }
        @media screen and (max-width: 460px){
            width: 100%;
        }
    }
    .active{
        span{
            background-color: #5e4eb4;
        }

    }
}
.tabs-content{
    margin-bottom: 20px;
    .tabs-content-item{
        display: none;
    }
    .active{
        display: block!important;
    }
}

.contacts-person{
    display: flex;
    &__left{
        padding-right: 15px;
    }
    &__avatar{
        width: 215px;
        @media screen and (max-width: 375px){
            width: 90px;
        }
    }
    &__title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    &__description{
        margin-bottom: 25px;
        font-size: 16px;
    }
    &__email{
        font-size: 18px;
        font-weight: bold;
    }
}
.form-person{
    input{
        width: 100%;
        height: 50px;
        background-color: rgba(#dddddd, 0.3);
        color: #4d4d4d;
        padding-left: 15px;
        margin-bottom: 15px;
        border: 0;
    }
    &__btn{
        margin-left: auto;
        width: 155px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
    }
}

.contacts-info{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 450px){
        margin-bottom: 30px;
    }
    &__left{
        width: 50%;
        @media screen and (max-width: 450px){
            width: 100%;
        }

    }
    &__right{
        width: 50%;
        @media screen and (max-width: 450px){
            width: 100%;
        }
    }
    &__item{
        margin-bottom: 30px;
        font-size: 20px;
    }
    a{
        font-size: 20px;
        display: block;
    }
    &__value{
        font-weight: bold;
    }
}
.contacts-social{
    display: flex;
    li{
        margin-right: 15px;
    }
}
