.events-tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    &__item{
        margin-right: 20px;
        margin-bottom: 20px;
        input{
            display: none;
            &:checked~label{
                background-color: #5e4eb4;
            }
        }
        label{
            display: block;
            color: #fff;
            background-color: #d1d1d1;
            line-height: 40px;
            padding: 0 20px;
            font-size: 20px;
            @media screen and (max-width: 768px){
                font-size: 16px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}