.event-banner{
    padding: 25px;
    background-size: cover;
    @media screen and (max-width: 450px){
        padding: 20px 0;
    }
    &__title{
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media screen and (max-width: 768px){
            font-size: 20px;
        }
        @media screen and (max-width: 450px){
            margin-bottom: 20px;
        }
    }
    &__longtitle{
        font-size: 18px;
        color: #fff;
        margin-bottom: 40px;
        @media screen and (max-width: 450px){
            margin-bottom: 20px;
        }
    }
}
.event-banner-left{
    padding-right: 100px;
    @media screen and (max-width: 768px){
        padding-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}
.event-banner-wrapper{
    display: flex;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
.event-banner-info{
    padding: 20px;
    background-color: rgba(#ffffff, 0.8);
    min-width: 350px;
    @media screen and (max-width: 450px){
       min-width: 100%;
       width: 100%;
    }
    &__number{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        background-color: #ffca14;
        line-height: 40px;
    }
    .info{
        margin-bottom: 20px;
    }
    .info-item{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 450px){
            font-size: 14px;
        }
    }
    .info-left{
        width: 90px;
        line-height: 35px;
        color: #fff;
        background-color: #5e4eb4;
        padding-left: 12px;
        
    }
    .info-right{
        padding-left: 15px;
        color: #2d3436;
    }
}
.event-timer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #393f43;
    font-size: 18px;
    font-weight: 700;
    font-size: 16px;
    span{
        display: block;
        text-align: center;
        font-size: 36px;
        @media screen and (max-width: 320px){
            font-size: 25px;
        }
    }
}