.insurance-advantage{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 50px;
  @media screen and (max-width: 750px){
    justify-content: center;
  }
}
.insurance-advantage-item{
  width: 33.3%;
  padding: 0 15px;
  text-align: center;
  @media screen and (max-width: 750px){
    width: 50%;
    margin-bottom: 30px;
  }
  @media screen and (max-width: 500px){
    width: 100%;
  }
  &__c{
    border: 2px solid #5E4EB4;
    padding: 35px 20px 60px 20px;
    height: 100%;
  }
  &__img{
    margin-bottom: 30px;
  }
  &__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}