.search-result-item{
  margin-bottom: 30px;
  font-size: 18px;
  &__text{
    margin-top: 15px;

  }
  a{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5E4EB4;
  }
  span{
    color: #5E4EB4;
  }
}
