.tours-country{
  .section-countries-item{
    width: 33.3%;
    margin-bottom: 30px;
    @media screen and (max-width: 800px){
      width: 50%;
    }
    @media screen and (max-width: 550px){
      width: 100%;
    }
    &__description{
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
      a{
        text-decoration: underline;
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }
}
.tours-country{
  flex-wrap: wrap;

}
