.filter-top{
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
    flex-wrap: wrap;
    @media screen and (max-width: 768px){
        justify-content: center;
    }
}
.btn-mobile-filter{
    display: none;
    @media screen and (max-width: 1000px){
        display: block;
    }
}
.filter-top-item{
    margin-bottom: 10px;
    label{
        color: #252b28;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 45px;
        padding: 0 20px;
        display: block;
        transition: 0.25s all;
        &:hover{
            background-color: #1689fe;
            color: #fff;
        }
    }
    input{
        display: none;
        &:checked~label{
            background-color: #5e4eb4;
            color: #fff;
        }
    }
}
.universities-filters{

}

.filters-wrapper{
    height: 165px;
    overflow: hidden;
}
.filters-wrapper-open{
    height: auto;
}
.filters-item{
    margin-bottom: 30px;
    &:nth-child(1){
        .filters-item__title{
            background-color: #5e4eb4;
        }
    }
    &:nth-child(2){
        .filters-item__title{
            background-color: #1689fe;
        }
    }
    &:nth-child(3){
        .filters-item__title{
            background-color: #ffca14;
            color: #4d4d4d;
        }
    }
    &__title{
        color: #fff;
        line-height: 45px;
        padding: 0 20px;
        margin-bottom: 20px;
        font-size: 23px;
    }
    &__btn{
        margin-top: 20px;
        font-size: 14px;
        padding: 15px;
        width: 100%;
        span{
            font-size: 21px;
        }
    }

}
.filter-item{
    padding: 10px 0;
    label{
        color: #392d4c;
        font-size: 18px;
        padding-left: 40px;
        position: relative;
        display: flex;
        &:before{
            content: '+';
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            font-size: 16px;
            text-align: center;
            top: 50%;
            color: #232222;
            transform: translateY(-50%);
            border: 1px solid #5e4eb4;
            line-height: 23px;
        }
    }
    input{
        display: none;
        &:checked~label{
            &:before{
                background-color: #5e4eb4;
                color: #fff;
            }
        }
    }
}
.universities-content{
    display: flex;
    margin-top: 45px;
    &__left{
        width: 345px;
        padding-right: 45px;
        transition: 0.25s all;
        background-color: #fff;
        @media screen and (max-width: 1000px){
            position: fixed;
            left: -100%;
            padding: 20px;
            z-index: 11;
            top: 0;
            height: 100%;
            overflow: auto;
        }
        @media screen and (max-width: 375px){
            width: 320px;
        }
        @media screen and (max-width: 320px){
            width: 290px;
        }
    }
    &__right{
        height: 100%;
        width: 100%;
    }
}
.body-filter-open{
    .universities-content__left{
        left: 0;
    }
    .universities-content-bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, .5);
        transition: 0.25s all;
        z-index: 10;
    }

}
.universities-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    @media screen and (max-width: 520px){
        justify-content: center;
    }
    &__btn{
        width: 220px;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 auto;
        display: block;
        margin-top: 30px;
    }
}
.universities-item{
    width: 33.3%;
    padding: 0 12px;
    margin-bottom: 25px;
    @media screen and (max-width: 720px){
        width: 50%;
    }
    @media screen and (max-width: 520px){
        width: 80%;
    }
    @media screen and (max-width: 375px){
        width: 100%;
    }
    &__img{
        margin-bottom: 20px;
    }
    img{
        width: 100%;
    }
    &__container{
        background-color: #e8e8e8;
        display: block;
        text-align: center;
        padding-bottom: 20px;
        height: 100%;
    }
    &__title{
        color: #392d4c;
        font-size: 22px;
        font-weight: 700;
        padding: 0 15px;
    }
    &__tags{
        color: #392d4c;
        font-size: 18px;
        padding: 0 15px;
    }
    &__link{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #5e4eb4;
        position: relative;
        padding-right: 35px;
        @media screen and (max-width: 1160px){
            padding-right: 0;
        }
        &:before{
            content: '';
            width: 37px;
            height: 12px;
            position: absolute;
            color: #333;
            background-size: 100%;
            right: 35px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgMTcgNSI+PGc+PGc+PHBhdGggZmlsbD0iIzVlNGViNCIgZD0iTS0uMDQyIDIuMTcyaDEzYy0uNjI2LS42Mi0uOTM4LTEuMDI0LS45Ny0xLjU3NSAxLjQyNS45NSAzLjI3NyAxLjQ0NSA1LjUxNSAxLjkxLTIuMjM4LjQ0Ni00LjAwOS45OS01LjUxNSAxLjkxLjA5Ni0uNTk4LjM1Ni0uOTYuOTktMS42MTlILS4wNDN6Ii8+PC9nPjwvZz48L3N2Zz4=);
            @media screen and (max-width: 1160px){
                display: none;
            }
        }
    }
}
