p{
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 18px;
}
.university-banner{
    background-color: rgba(#5e4eb4, 0.8);
    max-width: 660px;
    padding: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 768px){
        top: 0;
        transform: translateY(0);
        position: static;
        max-width: 100%;
    }
    @media screen and (max-width: 425px){
        padding: 20px 0;
    }

    &__title{
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__position{
        position: relative;
        padding-left: 25px;
        font-size: 18px;
        margin-bottom: 40px;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 22px;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='26' viewBox='0 0 19 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 0C4.26167 0 0 4.22409 0 9.41617C0 15.8597 8.50157 25.3192 8.86353 25.7188C9.20351 26.0941 9.7971 26.0934 10.1365 25.7188C10.4984 25.3192 19 15.8597 19 9.41617C18.9999 4.22409 14.7383 0 9.5 0ZM9.5 14.1537C6.86447 14.1537 4.72036 12.0285 4.72036 9.41617C4.72036 6.80388 6.86452 4.67869 9.5 4.67869C12.1355 4.67869 14.2796 6.80393 14.2796 9.41623C14.2796 12.0285 12.1355 14.1537 9.5 14.1537Z' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
    }
    .info{
        display: flex;
        flex-wrap: wrap;
    }
    .info-item{
        width: 50%;
        font-size: 18px;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        padding-right: 30px;
        @media screen and (max-width: 700px){
            width: 100%;
        }
        span{
            width: 170px;
            display: block;
            background-color: #ffc211;
            padding: 5px 10px;
            font-size: 16px;
            margin-right: 15px;
            color: #000;
        }
    }
}

.university-about{
    display: flex;
    @media screen and (max-width: 768px){
        flex-wrap: wrap;
    }
    &__left{
        width: 100%;
    }
    &__right{
        min-width: 430px;
        padding-left: 60px;
        @media screen and (max-width: 768px){
            padding-left: 0;
            min-width: 100%;
        }
    }
    
    .form-base{
        background-color: #5e4eb4;
        background-image: url(../img/images/bg-countries.png);
        padding: 25px;
        &__title{
            text-align: center;
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #fff;
        }
        .form-input{
            margin-bottom: 15px;
            input{
                width: 100%;
                background-color: rgba(255,255,255,.3);
                height: 50px;
                font-size: 20px;
                border: 0;
                padding: 0 20px;
                color: #fff;
                &::placeholder{
                    color: #fff;
                }
            }
        }
        button{
            width: 100%;
            // margin-top: 15px;
            text-transform: uppercase;
            font-size: 20px;
        }
    }
}
.university-title{
    margin-bottom: 30px;
    color: #5e4eb4;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.university-gallery-item{
    display: flex!important;
    flex-wrap: wrap;
    .gallery-img{
        display: block;
        width: 20%;
        padding: 5px;
        @media screen and (max-width: 425px){
            width: 50%;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.advantage-tags-scroll{
    overflow-x: auto;
}
.advantage-tags-nav{
    display: flex;
    border-bottom: 2px solid #999999;
    width: 100%;
    &__item{
        font-size: 18px;
        color: #999999;
        font-weight: bold;
        padding: 0 20px;
        margin-bottom: 0!important;
        padding-bottom: 15px;
        &:hover{
            cursor: pointer;
        }
        &:before{
            display: none;
        }
    }
    .active{
        color: #5E4EB4;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: #5E4EB4;
            left: 0;
            bottom: -2px;
        }
    }
}
.advantage-tags-content{
    iframe{
        max-width: 100%;
        width: 100%;
        height: 500px;
        @media screen and (max-width: 768px){
            height: 400px;
        }
        @media screen and (max-width: 425px){
            height: 300px;
        }
        @media screen and (max-width: 375px){
            height: 250px;
        }
    }
    &__item{
        display: none;
    }
    .active{
        display: block;
    }
    p{
        margin-bottom: 20px;
        font-size: 18px;
    }
}
.university-specialty{
    button{
        padding: 0 20px;
    }
}
.specialty-list-container{
    height: 170px;
    overflow: hidden;
    margin-bottom: 20px;
}
.specialty-list-open{
    height: auto;
}
.specialty-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0!important;
    &__item{
        width: 33%;
        font-size: 18px;
        color: #383e40;
        margin-bottom: 15px;
        padding-left: 15px;
        position: relative;
        @media screen and (max-width: 767px){
            width: 50%;
        }
        @media screen and (max-width: 600px){
            width: 100%;
        }
        &:before{
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: #383e40;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
}

.training-program-wrapper{
    display: flex;
    flex-wrap: wrap;
    .item{
        width: 33%;
        padding: 5px;
        @media screen and (max-width: 1024px){
            width: 50%;
        }
        @media screen and (max-width: 730px){
            width: 100%;
        }
        .item-container{
            background-color: #5e4eb4;
            background-image: url(../img/images/bg-countries.png);
            padding: 20px;
            color: #fff;
        }
        .item-title{
            font-size: 21px;
            margin-bottom: 10px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and (max-width: 375px){
                font-size: 18px;
            }
        }
        .item-info-i{
            display: flex;
            margin-bottom: 7px;
            align-items: center;
            .left{
                display: block;
                width: 140px;
                background-color: #ffffff;
                color: #5e4eb4;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 5px;
                @media screen and (max-width: 375px){
                    font-size: 13px;
                }
            }
            .right{
                padding-left: 10px;
            }
        }
    }
}

.university-residence{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.university-residence-item{
    width: 25%;
    @media screen and (max-width: 750px){
        width: 50%;
    }
    &__container{
        text-align: center;
        padding: 15px;
        display: flex;
        flex-direction: column;
        transition: 0.25s all;
        &:hover{
            cursor: pointer;
            background-color: #5e4eb4;
            .university-residence-item__title{
                color: #fff;
            }
        }
    }
    &__img{
        width: 68px;
        height: 65px;
        background-repeat: no-repeat;
        margin: 0 auto;
        margin-bottom: 15px;
        
    }
    &__title{
        color: #383e40;
        font-size: 18px;
        transition: 0.25s all;
        @media screen and (max-width: 600px){
            font-size: 15px;
        }
    }
}