.section-search{
    max-width: 750px;
    margin: 0 auto;
    .search-form__input{
        background-color: #F8F8F8;
    }
}
.countries-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  @media screen and (max-width: 960px){
    margin: 0 -10px;
  }
    .section-countries-item{
        width: 25%;
        margin-bottom: 30px;
      @media screen and (max-width: 960px){
        width: 33.3%;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 680px){
        width: 50%;
      }
      @media screen and (max-width: 480px){
        width: 100%;
    }
    }
    .btn-link-more{
        padding: 15px 40px;
    }
}
.filter-checkbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    &__item{
        margin-right: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        color: #8C8C8C;
        font-weight: bold;
        &:hover{
            color: #2D3436;
        }
        input{
            display: none;
        }
        input:checked~label{
            color: #2D3436;
        }
    }
}