.course-compass{
    display: flex;
    flex-wrap: wrap;
}
.course-compass-item{
    width: 33.3%;
    padding: 0 15px;
    margin-bottom: 30px;
    @media screen and (max-width: 1000px){
        width: 50%;
    }
    @media screen and (max-width: 690px){
        width: 100%;
    }
    &__c{
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.12);
    }
    &__title{
        padding: 25px 20px;
        font-size: 20px;
        font-weight: 700;
        color: #FFFFFF;
        background-color: #5B9EE2;
        margin-bottom: 25px;
    }
}
.course-compass-item-option{
    padding: 0 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.course-compass-item-option-title{
    color: #2D3436;
    font-weight: 500;
    font-size: 16px;
    padding-right: 10px;
}
.course-compass-item-option-value{
    color: #2D3436;
    font-weight: 700;
    font-size: 16px;
}
.course-compass-item-button{
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(#000,0);
    font-weight: 700;
    font-size: 16px;
    color: #2161A3;
    border-bottom: 1px solid ;
    padding: 0;
}
