.section-events-wrapper{
    margin-top: 70px;
}
.section-events-item{
    margin-bottom: 80px;
    position: relative;
    color: #fff;
    &__left{
        @media screen and (max-width: 1065px){
            display: none;
        }
    }
    &__container{
        display: flex;
        background-image: url(../img/images/bg-countries.png);
        background-repeat: no-repeat;
        background-position: right;;
    }
    &__img{
        width: 275px;
        display: block;
        img{
            width: 275px;
            height: 300px;
            position: absolute;
            top: -25px;
        }
    }
    &__right{
        padding-left: 40px;
        padding-top: 60px;
        padding-right: 40px;
        padding-bottom: 55px;
        @media screen and (max-width: 630px){
            padding-left: 20px;
            padding-top: 40px;
            padding-right: 20px;
            padding-bottom: 40px;
        }
    }
    &__places{
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #2d3436;
        line-height: 48px;
        position: absolute;
        top: -25px;
        right: 0;
        width: 200px;
        text-align: center;
        @media screen and (max-width: 630px){
            font-size: 14px;
            width: 160px;
            top: -16px;
            line-height: 30px;
        }
    }
    &__title{
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 30px;
        display: block;
        @media screen and (max-width: 768px){
            font-size: 18px;
        }
        @media screen and (max-width: 425px){
            font-size: 14px;
        }
    }
    &__btn{
        width: 200px;
        right: 0;
        bottom: -25px;
        position: absolute;
        line-height: 48px;
        font-weight: 700;
        @media screen and (max-width: 630px){
            width: 160px;
            bottom: -15px;
            line-height: 30px;
            font-size: 14px;
            right: auto;
            left: 0;
        }
        &--done{
            background-color: #2d3436;
            color: #fff;
        }
    }
    .info{
        display: flex;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        height: 55px;
        @media screen and (max-width: 768px){
            justify-content: space-between;
            font-size: 16px;
        }
        @media screen and (max-width: 630px){
            font-size: 14px;
            flex-wrap: wrap;
        }
        &__item{
            padding-left: 65px;
            margin-right: 65px;
            position: relative;
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px){
                margin-right: 0;
                width: 33.3%;
            }
            @media screen and (max-width: 630px){
                padding-left: 45px;
                width: 50%;
                margin-bottom: 30px;
            }
            &:before{
                content: '';
                position: absolute;
                background-size: contain;
                left: 0;
                background-repeat: no-repeat;
                top: 50%;
                transform: translateY(-50%);
                width: 45px;
                height: 45px;
                @media screen and (max-width: 630px){
                    width: 32px;
                    height: 32px;
                }
            }
        }
        &__data{
            &:before{
                background-image: url("data:image/svg+xml,%3Csvg width='412' height='411' viewBox='0 0 412 411' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.800049 407.2C0.800049 282.4 0.800049 157.6 0.800049 32.8C2.50005 32.7 4.30005 32.6 6.00005 32.6C38.4 32.6 70.8 32.6 103.2 32.7C106.2 32.7 107.5 32 108.5 28.9C113.6 13 129.7 2.50001 145.5 4.50001C163.7 6.70001 177.2 21.5 177.4 39.3C177.6 57.1 164.4 72.1 146.2 74.7C139.7 75.6 135.7 73.5 135.1 68.7C134.6 64.1 137.6 61.4 144.3 60.7C156 59.5 164.6 48.5 163 36.6C161.5 25 149.8 16.6 138.2 18.8C130.8 20.2 124 26.2 122.9 32.7C127.1 32.7 131.2 32.5 135.2 32.8C139.2 33 141.7 35.8 141.7 39.6C141.8 43.3 139.4 46.1 135.5 46.7C133.9 46.9 132.3 46.9 130.7 46.9C93.9 46.9 57.1 46.9 20.3 46.9C18.6 46.9 16.9 46.9 14.7 46.9C14.7 48.8 14.7 50.3 14.7 51.7C14.7 64.8 14.7 77.8 14.7 90.9C14.7 96.3 14.7 96.3 20.1 96.3C69.7 96.3 119.3 96.3 168.9 96.3C242.9 96.3 316.9 96.3 390.9 96.3C396 96.3 396.1 96.3 396.1 91C396.1 77.8 396.1 64.6 396.1 51.4C396.1 50 395.9 48.6 395.8 47.1C394.6 47 393.8 46.9 393 46.9C364.2 46.9 335.4 46.9 306.6 46.8C304 46.8 303.3 48 302.6 50.2C297.9 64.5 285.5 74.2 271 75.1C265.9 75.4 262.4 72.9 262 68.7C261.6 64.5 264.6 61.4 269.7 61C281.7 59.8 290.1 51.2 290.1 39.9C290.1 28.6 281.7 19.8 269.8 18.7C264.6 18.2 261.6 15.3 261.9 11.1C262.3 6.70001 266 4.10001 271.2 4.60001C286.6 6.30001 297.2 14.4 302.3 29C303.4 32.2 304.9 32.9 308 32.9C340.3 32.8 372.5 32.8 404.8 32.8C406.5 32.8 408.1 32.8 409.9 32.8C409.9 157.9 409.9 282.3 409.9 407.2C407.8 407.2 406 407.2 404.1 407.2C271.4 407.2 138.8 407.2 6.10004 407.2C4.50004 407 2.70005 407.1 0.800049 407.2ZM99.8 153.2C99.8 140.1 99.7 127.1 99.9 114C99.9 111 99 110.1 96 110.1C70.3 110.2 44.6 110.2 18.9 110.1C16.1 110.1 14.9 110.7 14.9 113.8C15 139.6 15 165.5 14.9 191.3C14.9 194.1 15.8 195 18.6 194.9C44.4 194.8 70.3001 194.8 96.1001 194.9C99.2001 194.9 99.9 193.9 99.9 191C99.7 178.5 99.8 165.9 99.8 153.2ZM156 110.3C143.3 110.3 130.7 110.4 118 110.2C114.7 110.2 113.7 111.1 113.7 114.5C113.8 140 113.8 165.4 113.7 190.9C113.7 194.2 114.5 195.2 117.9 195.2C143.4 195.1 168.8 195.1 194.3 195.2C197.6 195.2 198.6 194.4 198.6 191C198.5 165.5 198.5 140.1 198.6 114.6C198.6 111.3 197.8 110.2 194.4 110.3C181.6 110.4 168.8 110.3 156 110.3ZM297.4 110.5C295.7 110.4 294.7 110.2 293.7 110.2C268 110.2 242.3 110.3 216.5 110.1C213.1 110.1 212.6 111.4 212.6 114.4C212.7 139.7 212.7 165 212.6 190.4C212.6 194 213.5 195.2 217.2 195.1C242.4 194.9 267.6 194.9 292.8 195.1C296.4 195.1 297.5 194.2 297.5 190.5C297.3 165.3 297.4 140.1 297.4 114.9C297.4 113.6 297.4 112.3 297.4 110.5ZM396.3 152.8C396.3 139.9 396.3 127 396.3 114C396.3 111.5 395.9 110.1 392.8 110.1C366.8 110.2 340.9 110.2 314.9 110.1C312 110.1 311.3 111.1 311.3 113.8C311.4 139.6 311.4 165.5 311.3 191.3C311.3 194.1 312.2 194.9 315 194.9C340.8 194.8 366.7 194.8 392.5 194.9C395.6 194.9 396.3 193.8 396.3 191C396.2 178.4 396.3 165.6 396.3 152.8ZM99.4 293.7C99.6 292.6 99.8 291.9 99.8 291.1C99.8 264.8 99.8 238.6 99.9 212.3C99.9 209.1 98.4 209 96 209C70.4 209 44.8 209.1 19.2 209C15.9 209 14.9 210 14.9 213.3C15 238.8 15 264.2 14.9 289.7C14.9 293.4 16.1 294.1 19.5 294.1C44.8 294 70.1 294 95.5 294C96.7 293.9 98 293.8 99.4 293.7ZM114 293.6C115.3 293.7 116.2 293.9 117.1 293.9C143.1 293.9 169 293.9 195 294C198.3 294 198.6 292.6 198.6 289.9C198.5 264.3 198.5 238.8 198.6 213.2C198.6 209.8 197.4 209 194.2 209C168.9 209.1 143.6 209.1 118.3 209C114.5 209 113.6 210.1 113.7 213.7C113.8 238.9 113.8 264 113.8 289.2C113.8 290.6 113.9 292 114 293.6ZM311.4 293.6C312.9 293.7 314 293.9 315 293.9C340.9 293.9 366.7 293.9 392.6 294C395.7 294 396.3 292.9 396.3 290C396.2 264.4 396.2 238.8 396.3 213.2C396.3 209.9 395.4 208.9 392 208.9C366.5 209 341.1 209 315.6 208.9C311.9 208.9 311.2 210.1 311.2 213.5C311.3 238.8 311.3 264.1 311.3 289.5C311.4 290.8 311.4 292.1 311.4 293.6ZM99.8 308.2C71.3 308.2 43.3 308.2 15.2 308.2C15.1 309.5 15 310.5 15 311.5C15 337.2 15.1 363 14.9 388.7C14.9 392.3 16.3 392.8 19.4 392.8C44.7 392.7 70.1 392.7 95.4 392.8C99.3 392.8 100 391.5 100 388C99.9 362.8 99.9 337.6 99.9 312.4C99.8 311.2 99.8 309.9 99.8 308.2ZM114 308.1C113.9 309.2 113.8 310 113.8 310.8C113.8 336.9 113.8 363 113.7 389.1C113.7 392.3 115 392.8 117.8 392.8C143.4 392.7 169 392.7 194.5 392.8C198.1 392.8 198.6 391.4 198.6 388.3C198.5 362.9 198.5 337.4 198.5 312C198.5 310.7 198.3 309.5 198.3 308.1C170.1 308.1 142.2 308.1 114 308.1ZM212.9 308.1C212.8 309.7 212.7 310.8 212.7 312C212.7 337.4 212.8 362.9 212.6 388.3C212.6 391.8 213.6 392.8 217.1 392.8C242.4 392.7 267.7 392.7 293 392.8C296.5 392.8 297.5 391.9 297.5 388.3C297.4 362.9 297.4 337.4 297.4 312C297.4 310.7 297.3 309.4 297.2 308.1C269 308.1 241.2 308.1 212.9 308.1ZM311.6 308.2C311.5 309.7 311.4 311 311.4 312.3C311.4 337.6 311.5 363 311.3 388.3C311.3 392.2 312.6 392.9 316.1 392.9C341.3 392.8 366.5 392.8 391.7 392.9C395.5 392.9 396.4 391.7 396.3 388.1C396.2 362.9 396.2 337.7 396.2 312.5C396.2 311.1 396.1 309.7 396 308.2C367.7 308.2 339.8 308.2 311.6 308.2ZM297.1 293.9C297.3 292.4 297.4 291.4 297.4 290.3C297.4 264.5 297.3 238.6 297.5 212.8C297.5 209.4 296.1 208.9 293.2 209C267.8 209.1 242.3 209 216.9 209.1C215.6 209.1 214.3 209.2 212.6 209.3C212.6 211.1 212.6 212.6 212.6 214C212.6 239 212.7 264.1 212.5 289.1C212.5 292.9 213.5 294 217.4 294C242.4 293.8 267.5 293.9 292.5 293.9C294 293.9 295.4 293.9 297.1 293.9Z' fill='white'/%3E%3Cpath d='M262 39.6C262 58.3 247.3 73.9 228.7 74.9C223.5 75.2 220.2 72.7 219.9 68.4C219.6 64 222.4 61.3 227.7 60.8C239.7 59.7 248 51 248 39.7C248 28.3 239.7 19.6 227.7 18.5C222.4 18 219.6 15.3 219.8 10.9C220.1 6.6 223.5 4.00001 228.6 4.30001C247.3 5.40001 262 20.9 262 39.6Z' fill='white'/%3E%3Cpath d='M219.6 40.6C218.8 59 205.1 73.4 186.9 74.9C181.8 75.3 178.5 73.4 177.6 69.4C176.6 65 179.6 61.2 184.7 60.9C190.3 60.6 195.1 58.7 199.1 54.8C205.4 48.6 207.2 41.1 204.4 32.8C201.6 24.7 195.6 20.1 187.1 18.6C186.2 18.4 185.2 18.5 184.3 18.4C179.9 17.9 177.3 15 177.5 11.1C177.7 7.00001 180.8 4.3 185.3 4.3C204.2 4.4 220.5 21.6 219.6 40.6Z' fill='white'/%3E%3Cpath d='M254.4 242.2C262 234.6 268.5 228.1 275 221.6C276.1 220.5 277.2 219.3 278.5 218.3C281.8 215.5 285.8 215.7 288.5 218.6C291.1 221.3 291.1 225.3 288.2 228.3C283.2 233.5 278.1 238.6 273 243.6C270.4 246.1 267.7 248.4 264 251.7C267.9 255.1 271.1 257.7 274 260.5C278.7 265 283.3 269.6 287.8 274.3C291.1 277.7 291.2 281.7 288.3 284.6C285.4 287.4 281.2 287.4 278 284.2C271.3 277.7 264.8 271.1 258.1 264.5C257.2 263.6 256.2 262.7 254.6 261.2C247.9 268.2 241.3 274.9 234.8 281.7C234 282.6 233.1 283.4 232.2 284.2C228.8 287.3 224.7 287.4 221.8 284.6C218.9 281.8 219 277.6 222.2 274.3C228.4 268 234.6 261.8 240.9 255.7C242.2 254.4 244 253.6 246 252.2C238.4 244.7 231.9 238.2 225.4 231.8C224.5 230.9 223.5 230 222.5 229C219.1 225.5 218.8 221.2 221.7 218.4C224.7 215.4 228.9 215.6 232.3 219C238.8 225.3 245.2 231.8 251.5 238.2C252.6 239.2 253.3 240.6 254.4 242.2Z' fill='white'/%3E%3C/svg%3E%0A");
            }
        }
        &__time{
            &:before{
                background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iLTgyIDE2OS45IDQ4IDQ5IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IC04MiAxNjkuOSA0OCA0OTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fS5zdDF7ZmlsbDojRkZGRkZGO308L3N0eWxlPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9Ii01OC4zIiBjeT0iMTk0LjUiIHI9IjE5Ii8+PHBhdGggY2xhc3M9InN0MSIgZD0iTS01MC4xLDE5OC4yaC04LjFjMCwwLTAuMSwwLTAuMSwwYzAsMC0wLjEsMC0wLjEsMGMtMC43LDAtMS4zLTAuNi0xLjMtMS4zdi0xMy40YzAtMC43LDAuNi0xLjMsMS4zLTEuM2MwLjcsMCwxLjMsMC42LDEuMywxLjN2MTIuMWg2LjljMC43LDAsMS4zLDAuNiwxLjMsMS4zQy00OC44LDE5Ny42LTQ5LjQsMTk4LjItNTAuMSwxOTguMnoiLz48L3N2Zz4=);
            }
        }
        &__position{
            padding-left: 45px;
            @media screen and (max-width: 630px){
                width: 100%;
            }
            &:before{
                background-image: url("data:image/svg+xml,%3Csvg width='19' height='26' viewBox='0 0 19 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 0C4.26167 0 0 4.22409 0 9.41617C0 15.8597 8.50157 25.3192 8.86353 25.7188C9.20351 26.0941 9.7971 26.0934 10.1365 25.7188C10.4984 25.3192 19 15.8597 19 9.41617C18.9999 4.22409 14.7383 0 9.5 0ZM9.5 14.1537C6.86447 14.1537 4.72036 12.0285 4.72036 9.41617C4.72036 6.80388 6.86452 4.67869 9.5 4.67869C12.1355 4.67869 14.2796 6.80393 14.2796 9.41623C14.2796 12.0285 12.1355 14.1537 9.5 14.1537Z' fill='%23fff'/%3E%3C/svg%3E%0A");
            }   
        }
    }
}
