section.section.section-events
    .container-min
        .section-title Наши мероприятия
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .section-events-wrapper
            .section-events-item
                .section-events-item__container(style="background-color: #1689fe;")
                    .section-events-item__left
                        a(href="#").section-events-item__img
                            img(src="/img/images/events_1.jpg", alt="Бесплатные вебинары для тех, кто планирует поступать в университет за границей")
                    .section-events-item__right
                        .section-events-item__places Осталось 20 мест
                        a(href="#").section-events-item__title Бесплатные вебинары для тех, кто планирует поступать в университет за границей
                        .section-events-item__info.info
                            .info__data.info__item 24/04/19
                            .info__time.info__item 13:00
                            .info__position.info__item Онлайн
                        button.btn-yellow.section-events-item__btn.btn-feedback Участвовать
            .section-events-item
                .section-events-item__container(style="background-color: #74b9ff;")
                    .section-events-item__left
                        a(href="#").section-events-item__img
                            img(src="/img/images/events_2.jpg", alt="Бесплатные вебинары для тех, кто планирует поступать в университет за границей")
                    .section-events-item__right
                        .section-events-item__places Осталось 20 мест
                        a(href="#").section-events-item__title Бесплатные вебинары для тех, кто планирует поступать в университет за границей
                        .section-events-item__info.info
                            .info__data.info__item 24/04/19
                            .info__time.info__item 13:00
                            .info__position.info__item Днепр, Чкалова 37
                        button.btn-yellow.section-events-item__btn.btn-feedback Участвовать
        .button-morelink
            a(href="#").btn-base.btn-link-more Все мероприятия
