extends template/default

block variables
    - var title = 'Страница не найдена'
    - var pageClass = 'page-404'
    - var page = 'Home'
    - var pageName = 'Страница не найдена'

block content
    //You section or content
    section.section
        .container
            .content-404
                .title-404 404
                .longtitle-404  Вы перешли на несуществующую страницу 404
                a(href="/").btn-base.btn-link-more Перейти на главную



