extends template/default

block variables
	- var title = 'О нас'
	- var pageClass = 'about-us-page'
	- var page = 'Home'
	- var bgBanner = "background-image: url(/img/images/about-us-banner.jpg);"
	- var pageName = 'О нас'
	- var bannerBase__title = "ПОЧЕМУ ИМЕННО Compass?"
	- var bannerBase__description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in"

block content
	//You section or content
	include ../blocks/modules/banner-base/banner-base.pug
	include ../blocks/modules/history/history.pug
	include ../blocks/modules/map-un/map-un.pug
	include ../blocks/modules/team/team.pug
	include ../blocks/modules/partners/partners.pug
	include ../blocks/modules/section-reviews/section-reviews.pug
	include ../blocks/modules/section-events/section-events.pug
	include ../blocks/modules/form-partners/form-partners.pug
	include ../blocks/modules/latest-news/latest-news.pug
	include ../blocks/modules/form-subscription/form-subscription.pug