extends template/default

block variables
	- var title = 'Подготовка к поступлению'
	- var pageClass = 'blog-page'
	- var page = 'Home'
	- var pageName = 'Подготовка к поступлению'

block content
	//You section or content
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
		.article-content
			h1.text-center Подготовка к поступлению
			.article-info-tom
				.article-time Время чтения: <b>10 мин</b>
				button.btn-base.btn-yellow Нет времени читать?
			.article-info-left
				.latest-news-item__info.info
					.info__cat НОВОСТИ
					.info__date 23 апр 2019
					.info__view 811
					button.info__like 46
			h2 Неоходимые документы
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров. Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
			img(src="./img/images/image.png")
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
			h2 Что лучше выбрать
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
	include ../blocks/modules/social-sharing/social-sharing
	.container
		h2.text-center Рекомендованные статьи
		br
		.latest-news-wrapper
			include ../blocks/components/news-item/news-item.pug
			include ../blocks/components/news-item/news-item.pug
			include ../blocks/components/news-item/news-item.pug
		.text-center
			button.btn-base.btn-more загрузить ещё
