extends template/default

block variables
	- var title = 'Блог'
	- var pageClass = 'blog-page'
	- var page = 'Home'
	- var pageName = 'Блог'

block content
	//You section or content
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
		h1.section-title Блог Compass
		.section-universities-tags.tags-blog
			.section-universities-tags__item
				input(type="radio", name="section-universities-tag", id="section-universities-tag1")
				label(for="section-universities-tag1") ВСЕ
			.section-universities-tags__item
				input(type="radio", name="section-universities-tag", id="section-universities-tag2")
				label(for="section-universities-tag2") АКЦИИ
			.section-universities-tags__item
				input(type="radio", name="section-universities-tag", id="section-universities-tag3")
				label(for="section-universities-tag3")  НОВОСТИ
			.section-universities-tags__item
				input(type="radio", name="section-universities-tag", id="section-universities-tag4")
				label(for="section-universities-tag4")  СТАТЬИ
		.latest-news-wrapper
			include ../blocks/components/news-item/news-item.pug
			include ../blocks/components/news-item/news-item.pug
			include ../blocks/components/news-item/news-item.pug
			include ../blocks/components/news-item/news-item.pug
			include ../blocks/components/news-item/news-item.pug
			include ../blocks/components/news-item/news-item.pug
		.button-morelink
			a(href="#").btn-base.btn-link-more Посмотреть все
	include ../blocks/modules/social-sharing/social-sharing