extends template/default

block variables
	- var title = 'Визы'
	- var pageClass = 'challenge-page'
	- var page = 'Home'
	- var pageName = 'Страны'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				h1.banner-smart__title Помощь в получении визы
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base.btn-feedback Получить консультацию
	.section.article-page
		.container
			h2.text-center Страны для получения визы
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.challenge-wrap

				.challenge-item
					.challenge-item__c
						.challenge-item__img
							img(src="/img/images/usa-flag.png")
						.challenge-item__content
							.challenge-item__title США
							.challenge-item__list
								.challenge-item___list-name Студенческая виза:
								.challenge-item___list-value $400
							.challenge-item__list
								.challenge-item___list-name Рабочая виза:
								.challenge-item___list-value $700
							.challenge-item__list
								.challenge-item___list-name Сроки оформления:
								.challenge-item___list-value 21-30 дн.
							a(href="/").challenge-item__link
								span Узнать подробнее
				.challenge-item
					.challenge-item__c
						.challenge-item__img
							img(src="/img/images/usa-flag.png")
						.challenge-item__content
							.challenge-item__title США
							.challenge-item__list
								.challenge-item___list-name Студенческая виза:
								.challenge-item___list-value $400
							.challenge-item__list
								.challenge-item___list-name Рабочая виза:
								.challenge-item___list-value $700
							.challenge-item__list
								.challenge-item___list-name Сроки оформления:
								.challenge-item___list-value 21-30 дн.
							a(href="/").challenge-item__link
								span Узнать подробнее
				.challenge-item
					.challenge-item__c
						.challenge-item__img
							img(src="/img/images/usa-flag.png")
						.challenge-item__content
							.challenge-item__title США
							.challenge-item__list
								.challenge-item___list-name Студенческая виза:
								.challenge-item___list-value $400
							.challenge-item__list
								.challenge-item___list-name Рабочая виза:
								.challenge-item___list-value $700
							.challenge-item__list
								.challenge-item___list-name Сроки оформления:
								.challenge-item___list-value 21-30 дн.
							a(href="/").challenge-item__link
								span Узнать подробнее
				.challenge-item
					.challenge-item__c
						.challenge-item__img
							img(src="/img/images/usa-flag.png")
						.challenge-item__content
							.challenge-item__title США
							.challenge-item__list
								.challenge-item___list-name Студенческая виза:
								.challenge-item___list-value $400
							.challenge-item__list
								.challenge-item___list-name Рабочая виза:
								.challenge-item___list-value $700
							.challenge-item__list
								.challenge-item___list-name Сроки оформления:
								.challenge-item___list-value 21-30 дн.
							a(href="/").challenge-item__link
								span Узнать подробнее
				.challenge-item
					.challenge-item__c
						.challenge-item__img
							img(src="/img/images/usa-flag.png")
						.challenge-item__content
							.challenge-item__title США
							.challenge-item__list
								.challenge-item___list-name Студенческая виза:
								.challenge-item___list-value $400
							.challenge-item__list
								.challenge-item___list-name Рабочая виза:
								.challenge-item___list-value $700
							.challenge-item__list
								.challenge-item___list-name Сроки оформления:
								.challenge-item___list-value 21-30 дн.
							a(href="/").challenge-item__link
								span Узнать подробнее
				.challenge-item
					.challenge-item__c
						.form-aside
							.form-aside__title Подать заявку
							form.form-asidei-inputs
								.select-wrap
									select
										option Выбрать страну
										option США
										option США
								input(type="text" placeholder="Введите ваше Имя" , required)
								input(type="text" placeholder="Введите ваш номер телефона" , required)
								button.btn-base.btn-yellow Подать заявку
			.button-morelink
				a(href="/").btn-base.btn-link-more ВСЕ СТРАНЫ
	.section.article-page
		.container
			h2.text-center Что входит в стоимость оформления
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			ul.list-col-2
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
			.section.how-working
			h2.text-center Почему именно Compass
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.how-working-wrapper
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_1.png", alt="Надежность")
						.how-working-item__content
							.how-working-item__title Надежность
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_2.png", alt="Опыт")
						.how-working-item__content
							.how-working-item__title Опыт
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_3.png", alt="Открытость")
						.how-working-item__content
							.how-working-item__title Открытость
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_4.png", alt="Вовлеченность")
						.how-working-item__content
							.how-working-item__title Вовлеченность
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
