extends template/default

block variables
    - var title = 'Сравнения'
    - var pageClass = ' base-page'
    - var page = 'Home'
    - var pageName = 'Страны'

block content
    //You section or content
    .container
        include ../blocks/components/breadcrumbs/breadcrumbs.pug
        .section-title Вы отметили в избранное
        .section-description Сравните выбранные Вами ВУЗы по нашей таблице
        .compare-table
            table.compare-table-filter
                thead
                    tr
                        th <b>ВУЗ</b>
                        th <button class="table-sort table-sort-up">Цена</button>
                        th Страна
                        th Город
                        th Количество <br> студентов
                        th Тип
                        th Резиденция
                tbody
                    tr.table-filter-item
                        td <b>The University of Toledo 1</b>
                        td(data-price="1000") 1000$
                        td США
                        td Хемптонс
                        td 5k
                        td Гос
                        td Есть
                    tr.table-filter-item
                        td <b>The University of Toledo 2</b>
                        td(data-price="800") 800$
                        td США
                        td Хемптонс
                        td 5k
                        td Гос
                        td Есть
                    tr.table-filter-item
                        td <b>The University of Toledo 3</b>
                        td(data-price="2800") 2800$
                        td США
                        td Хемптонс
                        td 5k
                        td Гос
                        td Есть
                    tr.table-filter-item
                        td <b>The University of Toledo 4</b>
                        td(data-price="10") 10$
                        td Канада
                        td Хемптонс
                        td 5k
                        td Гос
                        td Есть
                    tr.table-filter-item
                        td <b>The University of Toledo 4</b>
                        td(data-price="1960") 1960$
                        td Канада
                        td Хемптонс
                        td 5k
                        td Гос
                        td Есть
                    tr.table-filter-item
                        td <b>The University of Toledo 4</b>
                        td(data-price="10000") 10000$
                        td Канада
                        td Хемптонс
                        td 5k
                        td Гос
                        td Есть
        .button-morelink
            button.btn-base.btn-more сравнить все
    include ../blocks/modules/form-partners/form-partners


