extends template/default

block variables
	- var title = 'Контакты'
	- var pageClass = 'contacts-page'
	- var page = 'Home'
	- var pageName = 'Контакты'

block content
	//You section or content
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
		.contacts-wrapper
			.contacts-left.contacts-item
				.section-title.text-left Давайте познакомимся
				.text-normal Что вас интересует?
				.contacts-tabs
					ul.tabs-nav
						li.tabs-nav-item.active
							span Высшее образование
						li.tabs-nav-item.tabs-nav-item--smoll
							span Среднее
						li.tabs-nav-item
							span Языковые курсы
						li.tabs-nav-item
							span Каникулы за рубежом 
						li.tabs-nav-item.tabs-nav-item--smoll
							span Виза
						li.tabs-nav-item
							span Туры 
					.tabs-content
						.tabs-content-item.active
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 2
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 3
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 4
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 5
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
						.tabs-content-item
							.contacts-person
								.contacts-person__left
									.contacts-person__avatar
										img(src="/img/images/contacts-avatar.jpg", alt="Ирина")
								.contacts-person__right
									.contacts-person__title Ирина 6
									.contacts-person__description Lorem ipsum dolor sit amet, consectetur adipisicing elitcommodo consequat.
									a(href="mailto:info@compass.in.ua").contacts-person__email info@compass.in.ua
				form.form-person
					.input-item
						input(type="text", name="Name", placeholder="Ваше имя", required)
					.input-item
						input(type="text", name="Phone", placeholder="Ваш номер телефона", required)
					.input-item
						input(type="text", name="ask", placeholder="Задавайте любые вопросы", required)
					.input-item
						button.btn-base.btn-yellow.form-person__btn Отправить
			.contacts-right.contacts-item
				.section-title.text-left Наши контакты
				.contacts-info
					.contacts-info__left
						.contacts-info__item
							.contacts-info__title Почта
							a(href="mailto:info@compass.in.ua").contacts-info__value info@compass.in.ua
						.contacts-info__item
							.contacts-info__title Адрес
							.contacts-info__value г. Днепр, ул. Гоголя 19
						.contacts-info__item
							.contacts-info__title Время работы
							.contacts-info__value Пн - Пт (10:00 - 18:00)
							.contacts-info__value Сб - Вс выходной
					.contacts-info__right
						.contacts-info__item
							.contacts-info__title Контактные номера <br><br>
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
							a(href="tel:+38(067) 911-59-20").contacts-info__value +38(067) 911-59-20
						ul.social-links.contacts-social
							li
								a(href="#").social-google
							li
								a(href="#").social-facebook
							li
								a(href="#").social-instagram
							li
								a(href="#").social-youtube
				.contacts-map
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.009191572657!2d35.04895201566017!3d48.456353179250165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2d856bb4857%3A0x8d0bb26a6a3394d2!2z0YPQuy4g0JPQvtCz0L7Qu9GPLCAxOSwg0JTQvdC40L_RgNC-LCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1569525886674!5m2!1sru!2sua" width="100%" height="210" frameborder="0" style="border:0;" allowfullscreen=""></iframe>		

