extends template/default

block variables
	- var title = 'Страны'
	- var pageClass = 'countries-page'
	- var page = 'Home'
	- var pageName = 'Страны'

block content
	//You section or content
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
		h1.section-title Выбери страну
		.section-search
			form.search-form
				.search-form-input
					input.search-form__input(type="text", placeholder="Введите название страны")
					button.search-form__btn
		.section-filter
			.filter-checkbox
				.filter-checkbox__item
					input(type="checkbox",  id="filter-checkbox_1")
					label(for="filter-checkbox_1") Все (16)
				.filter-checkbox__item
					input(type="checkbox",  id="filter-checkbox_2")
					label(for="filter-checkbox_2") Западная Европа (14)
				.filter-checkbox__item
					input(type="checkbox",  id="filter-checkbox_3")
					label(for="filter-checkbox_3") Восточная Европа (2)
				.filter-checkbox__item
					input(type="checkbox",  id="filter-checkbox_4")
					label(for="filter-checkbox_4") Восточная Европа (2)
				.filter-checkbox__item
					input(type="checkbox",  id="filter-checkbox_5")
					label(for="filter-checkbox_5") Южная Европа (1)
				.filter-checkbox__item
					input(type="checkbox",  id="filter-checkbox_6")
					label(for="filter-checkbox_6") Северная Америка (2)
		section.section-countries
			.countries-wrapper
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-france.png", alt="Франция")
						.section-countries-item__body
							.section-countries-item__title Франция
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-germany.png", alt="Германия")
						.section-countries-item__body
							.section-countries-item__title Германия
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/usa-flag.png", alt="США")
						.section-countries-item__body
							.section-countries-item__title США
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-france.png", alt="Франция")
						.section-countries-item__body
							.section-countries-item__title Франция
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-germany.png", alt="Германия")
						.section-countries-item__body
							.section-countries-item__title Германия
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/usa-flag.png", alt="США")
						.section-countries-item__body
							.section-countries-item__title США
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-france.png", alt="Франция")
						.section-countries-item__body
							.section-countries-item__title Франция
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-germany.png", alt="Германия")
						.section-countries-item__body
							.section-countries-item__title Германия
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/usa-flag.png", alt="США")
						.section-countries-item__body
							.section-countries-item__title США
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее 
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
			.button-morelink
				button.btn-base.btn-more загрузить ещё

	include ../blocks/modules/form-partners/form-partners.pug