extends template/default

block variables
	- var title = 'Образование в британии'
	- var pageClass = 'index-page'
	- var page = 'Home'
	- var pageName = 'Образование в британии'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/country.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				.banner-smart__title образование в британии
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную <br> консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base Подобрать программу
	include ../blocks/modules/categories-banner/categories-banner.pug
	section.section
		.container
			.article-page
				.article-content
					h2.section-title.text-center Как получить образование в Великобритании?
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					h2.section-title.text-center Курсы в Британии
					.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			include ../blocks/components/universities/universities.pug
			.button-morelink
				button.btn-base.btn-more загрузить ещё
	section.section.section-video
		.container
			<iframe src="https://www.youtube.com/embed/4hvtIPjr5SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	section.section
		.container
			.article-page
				.article-content
					h2.section-title.text-left Как получить образование в Великобритании?
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					h2.section-title.text-left Вступительные требования
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					h2.section-title.text-left Стоимость высшего образования в Англии
					ul.list-col-2
						li Комплектация полного пакета документов.
						li Комплектация полного пакета документов.
						li Комплектация полного пакета документов.
						li Комплектация полного пакета документов.
						li Комплектация полного пакета документов.
						li Комплектация полного пакета документов.
			h2.section-title.text-center Популярные курсы
			br
			include ../blocks/components/universities/universities.pug
	include ../blocks/modules/form-partners/form-partners.pug
	include ../blocks/modules/latest-news/latest-news.pug
