extends template/default

block variables
    - var title = 'Направления'
    - var pageClass = 'base'
    - var page = 'Home'
    - var pageName = 'Направления'

block content
    //You section or content
    .container
        include ../blocks/components/breadcrumbs/breadcrumbs.pug
        h1.section-title Выбери страну
        .section-search
            form.search-form
                .search-form-input
                    input.search-form__input(type="text", placeholder="Введите название страны")
                    button.search-form__btn
    section.section.popular-professions
        .container-min
            .popular-professions-wrapper
                .popular-professions-item.direction-wrap
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_1.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_2.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_3.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_1.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_2.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_3.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_1.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_2.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    .items.direction-item
                        a(href="#").item(style="background-image: url(/img/images/popular-professions_3.jpg);")
                            .item__title(style="background-color: #1689fe") Маркетинг
                            .item-mask
                                .item-mask__title Маркетинг
                                .item-mask__longtitle почему востребована:
                                .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
            .button-morelink
                button.btn-base.btn-more загрузить ещё
