extends template/default

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var page = 'Home'
	- var pageName = 'Страны'

block content
	//You section or content
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
	include ../blocks/modules/search-in-page/search-in-page.pug