extends template/default

block variables
	- var title = 'Мероприятия'
	- var pageClass = 'events-page'
	- var page = 'Home'
	- var pageName = 'Мероприятия'

block content
	//You section or content
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
		.events-tags
			.events-tags__item
				input(type="radio", name="section-events-tag", id="section-events-tag1", checked)
				label(for="section-events-tag1") Среднее образование(15)
			.events-tags__item
				input(type="radio", name="section-events-tag", id="section-events-tag2")
				label(for="section-events-tag2") Предстоящие (3)
			.events-tags__item
				input(type="radio", name="section-events-tag", id="section-events-tag3")
				label(for="section-events-tag3") Архив (12)
		.section-title.text-left Наши мероприятия
		.section-events-wrapper
			.section-events-item
				.section-events-item__container(style="background-color: #1689fe;")
					.section-events-item__left
						a(href="#").section-events-item__img
							img(src="/img/images/events_1.jpg", alt="Бесплатные вебинары для тех, кто планирует поступать в университет за границей")
					.section-events-item__right
						.section-events-item__places Осталось 20 мест
						a(href="#").section-events-item__title Бесплатные вебинары для тех, кто планирует поступать в университет за границей
						.section-events-item__info.info
							.info__data.info__item 24/04/19
							.info__time.info__item 13:00
							.info__position.info__item Днепропетровск, Чкалова 37
						button.btn-base.btn-yellow.section-events-item__btn Участвовать
			.section-events-item
				.section-events-item__container(style="background-color: #74b9ff;")
					.section-events-item__left
						a(href="#").section-events-item__img
							img(src="/img/images/events_2.jpg", alt="Бесплатные вебинары для тех, кто планирует поступать в университет за границей")
					.section-events-item__right
						.section-events-item__places Осталось 20 мест
						a(href="#").section-events-item__title Бесплатные вебинары для тех, кто планирует поступать в университет за границей
						.section-events-item__info.info
							.info__data.info__item 24/04/19
							.info__time.info__item 13:00
							.info__position.info__item Днепропетровск, Чкалова 37
						button.btn-base.btn-yellow.section-events-item__btn Участвовать
			.section-events-item
				.section-events-item__container(style="background-color: #d1d1d1;")
					.section-events-item__left
						a(href="#").section-events-item__img
							img(src="/img/images/events_3.jpg", alt="Бесплатные вебинары для тех, кто планирует поступать в университет за границей")
					.section-events-item__right
						.section-events-item__places Осталось 20 мест
						a(href="#").section-events-item__title Бесплатные вебинары для тех, кто планирует поступать в университет за границей
						.section-events-item__info.info
							.info__data.info__item 24/04/19
							.info__time.info__item 13:00
							.info__position.info__item Днепропетровск, Чкалова 37
						button.btn-base.btn-yellow.section-events-item__btn.section-events-item__btn--done Завершено
			.section-events-item
				.section-events-item__container(style="background-color: #d1d1d1;")
					.section-events-item__left
						a(href="#").section-events-item__img
							img(src="/img/images/events_4.jpg", alt="Бесплатные вебинары для тех, кто планирует поступать в университет за границей")
					.section-events-item__right
						.section-events-item__places Осталось 20 мест
						a(href="#").section-events-item__title Бесплатные вебинары для тех, кто планирует поступать в университет за границей
						.section-events-item__info.info
							.info__data.info__item 24/04/19
							.info__time.info__item 13:00
							.info__position.info__item Днепропетровск, Чкалова 37
						button.btn-base.btn-yellow.section-events-item__btn.section-events-item__btn--done Завершено
	include ../blocks/modules/form-subscription/form-subscription.pug
	sectio.section
		.container
			.seo-text
				p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa
				p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa
				p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa