extends template/default

block variables
	- var title = 'Семинар обучения в Чехии'
	- var pageClass = 'event-page'
	- var page = 'Home'
	- var pageName = 'Семинар обучения в Чехии'

block content
	//You section or content
	section.banner-purple.event-banner(style="background-image: url(../img/images/event-banner.jpg);")
		.container
			.event-banner-wrapper
				.event-banner-left
					.event-banner__title Семинар - Обучение в Чехии
					.event-banner__longtitle Пройдите собеседование в вуз Чехии и получите стипендию до £3 000 прямо на мероприятии
					button.btn-base.btn-yellow.event-banner__btn Зарегестрироваться
				.event-banner-right
					.event-banner-info
						ul.info
							li.info-item
								.info-left Когда: 
								.info-right  23/04/06, 20:00
							li.info-item
								.info-left Где:
								.info-right  Мечникова 64, Днепр
							li.info-item
								.info-left Тема:
								.info-right  Обучение в Чехии
						.event-banner-info__number Свободных мест: 20
						.event-timer(data-end='2020-02-07 12:00')
							.event-timer__days <span id="timer-days">0</span> дней
							.event-timer__hours <span id="timer-hours">0</span> часов
							.event-timer__minutes <span id="timer-minutes">0</span> минут
							.event-timer__seconds <span id="timer-seconds">0</span> секунд
	section
		.container
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
	include ../blocks/modules/section-col/section-col-3.pug
	include ../blocks/modules/section-stages-line/section-stages-line.pug
	include ../blocks/modules/section-editor/section-editor.pug
	include ../blocks/modules/section-stages/section-stages.pug
	include ../blocks/modules/form-subscription/form-subscription.pug
