extends template/default

block variables
    - var title = 'Страны'
    - var pageClass = 'countries-page'
    - var page = 'Home'
    - var pageName = 'Страны'

block content
    //You section or content
    .container
        include ../blocks/components/breadcrumbs/breadcrumbs.pug
        .section-title Вы отметили в избранное
        .section-description Сравните выбранные Вами ВУЗы по нашей таблице
        .section-universities-wrapper
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__recommend COMPASS </br> рекомендует
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
            .section-universities-item
                .section-universities-item__container
                    .section-universities-item__left
                        a(href="#").section-universities-item__img(style="background-image: url(/img/images/section-universities-item.jpg)")
                            img(src="/img/images/universities-logo1.png", alt="The University of Toledo")
                    .section-universities-item__right
                        .button-nav
                            button.compare-btn
                            button.delete-btn
                        .section-universities-item__title The University of Toledo
                        .section-universities-item__position Орландо, Флорида, США
                        .section-universities-item__age.age
                            .age__title Возраст:
                            .age__number  14+
                        .section-universities-item__price.price
                            .price__title Стоимость:
                            .price__number  $4. 000 / неделю
                        .section-universities-item__link
                            a(href="#")
                                button Подробнее
        .button-morelink
            button.btn-base.btn-more сравнить все


