extends template/default

block variables
	- var title = 'Каникулы'
	- var pageClass = 'holidays-item-page'
	- var page = 'Home'
	- var pageName = 'Каникулы'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/holyday-item.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				h1.banner-smart__title Название программы
				ul.banner-info
					li.banner-info__item
						.banner-info__name Город
						.banner-info__text Лос-Анджелес
					li.banner-info__item
						.banner-info__name Даты
						.banner-info__text 12.11. - 25.12.
					li.banner-info__item
						.banner-info__name Стоимость
						.banner-info__text 5000 грн
					li.banner-info__item
						.banner-info__name Возраст
						.banner-info__text от 18 лет
	section.section
		.container
			article.article-page
				.article-content
					h2.section-title.text-left Программа
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					h2.section-title.text-left Наша галерея
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования.
					.article-gallery.article-gallery-js
						a(href="/img/images/gallery/1.png")
							img(src="/img/images/gallery/1.png", alt="1 фото")
						a(href="/img/images/gallery/2.png")
							img(src="/img/images/gallery/2.png", alt="2 фото")
						a(href="/img/images/gallery/3.png")
							img(src="/img/images/gallery/3.png", alt="3 фото")
						a(href="/img/images/gallery/4.png")
							img(src="/img/images/gallery/4.png", alt="4 фото")
						a(href="/img/images/gallery/5.png")
							img(src="/img/images/gallery/5.png", alt="5 фото")
						a(href="/img/images/gallery/6.png")
							img(src="/img/images/gallery/6.png", alt="6 фото")
					h2.section-title.text-left Заголовок
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества
					section.section.section-video
						<iframe width="560" height="315" src="https://www.youtube.com/embed/4hvtIPjr5SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					h2.section-title.text-left Стоимость программы
					ul
						li Бакалавриат: от 15 950 фунтов стерлингов в год
						li Магистратура: от 15 950 фунтов стерлингов в год
						li Подготовительные и дипломные программы: от 11 700 фунтов стерлингов в год
						li Краткосрочные летние курсы: 905 — 2 355 фунтов стерлингов за курс (в зависимости от направления)
					h2.section-title.text-left Проживание
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества
					.residence-wrapper
						.residence-item
							.residence-item__img
								img(src="img/images/hotel_3.png", alt="Принимающая семья")
							.residence-item__title Принимающая семья
						.residence-item
							.residence-item__img
								img(src="img/images/hotel_2.png", alt="Студенческая резиденция")
							.residence-item__title Студенческая резиденция
						.residence-item
							.residence-item__img
								img(src="img/images/hotel_1.png", alt="Отель")
							.residence-item__title Отель
					h2.section-title.text-left Заголовок
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества
				.article-aside
					.article-aside__content
						include ../blocks/modules/form-aside/form-aside.pug

	include ../blocks/modules/form-partners/form-partners.pug
