extends template/default

block variables
	- var title = 'Каникулы'
	- var pageClass = 'holidays-page'
	- var page = 'Home'
	- var pageName = 'Каникулы'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/holydays.png); background-color: #5E4EB4;")
		.container
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				.banner-smart__title Каникулы за границей
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную <br> консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base.btn-feedback Подобрать программу
	section.section
		.container
			.article-page
				.aside-countries
					.aside-countries__title Выберите страну
					ul.countries-list
						li.countries-list__item
							a(href="#") Великобритания
						li.countries-list__item
							a(href="#") Канада
						li.countries-list__item
							a(href="#") США
						li.countries-list__item
							a(href="#") Германия
						li.countries-list__item
							a(href="#") Швейцария
						li.countries-list__item
							a(href="#") Чехия
						li.countries-list__item
							a(href="#") Ирландия
						li.countries-list__item
							a(href="#") Нидерланды
						li.countries-list__item
							a(href="#") Испания
						li.countries-list__item
							a(href="#") Польша
						li.countries-list__item
							a(href="#") Австрия
						li.countries-list__item
							a(href="#") Кипр
						li.countries-list__item
							a(href="#") Мальта
						li.countries-list__item
							a(href="#") Франция
						li.countries-list__item
							a(href="#") Финляндия
						li.countries-list__item
							a(href="#") Латвия
				.article-content
					h2.section-title.text-left На что обратить внимание при выборе каникул
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть.
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть.

	include ../blocks/modules/holidays/holidays.pug
	section.section.form-advice
		.container-min
			.form-advice__title Заказать консультацию
			form.form-advice-style.form-send
				.inputs
					.input-group
						input(type="text", placeholder="Имя", required)
					.input-group
						input(type="text", placeholder="Телефон", required)
					.input-group
						input(type="text", placeholder="Специальность", required)
				button.form-advice__btn.btn-yellow.btn-base заказать
	section.section
		.container
			.section-title Почему это круто
			.section-description
			.section-col-3
				.section-col-item
					.section-col-item__container
						.section-col-item__img
							img(src="/img/images/cool_1.png", alt="Повседневная практика")
						.section-col-item__title новые друзья
						.section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
				.section-col-item
					.section-col-item__container
						.section-col-item__img
							img(src="/img/images/cool_2.png", alt="Повседневная практика")
						.section-col-item__title узнать культуру
						.section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
				.section-col-item
					.section-col-item__container
						.section-col-item__img
							img(src="/img/images/cool_3.png", alt="Повседневная практика")
						.section-col-item__title погружение в среду
						.section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
	include ../blocks/modules/section-gallery/section-gallery.pug
	include ../blocks/modules/how-working/how-working.pug
	section.section.article-content
		.container
			h2.section-title.text-left На что обратить внимание при выборе каникул
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть.
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть.
	section.section.form-advice
		.container-min
			.form-advice__title пройди тест и получи 10% скидки на услуги compass
			form.form-advice-style.form-send
				.inputs
					.input-group
						input(type="text", placeholder="Имя", required)
					.input-group
						input(type="text", placeholder="Телефон", required)
					.input-group
						input(type="text", placeholder="Специальность", required)
				button.form-advice__btn.btn-yellow.btn-base пройти тест
	section.section.article-page
		.container
			.section-title 	Что входит в стоимость оформления
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			ul.list-col-2
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
	section.section
		.container
			.section-title Проживание
			.section-description Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования.
			.residence-wrapper.residence-wrapper--center
				.residence-item
					.residence-item__img
						img(src="img/images/hotel_3.png", alt="Принимающая семья")
					.residence-item__title Принимающая семья
				.residence-item
					.residence-item__img
						img(src="img/images/hotel_2.png", alt="Студенческая резиденция")
					.residence-item__title Студенческая резиденция
	section.section.section-blue.article-page
		.container
			.section-title Экскурсии и мероприятия
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			ul.list-col-2
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
	section.section.section-video
		<iframe width="560" height="315" src="https://www.youtube.com/embed/4hvtIPjr5SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	include ../blocks/modules/section-reviews/section-reviews.pug
	include ../blocks/modules/form-partners/form-partners.pug
