extends template/default

block variables
	- var title = 'Групповые каникулы'
	- var pageClass = 'holidays-item-page'
	- var page = 'Home'
	- var pageName = 'Групповые каникулы'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				h1.banner-smart__title Групповые каникулы
				.banner-smart__longtitle.banner-smart__position 27 King's College Circle Toronto, Ontario Toronto
				.banner-info__text Обратившись к нам, Вы получите профессиональную <br> консультацию и практическую помощь. Мы отвечаем за
	section.section
		.container
			.section-title Почему это круто
			.section-col-4
				.section-col-item
					.section-col-item__container
						.section-col-item__img
							img(src="/img/images/svg/cool_1.svg", alt="безопасность")
						.section-col-item__title безопасность
						.section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
				.section-col-item
					.section-col-item__container
						.section-col-item__img
							img(src="/img/images/svg/cool_2.svg", alt="Повседневная практика")
						.section-col-item__title присмотр 24/7
						.section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
				.section-col-item
					.section-col-item__container
						.section-col-item__img
							img(src="/img/images/svg/cool_3.svg", alt="Повседневная практика")
						.section-col-item__title новые друзья со всего мира
						.section-col-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.section-col-item
					.section-col-item__container
						.section-col-item__img
							img(src="/img/images/svg/cool_4.svg", alt="Повседневная практика")
						.section-col-item__title сопровождение
						.section-col-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
	include ../blocks/modules/holidays/holidays.pug
	include ../blocks/modules/section-gallery/section-gallery.pug
	section.section.article-page
		.container
			.section-title 	Что входит в стоимость оформления
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			ul.list-col-2
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
	section.section
		.container
			.section-title Проживание
			.section-description Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования.
			.residence-wrapper.residence-wrapper--center
				.residence-item
					.residence-item__img
						img(src="img/images/hotel_3.png", alt="Принимающая семья")
					.residence-item__title Принимающая семья
				.residence-item
					.residence-item__img
						img(src="img/images/hotel_2.png", alt="Студенческая резиденция")
					.residence-item__title Студенческая резиденция
	section.section.section-blue.article-page
		.container
			.section-title Экскурсии и мероприятия
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			ul.list-col-2
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
	section.section.section-video
		<iframe width="560" height="315" src="https://www.youtube.com/embed/4hvtIPjr5SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	include ../blocks/modules/form-partners/form-partners.pug
