extends template/default

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var page = 'Home'

block content
	//You section or content
	include ../blocks/modules/banner/banner.pug
	include ../blocks/modules/categories-banner/categories-banner.pug
	include ../blocks/modules/section-countries/section-countries.pug
	include ../blocks/modules/section-universities/section-universities.pug
	include ../blocks/modules/popular-professions/popular-professions.pug
	include ../blocks/modules/form-advice/form-advice.pug
	section.section-universities
		.container-min
			.section-title Где учатся наши студенты?
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.section-universities-tags
				.section-universities-tags__item
						input(type="radio", name="section-universities-tag", id="section-universities-tag1")
						label(for="section-universities-tag1") Летние каникулы
				.section-universities-tags__item
						input(type="radio", name="section-universities-tag", id="section-universities-tag2")
						label(for="section-universities-tag2") Осенние каникулы
				.section-universities-tags__item
						input(type="radio", name="section-universities-tag", id="section-universities-tag3")
						label(for="section-universities-tag3")  Языковые курсы
				.section-universities-tags__item
						input(type="radio", name="section-universities-tag", id="section-universities-tag4")
						label(for="section-universities-tag4")  Зимние каникулы
				.section-universities-tags__item
						input(type="radio", name="section-universities-tag", id="section-universities-tag5")
						label(for="section-universities-tag5") Весенние каникулы
			include ../blocks/components/universities/universities.pug  
			.button-morelink
				a(href="#").btn-base.btn-link-more Смотреть все курсы               
	include ../blocks/modules/our-services/our-services.pug
	include ../blocks/modules/how-working/how-working.pug
	include ../blocks/modules/section-events/section-events.pug
	include ../blocks/modules/section-reviews/section-reviews.pug
	include ../blocks/modules/latest-news/latest-news.pug
	include ../blocks/modules/form-conlultation/form-conlultation.pug