extends template/default

block variables
	- var title = 'Страховка'
	- var pageClass = 'insurance'
	- var page = 'Home'
	- var pageName = 'Страховка'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				h1.banner-smart__title Оформление медицинской страховки
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base ОФОРМИТЬ ЗАЯВКУ
	.section
		.container
			h2.text-center Преимущества страхования
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.insurance-advantage
				.insurance-advantage-item
					.insurance-advantage-item__c
						.insurance-advantage-item__img
							img(src="/img/images/advantage.png")
						.insurance-advantage-item__title Повседневная практика
						.insurance-advantage-item__text Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.insurance-advantage-item
					.insurance-advantage-item__c
						.insurance-advantage-item__img
							img(src="/img/images/advantage.png")
						.insurance-advantage-item__title Повседневная практика
						.insurance-advantage-item__text Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.insurance-advantage-item
					.insurance-advantage-item__c
						.insurance-advantage-item__img
							img(src="/img/images/advantage.png")
						.insurance-advantage-item__title Повседневная практика
						.insurance-advantage-item__text Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.

			.text-center
				button.btn-base.btn-violet Оформить страховку
			.section
				h2.text-center Виды страховок
				.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
				.section-wrapper
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Туристическое страхование")
							.section-col-4-item__title Туристическое страхование
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Страхование жизни")
							.section-col-4-item__title Страхование жизни
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Авиа страхование")
							.section-col-4-item__title Авиа страхование
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
					.section-col-4-item
						.section-col-4-item__container
							.section-col-4-item__img
								img(src="/img/images/icon-1.png", alt="Медицинское страхование")
							.section-col-4-item__title Медицинское страхование
							.section-col-4-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
	section.section.form-partners
		.container-min
			.form-partners-wrapper
				.form-partners__left
					.form-partners__title Получить консультацию с нашими специалистами
					.form-partners__longtitle Заполните форму или свяжитесь с нами спомощью наших мессенджеров
				.form-partners__right
					form.form-partners-style
						.input-group
							.input-item
								input(type="text", name="Name", placeholder="Имя*", required)
							.input-item
								input(type="text", name="Phone", placeholder="Телефон*", required)
						.input-item
							input(type="text", name="Email", placeholder="Email*", required)
						.textarea-item
							textarea(name="Message", placeholder="Расскажите нам о ваших целях. Как именно мы можем вам помочь? ")
						button.btn-base.btn-yellow.form-partners__btn Заказать консультацию
