extends template/default

block variables
    - var title = 'Языковые курсы Compass'
    - var pageClass = 'base-page'
    - var page = 'Home'
    - var pageName = 'Языковые курсы Compass'

block content
    //You section or content
    .banner-smart(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
        .container.position-relative
            include ../blocks/components/breadcrumbs/breadcrumbs.pug
            .banner-smart__content
                h1.banner-smart__title Языковые курсы Compass
                .banner-smart__longtitle Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за
                button.banner-smart__btn.btn-yellow.btn-base Подобрать программу
    .section
        .container
            .article-content
                h2.text-center Подготовка к поступлению
                p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
                p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.

    .section
        .container
            h2.text-center Наши курсы
            .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
            .course-compass
                .course-compass-item
                    .course-compass-item__c
                        .course-compass-item__title TOEFL
                        .course-compass-item-option
                            .course-compass-item-option-title Стоимость курса:
                            .course-compass-item-option-value $400
                        .course-compass-item-option
                            .course-compass-item-option-title Уровень знаний:
                            .course-compass-item-option-value Intermidiat
                        .course-compass-item-option
                            .course-compass-item-option-title Продолжительность:
                            .course-compass-item-option-value 1 час 30 мин.
                        button.course-compass-item-button Записаться на курсы
                .course-compass-item
                    .course-compass-item__c
                        .course-compass-item__title TOEFL
                        .course-compass-item-option
                            .course-compass-item-option-title Стоимость курса:
                            .course-compass-item-option-value $400
                        .course-compass-item-option
                            .course-compass-item-option-title Уровень знаний:
                            .course-compass-item-option-value Intermidiat
                        .course-compass-item-option
                            .course-compass-item-option-title Продолжительность:
                            .course-compass-item-option-value 1 час 30 мин.
                        button.course-compass-item-button Записаться на курсы
                .course-compass-item
                    .course-compass-item__c
                        .course-compass-item__title TOEFL
                        .course-compass-item-option
                            .course-compass-item-option-title Стоимость курса:
                            .course-compass-item-option-value $400
                        .course-compass-item-option
                            .course-compass-item-option-title Уровень знаний:
                            .course-compass-item-option-value Intermidiat
                        .course-compass-item-option
                            .course-compass-item-option-title Продолжительность:
                            .course-compass-item-option-value 1 час 30 мин.
                        button.course-compass-item-button Записаться на курсы
                .course-compass-item
                    .course-compass-item__c
                        .course-compass-item__title TOEFL
                        .course-compass-item-option
                            .course-compass-item-option-title Стоимость курса:
                            .course-compass-item-option-value $400
                        .course-compass-item-option
                            .course-compass-item-option-title Уровень знаний:
                            .course-compass-item-option-value Intermidiat
                        .course-compass-item-option
                            .course-compass-item-option-title Продолжительность:
                            .course-compass-item-option-value 1 час 30 мин.
                        button.course-compass-item-button Записаться на курсы
                .course-compass-item
                    .course-compass-item__c
                        .course-compass-item__title TOEFL
                        .course-compass-item-option
                            .course-compass-item-option-title Стоимость курса:
                            .course-compass-item-option-value $400
                        .course-compass-item-option
                            .course-compass-item-option-title Уровень знаний:
                            .course-compass-item-option-value Intermidiat
                        .course-compass-item-option
                            .course-compass-item-option-title Продолжительность:
                            .course-compass-item-option-value 1 час 30 мин.
                        button.course-compass-item-button Записаться на курсы
                .course-compass-item
                    .course-compass-item__c
                        .course-compass-item__title TOEFL
                        .course-compass-item-option
                            .course-compass-item-option-title Стоимость курса:
                            .course-compass-item-option-value $400
                        .course-compass-item-option
                            .course-compass-item-option-title Уровень знаний:
                            .course-compass-item-option-value Intermidiat
                        .course-compass-item-option
                            .course-compass-item-option-title Продолжительность:
                            .course-compass-item-option-value 1 час 30 мин.
                        button.course-compass-item-button Записаться на курсы

    include ../blocks/modules/form-partners/form-partners


