extends template/default

block variables
	- var title = 'Каникулы'
	- var pageClass = 'holidays-item-page'
	- var page = 'Home'
	- var pageName = 'Каникулы'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/language-course.jpg); background-color: #5E4EB4;")
		.container.position-relative
			.dumb-anya
				include ../blocks/components/breadcrumbs/breadcrumbs.pug
				.banner-smart-nav
					button.btn-add-favorites Добавить в избранное
					button.btn-add-comparisons Сравнить университеты
				.banner-smart__content
					h1.banner-smart__title MCGill university
					.banner-smart__longtitle.banner-smart__position 27 King's College Circle Toronto, Ontario Toronto
					ul.banner-info.banner-info-2-col
						li.banner-info__item
							.banner-info__name Средняя стоимость
							.banner-info__text $ 7000
						li.banner-info__item
							.banner-info__name Резиденция
							.banner-info__text Есть
						li.banner-info__item
							.banner-info__name Тип ВУЗа
							.banner-info__text Частный
						li.banner-info__item
							.banner-info__name Наличие стипендии
							.banner-info__text Да
						li.banner-info__item
							.banner-info__name Всего студентов
							.banner-info__text 18 455
	section.section
		.container
			article.article-page
				.article-content
					h2.section-title.text-left Программа
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					h2.section-title.text-left Наша галерея
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования.
					.article-gallery.article-gallery-js
						a(href="/img/images/gallery/1.png")
							img(src="/img/images/gallery/1.png", alt="1 фото")
						a(href="/img/images/gallery/2.png")
							img(src="/img/images/gallery/2.png", alt="2 фото")
						a(href="/img/images/gallery/3.png")
							img(src="/img/images/gallery/3.png", alt="3 фото")
						a(href="/img/images/gallery/4.png")
							img(src="/img/images/gallery/4.png", alt="4 фото")
						a(href="/img/images/gallery/5.png")
							img(src="/img/images/gallery/5.png", alt="5 фото")
						a(href="/img/images/gallery/6.png")
							img(src="/img/images/gallery/6.png", alt="6 фото")
					h2.section-title.text-left Специальности в Mc Givly
					p Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
					h2.section-title.text-left Заголовок
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества
					.section
						h2 Cпециальности в MC Givly
						.university-description
							p Самым популярным вопросом родителей и студентов, которые готовятся к зду за границу с целью обучения является оплата обучения за.
						.university-specialty
							.specialty-list-container
								ul.specialty-list
									li.specialty-list__item  Architecture
									li.specialty-list__item  Art and Design
									li.specialty-list__item  Biological Sciences
									li.specialty-list__item  Business
									li.specialty-list__item  Chemistry
									li.specialty-list__item  Architecture
									li.specialty-list__item  Art and Design
									li.specialty-list__item  Biological Sciences
									li.specialty-list__item  Business
									li.specialty-list__item  Chemistry
									li.specialty-list__item  Architecture
									li.specialty-list__item  Art and Design
									li.specialty-list__item  Biological Sciences
									li.specialty-list__item  Business
									li.specialty-list__item  Chemistry
									li.specialty-list__item  Architecture
									li.specialty-list__item  Art and Design
									li.specialty-list__item  Biological Sciences
									li.specialty-list__item  Business
									li.specialty-list__item  Chemistry
						button.btn-base.btn-violet.specialty-more(data-lang="СКРЫТЬ ВСЕ") ПОКАЗАТЬ ВСЕ
					.section
						h2 Почему стоит учиться здесь
						.advantage-tags
							div.advantage-tags-scroll
								ul.advantage-tags-nav
									li.advantage-tags-nav__item.active Преимущества
									li.advantage-tags-nav__item Статистика
									li.advantage-tags-nav__item Жизнь студентов
							.advantage-tags-content
								.advantage-tags-content__item.active
									<iframe width="560" height="315" src="https://www.youtube.com/embed/e7FK6cY-68w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								.advantage-tags-content__item
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos perspiciatis fugit consequatur id alias commodi! Eligendi voluptate est aut? Ut inventore dicta rerum id, earum fuga temporibus. Illum, nulla?
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos perspiciatis fugit consequatur id alias commodi! Eligendi voluptate est aut? Ut inventore dicta rerum id, earum fuga temporibus. Illum, nulla?
								.advantage-tags-content__item
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, accusamus.
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, accusamus.
					.section
						h2 Программы обучения
						.program-wrapper

							.program-item
								.item-container.program-item-purple
									.item-title Программа  Foundation:
									.item-info
										.item-info-i <span class="left">Стоимость:</span> <span class="right">от 15 950 £/год</span>
										.item-info-i <span class="left">Экзамен:</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
										.item-info-i <span class="left">Срок обучения:</span> <span class="right">9 месяцев</span>
							.program-item
								.item-container.program-item-yellow
									.item-title Бакалавриат
									.item-info
										.item-info-i <span class="left">Стоимость:</span> <span class="right">от 15 950 £/год</span>
										.item-info-i <span class="left">Экзамен:</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
										.item-info-i <span class="left">Срок обучения:</span> <span class="right">9 месяцев</span>
							.program-item
								.item-container.program-item-blue
									.item-title Магистратура
									.item-info
										.item-info-i <span class="left">Стоимость:</span> <span class="right">от 15 950 £/год</span>
										.item-info-i <span class="left">Экзамен:</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
										.item-info-i <span class="left">Срок обучения:</span> <span class="right">9 месяцев</span>
							.program-item
								.item-container.program-item-purple
									.item-title Программа  Foundation:
									.item-info
										.item-info-i <span class="left">Стоимость:</span> <span class="right">от 15 950 £/год</span>
										.item-info-i <span class="left">Экзамен:</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
										.item-info-i <span class="left">Срок обучения:</span> <span class="right">9 месяцев</span>
					h2 Стоимость обучения
					ul
						li Бакалавриат: от 15 950 фунтов стерлингов в год
						li Магистратура: от 15 950 фунтов стерлингов в год
						li Подготовительные и дипломные программы: от 11 700 фунтов стерлингов в год
						li Краткосрочные летние курсы: 905 — 2 355 фунтов стерлингов за курс (в зависимости от направления)
					h2.section-title.text-left Проживание
					p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества
					.residence-wrapper
						.residence-item
							.residence-item__img
								img(src="img/images/hotel_3.png", alt="Принимающая семья")
							.residence-item__title Принимающая семья
						.residence-item
							.residence-item__img
								img(src="img/images/hotel_2.png", alt="Студенческая резиденция")
							.residence-item__title Студенческая резиденция
						.residence-item
							.residence-item__img
								img(src="img/images/hotel_1.png", alt="Отель")
							.residence-item__title Отель
					h2.text-center Заголовок
					p.text-center Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за
					.section-video
						<iframe src="https://www.youtube.com/embed/4hvtIPjr5SE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

				.article-aside
					.article-aside__content
						include ../blocks/modules/form-aside/form-aside.pug

	include ../blocks/modules/section-reviews/section-reviews
	include ../blocks/modules/form-partners/form-partners.pug
