extends template/default

block variables
	- var title = 'Языковые курсы за границей'
	- var pageClass = 'language-classes-page'
	- var page = 'Home'
	- var pageName = 'Языковые курсы за границей'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/language-classes.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				h1.banner-smart__title Языковые курсы Compass за гранницей
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную <br> консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base Подобрать программу
	section.section.section-countries
		.container
			.section-title Популярные страны для образования
			.section-countries-wrapper.section-countries-carousel
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-france.png", alt="Франция")
						.section-countries-item__body
							.section-countries-item__title Франция
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-germany.png", alt="Германия")
						.section-countries-item__body
							.section-countries-item__title Германия
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/usa-flag.png", alt="США")
						.section-countries-item__body
							.section-countries-item__title США
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
				.section-countries-item
					a(href="#").section-countries-item__container
						.section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
							img(src="/img/images/flag-kanady.png", alt="Канада")
						.section-countries-item__body
							.section-countries-item__title Канада
							.section-countries-item__universities <span>463</span> университета
							.section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
							.section-countries-item__link Подробнеее
	section.section
		.container
			.section-title Описание
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
	section.section.article-page
		.container
			.section-title 	Что входит в стоимость оформления
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			ul.list-col-2
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
	section.section
		.container
			.section-title Популярные курсы
			include ../blocks/components/universities/universities.pug
			.button-morelink
				button.btn-base.btn-more загрузить ещё
	section.section
		.container
			.section-title Заголовок
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
	include ../blocks/modules/section-reviews/section-reviews.pug
	include ../blocks/modules/certificates/certificates.pug
	include ../blocks/modules/form-partners/form-partners.pug
