extends template/default

block variables
	- var title = 'Партнерам'
	- var pageClass = 'partners-page'
	- var page = 'Home'
	- var bgBanner = "background-image: url(/img/images/banner-partners.jpg);"
	- var pageName = 'For partners'
	- var bannerBase__title = "Let’s work together!"
	- var bannerBase__description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in"

block content
	//You section or content
	include ../blocks/modules/banner-base/banner-base.pug
	include ../blocks/modules/how-working/how-working.pug
	include ../blocks/modules/certificates/certificates.pug
	include ../blocks/modules/partners/partners.pug
	include ../blocks/modules/form-partners/form-partners.pug
	