extends template/default

block variables
	- var title = 'Сервис'
	- var pageClass = 'service-page'
	- var page = 'Home'
	- var bgBanner = "background-image: url(/img/images/service-banner.jpg);"
	- var pageName = 'Наши сервисы'
	- var classBanner = "banner-base--min"
	- var bannerBase__title = "Свяжись с нами сегодня и получи подробную консультацию"
	- var bannerBase__description = "Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за достоверность информации."


block content
	//You section or content
	include ../blocks/modules/banner-base/banner-base.pug
	section.section.service
		.container-min
			.section-title Наши сервисы
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за. Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.service-wrapper
				.service-item
					.service-item__info.service-item__i
						a(href="#").service-item__title Оформление визы
						.service-item__description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью целью является оплата обучения за. Самый лучший вопрос родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата.
						a(href="#").service-item__link.btn-yellow Узнать больше
					.service-item__img.service-item__i
						img(src="/img/images/service_1.jpg", alt="Оформление визы")
				.service-item
					.service-item__info.service-item__i
						a(href="#").service-item__title Оформление страховки
						.service-item__description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью целью является оплата обучения за. Самый лучший вопрос родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата.
						a(href="#").service-item__link.btn-yellow Узнать больше
					.service-item__img.service-item__i
						img(src="/img/images/service_2.jpg", alt="Оформление страховки")
				.service-item
					.service-item__info.service-item__i
						a(href="#").service-item__title Туры по университетам
						.service-item__description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью целью является оплата обучения за. Самый лучший вопрос родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата.
						a(href="#").service-item__link.btn-yellow Узнать больше
					.service-item__img.service-item__i
						img(src="/img/images/service_3.jpg", alt="Туры по университетам")
				.service-item
					.service-item__info.service-item__i
						a(href="#").service-item__title Языковые курсы Compass
						.service-item__description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью целью является оплата обучения за. Самый лучший вопрос родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата.
						a(href="#").service-item__link.btn-yellow Узнать больше
					.service-item__img.service-item__i
						img(src="/img/images/service_4.jpg", alt="Языковые курсы Compass")
							
	
	include ../blocks/modules/form-partners/form-partners.pug

	