extends template/default

block variables
    - var title = 'Туры по университетам'
    - var pageClass = 'tours'
    - var page = 'Home'
    - var pageName = 'Туры по университетам'

block content
    //You section or content
    .banner-smart(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
        .container.position-relative
            include ../blocks/components/breadcrumbs/breadcrumbs.pug
            .banner-smart__content
                h1.banner-smart__title Свяжись с нами сегодня и получи подробную консультацию
                .banner-smart__longtitle Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за
                button.banner-smart__btn.btn-yellow.btn-base.btn-feedback Задать вопрос
    section.section
        .container
            .section-title Туры по самым популярным странам
            .section-countries-wrapper.tours-country
                .section-countries-item
                    div.section-countries-item__container
                        .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                            img(src="/img/images/flag-kanady.png", alt="Канада")
                        .section-countries-item__body
                            .section-countries-item__title Канада
                            .section-countries-item__universities <span>463</span> университета
                            .section-countries-item__description
                                p <strong>Австрия</strong> - это центр высшего образования в Европе. Студенты из Украины могут получить качественное образование и открыть для себя возможности и перспективы всей Европы.
                                p <strong>Учебные заведения , которые вы можете посетить в рамка тура:</strong>
                                p
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                .section-countries-item
                    div.section-countries-item__container
                        .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                            img(src="/img/images/flag-kanady.png", alt="Канада")
                        .section-countries-item__body
                            .section-countries-item__title Канада
                            .section-countries-item__universities <span>463</span> университета
                            .section-countries-item__description
                                p <strong>Австрия</strong> - это центр высшего образования в Европе. Студенты из Украины могут получить качественное образование и открыть для себя возможности и перспективы всей Европы.
                                p <strong>Учебные заведения , которые вы можете посетить в рамка тура:</strong>
                                p
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                .section-countries-item
                    div.section-countries-item__container
                        .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                            img(src="/img/images/flag-kanady.png", alt="Канада")
                        .section-countries-item__body
                            .section-countries-item__title Канада
                            .section-countries-item__universities <span>463</span> университета
                            .section-countries-item__description
                                p <strong>Австрия</strong> - это центр высшего образования в Европе. Студенты из Украины могут получить качественное образование и открыть для себя возможности и перспективы всей Европы.
                                p <strong>Учебные заведения , которые вы можете посетить в рамка тура:</strong>
                                p
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                .section-countries-item
                    div.section-countries-item__container
                        .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                            img(src="/img/images/flag-kanady.png", alt="Канада")
                        .section-countries-item__body
                            .section-countries-item__title Канада
                            .section-countries-item__universities <span>463</span> университета
                            .section-countries-item__description
                                p <strong>Австрия</strong> - это центр высшего образования в Европе. Студенты из Украины могут получить качественное образование и открыть для себя возможности и перспективы всей Европы.
                                p <strong>Учебные заведения , которые вы можете посетить в рамка тура:</strong>
                                p
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                .section-countries-item
                    div.section-countries-item__container
                        .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                            img(src="/img/images/flag-kanady.png", alt="Канада")
                        .section-countries-item__body
                            .section-countries-item__title Канада
                            .section-countries-item__universities <span>463</span> университета
                            .section-countries-item__description
                                p <strong>Австрия</strong> - это центр высшего образования в Европе. Студенты из Украины могут получить качественное образование и открыть для себя возможности и перспективы всей Европы.
                                p <strong>Учебные заведения , которые вы можете посетить в рамка тура:</strong>
                                p
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
                                    a(href="#") Universität Wien  (Венский Университет);
            .button-morelink
                button.btn-base.btn-more смотреть все
    section.section
        .container
            .section-title Как проходит тур
            .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
            .section-col-3
                .section-col-item
                    .section-col-item__container
                        .section-col-item__img
                            img(src="/img/images/cool_1.png", alt="Повседневная практика")
                        .section-col-item__title новые друзья
                        .section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
                .section-col-item
                    .section-col-item__container
                        .section-col-item__img
                            img(src="/img/images/cool_2.png", alt="Повседневная практика")
                        .section-col-item__title узнать культуру
                        .section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
                .section-col-item
                    .section-col-item__container
                        .section-col-item__img
                            img(src="/img/images/cool_3.png", alt="Повседневная практика")
                        .section-col-item__title погружение в среду
                        .section-col-item__description Повседневная практика показывает что начало повседневной работы по формированию позиции в значительной степени.
    include ../blocks/modules/section-gallery/section-gallery.pug
    section.section.form-partners
        .container-min
            .form-partners-wrapper
                .form-partners__left
                    .form-partners__title Получить консультацию с нашими специалистами
                    .form-partners__longtitle Заполните форму или свяжитесь с нами спомощью наших мессенджеров
                .form-partners__right
                    form.form-partners-style
                        .input-group
                            .input-item
                                input(type="text", name="Name", placeholder="Имя*", required)
                            .input-item
                                input(type="text", name="Phone", placeholder="Телефон*", required)
                        .input-item
                            input(type="text", name="Email", placeholder="Email*", required)
                        .textarea-item
                            textarea(name="Message", placeholder="Расскажите нам о ваших целях. Как именно мы можем вам помочь? ")
                        button.btn-base.btn-yellow.form-partners__btn Заказать консультацию
