extends template/default

block variables
	- var title = 'Подготовка к поступлению'
	- var pageClass = 'holidays-page'
	- var page = 'Home'
	- var pageName = 'Подготовка к поступлению'

block content
	//You section or content
	.banner-smart(style="background-image: url(/img/images/banner-smart/training.jpg); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				.banner-smart__title Подготовка к поступлению
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную <br> консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base Подобрать программу
	section.section
		.container
			.section-title Подготовка к поступлению
			.seo-text
				p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
				p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
	section.section-universities
		.container-min
			.section-title Популярные университеты для поступления
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			include ../blocks/components/universities/universities.pug
			.button-morelink
				a(href="#").btn-base.btn-link-more Смотреть все курсы
	include ../blocks/modules/form-partners/form-partners.pug
