extends template/default

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var page = 'Home'

block content
	//You section or content
	include ../blocks/modules/banner/banner.pug
	.section
		.container
			button.btn-base.btn-violet(onclick="openFavorites()") Избранное
			button.btn-base.btn-violet(onclick="openComparisons()") Сравнение