extends template/default

block variables
    - var title = 'Свяжись с нами сегодня и получи подробную консультацию'
    - var pageClass = 'base-page'
    - var page = 'Home'
    - var pageName = 'Свяжись с нами сегодня и получи подробную консультацию'

block content
    //You section or content
    .banner-smart(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
        .container.position-relative
            include ../blocks/components/breadcrumbs/breadcrumbs.pug
            .banner-smart__content
                h1.banner-smart__title Свяжись с нами сегодня и получи подробную консультацию
                .banner-smart__longtitle Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за
                button.banner-smart__btn.btn-yellow.btn-base Задать вопрос
    .section
        .container
            h2.text-center Наши курсы
    .section
        .container
            h2.text-center Как проходит тур
            .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
            .section-wrapper
                .section-col-3-item
                    .section-col-3-item__container
                        .section-col-3-item__img
                            img(src="/img/images/icon-1.png", alt="Туристическое страхование")
                        .section-col-3-item__title Туристическое страхование
                        .section-col-3-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
                .section-col-3-item
                    .section-col-3-item__container
                        .section-col-3-item__img
                            img(src="/img/images/icon-1.png", alt="Страхование жизни")
                        .section-col-3-item__title Страхование жизни
                        .section-col-3-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
                .section-col-3-item
                    .section-col-3-item__container
                        .section-col-3-item__img
                            img(src="/img/images/icon-1.png", alt="Авиа страхование")
                        .section-col-3-item__title Авиа страхование
                        .section-col-3-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.


    include ../blocks/modules/form-partners/form-partners
