extends template/default

block variables
	- var title = 'McGill University'
	- var pageClass = 'university'
	- var page = 'Home'
	- var pageName = 'McGill University'

block content
	//You section or content
	section.banner-base(style="background-image: url(/img/images/university.jpg); background-color: #5e4eb4;")
		.container
			.university-banner
				.university-banner__title McGill University
				.university-banner__position 27 King's College Circle Toronto, Ontario Toronto
				.university-banner-info.info
					.info-item <span>Средняя стоимость</span> $ 7000
					.info-item <span>Резиденция</span> Есть   
					.info-item <span>Тип вуза</span> Частный
					.info-item <span>Наличее степендии</span> Да
					.info-item <span>Всего студентов</span>18455
	.container
		include ../blocks/components/breadcrumbs/breadcrumbs.pug
		.university-about
			.university-about__left
				.university-title О самом вузе
				.university-about__description
					p 
						strong Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний.
					p Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества
					p Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
					p Идеи, инновации и действия более 560 000 выпускников продолжают оказывать положительное влияние на мир. Идеи, инновации и действия более 560 000 выпускников продолжают оказывать положительное влияние на мир. Идеи, инновации  продолжают оказывать положительное влияние на мир.
			.university-about__right
				form.form-base
					.form-base__title Оценить шансы на поступление
					.form-inputs
						.form-input
							input(type="text", name="Телефон", placeholder="Телефон*", required)
						.form-input
							input(type="text", name="Имя", placeholder="Имя*", required)
						.form-input
							input(type="text", name="Email", placeholder="Email*", required)
						button.btn-yellow Получить
	section.section.gallery
		.container
			.university-title Наша галерея
			.university-gallery__description 
				p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования. 
			.university-gallery
				.university-gallery-item
					a(href="/img/images/gallery/gallery_1.jpg").gallery-img
						img(src="/img/images/gallery/gallery_1.jpg", alt="")
					a(href="/img/images/gallery/gallery_2.jpg").gallery-img
						img(src="/img/images/gallery/gallery_2.jpg", alt="")
					a(href="/img/images/gallery/gallery_3.jpg").gallery-img
						img(src="/img/images/gallery/gallery_3.jpg", alt="")
					a(href="/img/images/gallery/gallery_4.jpg").gallery-img
						img(src="/img/images/gallery/gallery_4.jpg", alt="")
					a(href="/img/images/gallery/gallery_5.jpg").gallery-img
						img(src="/img/images/gallery/gallery_5.jpg", alt="")
					a(href="/img/images/gallery/gallery_6.jpg").gallery-img
						img(src="/img/images/gallery/gallery_6.jpg", alt="")
					a(href="/img/images/gallery/gallery_7.jpg").gallery-img
						img(src="/img/images/gallery/gallery_7.jpg", alt="")
					a(href="/img/images/gallery/gallery_8.jpg").gallery-img
						img(src="/img/images/gallery/gallery_8.jpg", alt="")
					a(href="/img/images/gallery/gallery_9.jpg").gallery-img
						img(src="/img/images/gallery/gallery_9.jpg", alt="")
					a(href="/img/images/gallery/gallery_10.jpg").gallery-img
						img(src="/img/images/gallery/gallery_10.jpg", alt="")
				.university-gallery-item
					a(href="/img/images/gallery/gallery_1.jpg").gallery-img
						img(src="/img/images/gallery/gallery_1.jpg", alt="")
					a(href="/img/images/gallery/gallery_2.jpg").gallery-img
						img(src="/img/images/gallery/gallery_2.jpg", alt="")
					a(href="/img/images/gallery/gallery_3.jpg").gallery-img
						img(src="/img/images/gallery/gallery_3.jpg", alt="")
					a(href="/img/images/gallery/gallery_4.jpg").gallery-img
						img(src="/img/images/gallery/gallery_4.jpg", alt="")
					a(href="/img/images/gallery/gallery_5.jpg").gallery-img
						img(src="/img/images/gallery/gallery_5.jpg", alt="")
					a(href="/img/images/gallery/gallery_6.jpg").gallery-img
						img(src="/img/images/gallery/gallery_6.jpg", alt="")
					a(href="/img/images/gallery/gallery_7.jpg").gallery-img
						img(src="/img/images/gallery/gallery_7.jpg", alt="")
					a(href="/img/images/gallery/gallery_8.jpg").gallery-img
						img(src="/img/images/gallery/gallery_8.jpg", alt="")
					a(href="/img/images/gallery/gallery_9.jpg").gallery-img
						img(src="/img/images/gallery/gallery_9.jpg", alt="")
					a(href="/img/images/gallery/gallery_10.jpg").gallery-img
						img(src="/img/images/gallery/gallery_10.jpg", alt="")

		section.section.university-advantage
			.container
				.university-title Почему стоит учиться здесь
				.advantage-tags
					ul.advantage-tags-nav
						li.advantage-tags-nav__item.active Преимущества
						li.advantage-tags-nav__item Статистика
						li.advantage-tags-nav__item Жизнь студентов
					.advantage-tags-content
						.advantage-tags-content__item.active
							<iframe width="560" height="315" src="https://www.youtube.com/embed/e7FK6cY-68w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						.advantage-tags-content__item
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos perspiciatis fugit consequatur id alias commodi! Eligendi voluptate est aut? Ut inventore dicta rerum id, earum fuga temporibus. Illum, nulla?
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos perspiciatis fugit consequatur id alias commodi! Eligendi voluptate est aut? Ut inventore dicta rerum id, earum fuga temporibus. Illum, nulla?
						.advantage-tags-content__item
							p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, accusamus.
							p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, accusamus.
		section.section.university-specialty
			.container
				.university-title Cпециальности в MC Givly
				.university-description
					p Самым популярным вопросом родителей и студентов, которые готовятся к зду за границу с целью обучения является оплата обучения за.
				.specialty-list-container
					ul.specialty-list
						li.specialty-list__item  Architecture
						li.specialty-list__item  Art and Design
						li.specialty-list__item  Biological Sciences
						li.specialty-list__item  Business
						li.specialty-list__item  Chemistry
						li.specialty-list__item  Architecture
						li.specialty-list__item  Art and Design
						li.specialty-list__item  Biological Sciences
						li.specialty-list__item  Business
						li.specialty-list__item  Chemistry
						li.specialty-list__item  Architecture
						li.specialty-list__item  Art and Design
						li.specialty-list__item  Biological Sciences
						li.specialty-list__item  Business
						li.specialty-list__item  Chemistry
						li.specialty-list__item  Architecture
						li.specialty-list__item  Art and Design
						li.specialty-list__item  Biological Sciences
						li.specialty-list__item  Business
						li.specialty-list__item  Chemistry
				button.btn-yellow.specialty-more(data-lang="СКРЫТЬ ВСЕ") ПОКАЗАТЬ ВСЕ

		section.section.training-program
			.container
				.university-title Программы обучения
				.training-program-wrapper
					.training-program-item.item
						.item-container
							.item-title Программа  Foundation:
							ul.item-info
								li.item-info-i <span class="left">стоимость</span> <span class="right">от 15 950 £/год</span>
								li.item-info-i <span class="left">экзамен</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
								li.item-info-i <span class="left">срок обучения</span> <span class="right">9 месяцев</span>
					.training-program-item.item
						.item-container
							.item-title Бакалавриат:
							ul.item-info
								li.item-info-i <span class="left">стоимость</span> <span class="right">от 15 950 £/год</span>
								li.item-info-i <span class="left">экзамен</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
								li.item-info-i <span class="left">срок обучения</span> <span class="right">9 месяцев</span>
					.training-program-item.item
						.item-container
							.item-title Магистратура: 
							ul.item-info
								li.item-info-i <span class="left">стоимость</span> <span class="right">от 15 950 £/год</span>
								li.item-info-i <span class="left">экзамен</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
								li.item-info-i <span class="left">срок обучения</span> <span class="right">9 месяцев</span>
					.training-program-item.item
						.item-container
							.item-title Программа  Foundation:
							ul.item-info
								li.item-info-i <span class="left">стоимость</span> <span class="right">от 15 950 £/год</span>
								li.item-info-i <span class="left">экзамен</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
								li.item-info-i <span class="left">срок обучения</span> <span class="right">9 месяцев</span>
					.training-program-item.item
						.item-container
							.item-title Бакалавриат:
							ul.item-info
								li.item-info-i <span class="left">стоимость</span> <span class="right">от 15 950 £/год</span>
								li.item-info-i <span class="left">экзамен</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
								li.item-info-i <span class="left">срок обучения</span> <span class="right">9 месяцев</span>
					.training-program-item.item
						.item-container
							.item-title Магистратура: 
							ul.item-info
								li.item-info-i <span class="left">стоимость</span> <span class="right">от 15 950 £/год</span>
								li.item-info-i <span class="left">экзамен</span> <span class="right">IELTS 5.5 / TOEFL IBT 70+</span>
								li.item-info-i <span class="left">срок обучения</span> <span class="right">9 месяцев</span>
		section.section
			.container
				.university-title.text-center Проживание
				.university-description.text-center Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования. 
				.university-residence
					.university-residence-item
						.university-residence-item__container
							.university-residence-item__img(style="background-image: url(/img/images/residence_1.png);")
							.university-residence-item__title Принимающая </br> семья
					.university-residence-item
						.university-residence-item__container
							.university-residence-item__img(style="background-image: url(/img/images/residence_2.png);")
							.university-residence-item__title Университетский </br> кампус
					.university-residence-item
						.university-residence-item__container
							.university-residence-item__img(style="background-image: url(/img/images/residence_3.png);")
							.university-residence-item__title Студенческая </br> резиденция
					.university-residence-item
						.university-residence-item__container
							.university-residence-item__img(style="background-image: url(/img/images/residence_4.png);")
							.university-residence-item__title Проживание </br> вне кампуса
		include ../blocks/modules/section-reviews/section-reviews.pug
		include ../blocks/modules/form-partners/form-partners.pug