extends template/default

block variables
    - var title = 'Университеты'
    - var pageClass = 'universities-page'
    - var page = 'Home'
    - var bgBanner = "background-image: url(/img/images/universities.jpg);"
    - var pageName = 'Университеты'
    - var classBanner = "banner-base--min"
    - var bannerBase__title = "This is Photoshop's version "
    - var bannerBase__description = "This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec"

block content
    //You section or content
    include ../blocks/modules/banner-base/banner-base.pug
    .container
        .filter-top
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item1", checked)
                label(for="filter-top-item1") высшее образование
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item2")
                label(for="filter-top-item2") среднее образование
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item3")
                label(for="filter-top-item3") каникулы
            .filter-top-item
                input(type="radio", name="filter-top-item", id="filter-top-item4")
                label(for="filter-top-item4") языковые курсы
        button.btn-mobile-filter.btn-open-mobile-filter.btn-base.btn-more Весь фильтр
        .universities-content
            .universities-content-bg
            .universities-content__left
                .universities-filters
                    .filters-item
                        .filters-item__title  По стpанам
                        .filters-wrapper
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item1")
                                label(for="filter-left-item1") Великобритания
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item2")
                                label(for="filter-left-item2") Канада
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item3")
                                label(for="filter-left-item3") Ирландия
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item4")
                                label(for="filter-left-item4") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item5")
                                label(for="filter-left-item5") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item6")
                                label(for="filter-left-item6") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item7")
                                label(for="filter-left-item7") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item8")
                                label(for="filter-left-item8") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item9")
                                label(for="filter-left-item9") США
                            .filter-item
                                input(type="checkbox", name="filter-left-item1", id="filter-left-item10")
                                label(for="filter-left-item10") США
                        button.btn-base.btn-more.filters-item__btn(data-lang="<span>-</span> скрыть все (+ 77)") <span>+</span> показать все (+ 77)
                    .filters-item
                        .filters-item__title   По гоpодам
                        .filters-wrapper
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item11")
                                label(for="filter-left-item11") ВLorem Ipsum
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item12")
                                label(for="filter-left-item12") Proin gravida
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item13")
                                label(for="filter-left-item13") Aenean sollicitudin
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item14")
                                label(for="filter-left-item14") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item15")
                                label(for="filter-left-item15") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item16")
                                label(for="filter-left-item16") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item17")
                                label(for="filter-left-item17") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item2", id="filter-left-item18")
                                label(for="filter-left-item18") Duis sed odio
                        button.btn-base.btn-more.filters-item__btn(data-lang="<span>-</span> скрыть все (+ 77)") <span>+</span> показать все (+ 77)
                    .filters-item
                        .filters-item__title  По виду
                        .filters-wrapper
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item19")
                                label(for="filter-left-item19") Lorem Ipsum
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item20")
                                label(for="filter-left-item20") Proin gravida
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item21")
                                label(for="filter-left-item21") Aenean sollicitudin
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item22")
                                label(for="filter-left-item22") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item23")
                                label(for="filter-left-item23") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item24")
                                label(for="filter-left-item24") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item25")
                                label(for="filter-left-item25") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item26")
                                label(for="filter-left-item26") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item19")
                                label(for="filter-left-item19") Lorem Ipsum
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item20")
                                label(for="filter-left-item20") Proin gravida
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item21")
                                label(for="filter-left-item21") Aenean sollicitudin
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item22")
                                label(for="filter-left-item22") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item23")
                                label(for="filter-left-item23") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item24")
                                label(for="filter-left-item24") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item25")
                                label(for="filter-left-item25") Duis sed odio
                            .filter-item
                                input(type="checkbox", name="filter-left-item3", id="filter-left-item26")
                                label(for="filter-left-item26") Duis sed odio
                        button.btn-base.btn-more.filters-item__btn(data-lang="<span>-</span> скрыть все (+ 77)") <span>+</span> показать все (+ 77)
            .universities-content__right
                .universities-wrapper
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_1.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_2.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_3.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_1.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_2.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_3.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_1.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_2.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                    .universities-item
                        a(href="#").universities-item__container
                            .universities-item__img
                                img(src="/img/images/universities/universities_3.jpg", alt="The University of Toledo")
                            .universities-item__title    The University of Toledo
                            .universities-item__tags Канада, Ирландия, США
                            .universities-item__link Узнать подробнее
                button.btn-link-more.universities-wrapper__btn загузить еще
    include ../blocks/modules/form-subscription/form-subscription.pug
