extends template/default

block variables
	- var title = 'Визы в Японию'
	- var pageClass = 'visa'
	- var page = 'Home'
	- var pageName = 'Визы в Японию'

block content
	//You section or content
	.banner-smart.banner-smart-before(style="background-image: url(/img/images/banner-smart/holydays-group.png); background-color: #5E4EB4;")
		.container.position-relative
			include ../blocks/components/breadcrumbs/breadcrumbs.pug
			.banner-smart__content
				h1.banner-smart__title Оформление визы в Японию
				.banner-smart__longtitle Обратившись к нам, Вы получите профессиональную консультацию и практическую помощь. Мы отвечаем за
				button.banner-smart__btn.btn-yellow.btn-base Получить консультацию
	.section
		.container
			h2.text-center Наши каникулы
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.
			p Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. Мы гордимся тем, что являемся одним из лучших в мире университетов, интенсивно использующих научные исследования, стремящихся изобретать и вводить новшества. Наши студенты имеют возможность учиться у выдающихся мыслительных лидеров и работать с ними через нашу междисциплинарную сеть преподавателей и исследователей, выпускников и партнеров.

			h2.text-center Виды виз в Японии
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.table-visa
				table
					tr
						th.th-info Тип визы
						th.th-info Длительность
						th.th-info Коридор
						th.th-info Сроки изготовления
						th.th-info Консульский сбор
						th
					tr
						td.table-visa__title Туризм
						td 15 месяцев
						td 90 дней
						td от 7 до 10 рабочих дней
						td.table-visa__price $ 300
						td
							button.table-visa__sale Заказать
					tr
						td.table-visa__title Туризм
						td 15 месяцев
						td 90 дней
						td от 7 до 10 рабочих дней
						td.table-visa__price $ 300
						td
							button.table-visa__sale Заказать
					tr
						td.table-visa__title Туризм
						td 15 месяцев
						td 90 дней
						td от 7 до 10 рабочих дней
						td.table-visa__price $ 300
						td
							button.table-visa__sale Заказать
					tr
						td.table-visa__title Туризм
						td 15 месяцев
						td 90 дней
						td от 7 до 10 рабочих дней
						td.table-visa__price $ 300
						td
							button.table-visa__sale Заказать
			.section
				h2.text-center Необходимые документы
				.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
				.documents

					.documents-item
						.documents-item__img
								img(src="/img/images/doc/1.png")
						.documents-item__title Заграничный паспорт
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/2.png")
						.documents-item__title Банковская справка
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/3.png")
						.documents-item__title Две фотографии 45х45
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/4.png")
						.documents-item__title Справка с места работы
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/5.png")
						.documents-item__title Анкетные данные
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/6.png")
						.documents-item__title Свидетельство о браке
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/7.png")
						.documents-item__title Цель поездки
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/8.png")
						.documents-item__title Имущество
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/9.png")
						.documents-item__title Чек оплаты консульского сбор
					.documents-item
						.documents-item__img
								img(src="/img/images/doc/10.png")
						.documents-item__title Свидетельство о рождении
	section.section.section-blue.article-page
		.container
			.section-title Как происходит процесс
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			ul.list-col-2
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
				li Комплектация полного пакета документов.
			.text-center
				button.btn-base.btn-yellow Оформить визу
	section.section.how-working
		.container-min
			.section-title Как мы это делаем?
			.section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
			.how-working-wrapper
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_1.png", alt="Надежность")
						.how-working-item__content
							.how-working-item__title Надежность
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_2.png", alt="Опыт")
						.how-working-item__content
							.how-working-item__title Опыт
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_3.png", alt="Открытость")
						.how-working-item__content
							.how-working-item__title Открытость
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
				.how-working-item
					.how-working-item__container
						.how-working-item__img
							img(src="/img/images/how-working_4.png", alt="Вовлеченность")
						.how-working-item__content
							.how-working-item__title Вовлеченность
							.how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
	section.section.form-partners
		.container-min
			.form-partners-wrapper
				.form-partners__left
					.form-partners__title Получить консультацию с нашими специалистами
					.form-partners__longtitle Заполните форму или свяжитесь с нами спомощью наших мессенджеров
				.form-partners__right
					form.form-partners-style
						.input-group
							.input-item
								input(type="text", name="Name", placeholder="Имя*", required)
							.input-item
								input(type="text", name="Phone", placeholder="Телефон*", required)
						.input-item
							input(type="text", name="Email", placeholder="Email*", required)
						.textarea-item
							textarea(name="Message", placeholder="Расскажите нам о ваших целях. Как именно мы можем вам помочь? ")
						button.btn-base.btn-yellow.form-partners__btn Заказать консультацию
