.section-editor{
    img{
        @media screen and (max-width: 768px){
            width: 100%;
            margin: 20px 0;
        }
    }
    ul{
        li{
            font-size: 16px;
            margin-bottom: 20px;
            position: relative;
            padding-left: 10px;
            &:before{
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #2d3436;
                left: 0;
                border-radius: 100%;
                top: 7px;
            }
        }
    }
    p{
        margin-bottom: 20px;
    }
}
