section.section
    .container
        .section-title Что вас ждет на мероприятии?
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .section-editor
            p
                img(src="/img/images/shutterstock.png", style="float: right" alt="")
                h3 Специалисты-практики расскажут
                ul
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            br
            br
            p
                img(src="/img/images/customer_training.png", style="float: right" alt="")
                h3 Представители западных университетов расскажут
                ul
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                    li Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            