include ../../../blocks/modules/popups/popups.pug
footer.footer
    .container
        .footer-wrapper
            .footer-item
                a(href="/").footer-logo
            .footer-item.hidden-1000
                .footer-item__title Страны
                ul.footer-item__list
                    li 
                        a(href="#") Великобритания
                    li 
                        a(href="#") Канада
                    li 
                        a(href="#") Ирландия
                    li 
                        a(href="#") США
                    li 
                        a(href="#") Швейцария
                    li 
                        a(href="#") Мальта
                    li 
                        a(href="#") Все страны
            .footer-item.hidden-1000
                .footer-item__title Образование
                ul.footer-item__list
                    li 
                        a(href="#") Среднее образование
                    li 
                        a(href="#") Подготовка к поступлению
                    li 
                        a(href="#") Бакалавриат
                    li 
                        a(href="#") Магистратура
                    li 
                        a(href="#") Последипломное 
                    li 
                        a(href="#") Каникулы
                    li 
                        a(href="#") Языковые курсы
            .footer-item.hidden-1000
                .footer-item__title Compass
                ul.footer-item__list
                    li 
                        a(href="#") О нас
                    li 
                        a(href="#") Сервисы
                    li 
                        a(href="#") Мероприятия
                    li 
                        a(href="#") Блог
                    li 
                        a(href="#") Партнерам
            .footer-item
                .footer-item__title.hidden-1000 Контакты
                .footer-item__list
                    ul.footer-item__phone
                        li 
                            a(href="tel:+3 976 564 34 21") +3 976 564 34 21
                        li 
                            a(href="tel:+3 976 564 34 21") +3 976 564 34 21
                        li 
                            a(href="tel:+3 976 564 34 21") +3 976 564 34 21
                    ul.footer-item__address
                        li  г. Днепр, ул. Гоголя 19
                        li Пн - Пт 10 - 18
                        li Сб - Вс выходной
            .footer-item
                ul.footer-item__list.social-links
                    //- li
                    //-     a(href="#").social-google
                    li
                        a(href="#").social-facebook
                    li
                        a(href="#").social-instagram
                    li
                        a(href="#").social-youtube