.form-advice{
    background-color: #5e4eb4;
    padding: 30px 0;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    &__title{
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .inputs{
        display: flex;
        justify-content: space-around;
        @media screen and (max-width: 768px){
            flex-wrap: wrap;
        }
    }
    .input-group{
        width: 28%;
        margin-bottom: 30px;
        @media screen and (max-width: 768px){
            width: 60%;
        }
        @media screen and (max-width: 600px){
            width: 80%;
        }
        @media screen and (max-width: 425px){
            width: 100%;
        }
        input{
            width: 100%;
            background-color: rgba(#fff, 0.3);
            height: 40px;
            border: 0;
            padding-left: 10px;
            font-size: 18px;
            color: #fff;
            &::placeholder{
                color: #fff;
                
            }
        }
    }
    &__btn{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 22px;
        @media screen and (max-width: 425px){
            font-size: 16px;
        }
    }
}