section.section.form-advice
    .container-min
        .form-advice__title у нас еще 150 специальностей
        form.form-advice-style.form-send
            .inputs
                .input-group
                    input(type="text", placeholder="Имя", required)
                .input-group
                    input(type="text", placeholder="Телефон", required).input-phone-mask
                .input-group
                    input(type="text", placeholder="Специальность", required)
            button.form-advice__btn.btn-yellow.btn-base   ПОДОБРАТЬ БЕСПЛАТНО
