.link-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item{
        line-height: 40px;
        padding: 0 40px;
        border-radius: 144px;
        border: 1px solid #5E4EB4;
        color: #5E4EB4;
        background-color: #fff;
        font-weight: 600;
        margin: 5px 15px;
        @media screen and (max-width: 650px){
            padding: 0 20px;
        }
    }
    .active{
        color: #FFFFFF;
        background: #5E4EB4;

    }
}

.season-filter{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    flex-wrap: wrap;
    &__item{
        position: relative;
        margin: 7.5px;
        width: 135px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;
    }
    label{
        line-height: 80px;
        display: block;
        font-size: 20px;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: 0.25s all;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;
        background-repeat: no-repeat!important;
        background-size: 57px 40px;
        background-position: 10px center !important;
        span{
            margin-left: 50px;
        }
        .label-all{
            margin-left: 0;
        }
    }
    input{
        display: none;
        &:checked~label{
            top: -7.5px;
            bottom: -7.5px;
            left: -7.5px;
            right: -7.5px;
            line-height: 95px;
        }
    }
}

.holidays-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 50px;
    @media screen and (max-width: 650px){
        justify-content: center;
    }
}
.holidays-item{
    width: 33.3%;
    padding: 0 15px;
    margin-bottom: 30px;
    @media screen and (max-width: 900px){
        width: 50%;
    }
    @media screen and (max-width: 650px){
        width: 80%;
    }
    @media screen and (max-width: 400px){
        width: 100%;
    }
    &__img{
        img{
            width: 100%;
        }
    }
    &__content{
        background-color: #F8FBFE;
        padding: 20px;
    }
    &__title{
        color: #2D3436;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        height: 48px;
        overflow: hidden;
    }
    .option-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        color: #2D3436;
        &__name{
            font-weight: 500;
        }
        &__info{
            font-weight: bold;
            font-size: 18px;
        }
    }
    .season-icons{
        display: flex;
        .season-icon{
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 2px;
        }
    }
    .link-more{
        color: #2161A3;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 19px;
            height: 9px;
            right: -30px;
            top: 50%;
            background-size: cover;
            transform: translateY(-50%);
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='11' viewBox='0 0 19 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6 10L17 5.5M17 5.5L13.6 1M17 5.5L-8.34347e-08 5.5' stroke='%232161A3' stroke-width='2'/%3E%3C/svg%3E%0A");
        }
    }
}
