section.section.holidays-section
    .container
        .section-title Популярные программы для каникул за границей
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .link-center
            a(href="#").link-center__item.active Индивидуальные поездки
            a(href="#").link-center__item Групповые поездки
        .season-filter
            .season-filter__item
                input(type="checkbox", name="season", id="season1")
                label(for="season1", style="background: #5E4EB4;")
                    span.label-all Все
            .season-filter__item
                input(type="checkbox", name="season", id="season2")
                label(for="season2", style="background: #BED453; background-image: url(/img/images/svg/Spring.svg);") 
                    span Весна
            .season-filter__item
                input(type="checkbox", name="season", id="season3")
                label(for="season3", style="background: #FFCA14; background-image: url(/img/images/svg/Summer.svg);")
                    span Лето
            .season-filter__item
                input(type="checkbox", name="season", id="season4")
                label(for="season4", style="background: #F09020; background-image: url(/img/images/svg/Autumn.svg);") 
                    span Осень
            .season-filter__item
                input(type="checkbox", name="season", id="season5")
                label(for="season5", style="background: #5BA0E5; background-image: url(/img/images/svg/Winter.svg);") 
                    span Зима
        .holidays-wrapper
            .holidays-item
                .holidays-item__container
                    a(href="#").holidays-item__img
                        img(src="/img/images/holidays-item.jpg", alt="")
                    .holidays-item__content
                        .holidays-item__title Название программы популярных каникул
                        .holidays-item__option.option
                            .option-item
                                .option-item__name Сезон 
                                .option-item__info
                                    .season-icons
                                        .season-icon(style="background-image: url(/img/images/svg/Spring_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Summer_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Autumn_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Winter_icon.svg);")
                            .option-item
                                .option-item__name Город 
                                .option-item__info Лос-Анджелес
                            .option-item
                                .option-item__name Даты: 
                                .option-item__info 13.11.2019
                            .option-item
                                .option-item__name Продолжительность:
                                .option-item__info 7 месяцев
                            .option-item
                                .option-item__name Возраст:
                                .option-item__info от 18 лет
                            .option-item
                                .option-item__name Стоимость:
                                .option-item__info 5000 грн
                        a(href="#").link-more Узнать подробнее
            .holidays-item
                .holidays-item__container
                    a(href="#").holidays-item__img
                        img(src="/img/images/holidays-item.jpg", alt="")
                    .holidays-item__content
                        .holidays-item__title Название программы популярных каникул
                        .holidays-item__option.option
                            .option-item
                                .option-item__name Сезон 
                                .option-item__info
                                    .season-icons
                                        .season-icon(style="background-image: url(/img/images/svg/Spring_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Autumn_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Winter_icon.svg);")
                            .option-item
                                .option-item__name Город 
                                .option-item__info Лос-Анджелес
                            .option-item
                                .option-item__name Даты: 
                                .option-item__info 13.11.2019
                            .option-item
                                .option-item__name Продолжительность:
                                .option-item__info 7 месяцев
                            .option-item
                                .option-item__name Возраст:
                                .option-item__info от 18 лет
                            .option-item
                                .option-item__name Стоимость:
                                .option-item__info 5000 грн
                        a(href="#").link-more Узнать подробнее
            .holidays-item
                .holidays-item__container
                    a(href="#").holidays-item__img
                        img(src="/img/images/holidays-item.jpg", alt="")
                    .holidays-item__content
                        .holidays-item__title Название программы популярных каникул
                        .holidays-item__option.option
                            .option-item
                                .option-item__name Сезон 
                                .option-item__info
                                    .season-icons
                                        .season-icon(style="background-image: url(/img/images/svg/Spring_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Summer_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Winter_icon.svg);")
                            .option-item
                                .option-item__name Город 
                                .option-item__info Лос-Анджелес
                            .option-item
                                .option-item__name Даты: 
                                .option-item__info 13.11.2019
                            .option-item
                                .option-item__name Продолжительность:
                                .option-item__info 7 месяцев
                            .option-item
                                .option-item__name Возраст:
                                .option-item__info от 18 лет
                            .option-item
                                .option-item__name Стоимость:
                                .option-item__info 5000 грн
                        a(href="#").link-more Узнать подробнее
            .holidays-item
                .holidays-item__container
                    a(href="#").holidays-item__img
                        img(src="/img/images/holidays-item.jpg", alt="")
                    .holidays-item__content
                        .holidays-item__title Название программы популярных каникул
                        .holidays-item__option.option
                            .option-item
                                .option-item__name Сезон 
                                .option-item__info
                                    .season-icons
                                        .season-icon(style="background-image: url(/img/images/svg/Spring_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Summer_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Autumn_icon.svg);")
                            .option-item
                                .option-item__name Город 
                                .option-item__info Лос-Анджелес
                            .option-item
                                .option-item__name Даты: 
                                .option-item__info 13.11.2019
                            .option-item
                                .option-item__name Продолжительность:
                                .option-item__info 7 месяцев
                            .option-item
                                .option-item__name Возраст:
                                .option-item__info от 18 лет
                            .option-item
                                .option-item__name Стоимость:
                                .option-item__info 5000 грн
                        a(href="#").link-more Узнать подробнее
            .holidays-item
                .holidays-item__container
                    a(href="#").holidays-item__img
                        img(src="/img/images/holidays-item.jpg", alt="")
                    .holidays-item__content
                        .holidays-item__title Название программы популярных каникул
                        .holidays-item__option.option
                            .option-item
                                .option-item__name Сезон 
                                .option-item__info
                                    .season-icons
                                        .season-icon(style="background-image: url(/img/images/svg/Summer_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Autumn_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Winter_icon.svg);")
                            .option-item
                                .option-item__name Город 
                                .option-item__info Лос-Анджелес
                            .option-item
                                .option-item__name Даты: 
                                .option-item__info 13.11.2019
                            .option-item
                                .option-item__name Продолжительность:
                                .option-item__info 7 месяцев
                            .option-item
                                .option-item__name Возраст:
                                .option-item__info от 18 лет
                            .option-item
                                .option-item__name Стоимость:
                                .option-item__info 5000 грн
                        a(href="#").link-more Узнать подробнее
            .holidays-item
                .holidays-item__container
                    a(href="#").holidays-item__img
                        img(src="/img/images/holidays-item.jpg", alt="")
                    .holidays-item__content
                        .holidays-item__title Название программы популярных каникул
                        .holidays-item__option.option
                            .option-item
                                .option-item__name Сезон 
                                .option-item__info
                                    .season-icons
                                        .season-icon(style="background-image: url(/img/images/svg/Spring_icon.svg);")
                                        .season-icon(style="background-image: url(/img/images/svg/Winter_icon.svg);")
                            .option-item
                                .option-item__name Город 
                                .option-item__info Лос-Анджелес
                            .option-item
                                .option-item__name Даты: 
                                .option-item__info 13.11.2019
                            .option-item
                                .option-item__name Продолжительность:
                                .option-item__info 7 месяцев
                            .option-item
                                .option-item__name Возраст:
                                .option-item__info от 18 лет
                            .option-item
                                .option-item__name Стоимость:
                                .option-item__info 5000 грн
                        a(href="#").link-more Узнать подробнее
        .button-morelink
            button.btn-base.btn-more загрузить ещё