.section-universities{
    margin-bottom: 75px;
}
.section-universities-tags{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 50px;
    @media screen and (max-width: 1000px){
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item{
        margin-bottom: 20px!important;
        @media screen and (max-width: 1000px){
            margin-bottom: 10px;
            margin-right: 10px;
        }
        input{
            display: none;
            &:checked~label{
                box-shadow: 0px 0px 0px 4px rgb(80, 77, 71);
                background-color: #ffffff;
                color: #4d4d4d;
            }
        }
        label{
            background-color: #ffca14;
            line-height: 40px;
            height: 40px;
            padding: 0 15px;
            display: block;
            transition: 0.25s all;
            &:hover{
                cursor: pointer;
            }

        }
        &:nth-child(2){
            label{
                background-color: #1689fe;
                color: #fff;
            }
        }
        &:nth-child(3){
            label{
                background-color: #74b9ff;
                color: #fff;
            }
        }
        &:nth-child(5){
            label{
                background-color: #5e4eb4;
                color: #fff;
            }
        }
    }
}

.button-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
    top: 35px;
    button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            background-size: cover;
        }
    }
}
.delete-btn{
    background-color: #838383;
    &:before{
        width: 18px;
        height: 18px;

        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.484 6.52148C11.2512 6.52148 11.0625 6.71019 11.0625 6.94303V14.9102C11.0625 15.1429 11.2512 15.3318 11.484 15.3318C11.7169 15.3318 11.9056 15.1429 11.9056 14.9102V6.94303C11.9056 6.71019 11.7169 6.52148 11.484 6.52148Z' fill='white'/%3E%3Cpath d='M6.50748 6.52148C6.27465 6.52148 6.08594 6.71019 6.08594 6.94303V14.9102C6.08594 15.1429 6.27465 15.3318 6.50748 15.3318C6.74032 15.3318 6.92903 15.1429 6.92903 14.9102V6.94303C6.92903 6.71019 6.74032 6.52148 6.50748 6.52148Z' fill='white'/%3E%3Cpath d='M2.88085 5.35877V15.7447C2.88085 16.3586 3.10595 16.9351 3.49917 17.3487C3.89058 17.7635 4.43529 17.999 5.00537 18H12.9811C13.5514 17.999 14.0961 17.7635 14.4873 17.3487C14.8805 16.9351 15.1056 16.3586 15.1056 15.7447V5.35877C15.8873 5.15129 16.3938 4.39614 16.2893 3.59405C16.1845 2.79213 15.5013 2.19225 14.6925 2.19209H12.5342V1.66516C12.5367 1.22204 12.3615 0.796544 12.0478 0.483514C11.7341 0.170649 11.308 -0.00356726 10.8648 5.53875e-05H7.12165C6.67854 -0.00356726 6.25238 0.170649 5.93869 0.483514C5.625 0.796544 5.4498 1.22204 5.45227 1.66516V2.19209H3.294C2.48516 2.19225 1.80196 2.79213 1.69723 3.59405C1.59267 4.39614 2.09918 5.15129 2.88085 5.35877ZM12.9811 17.1569H5.00537C4.28462 17.1569 3.72394 16.5378 3.72394 15.7447V5.39582H14.2625V15.7447C14.2625 16.5378 13.7019 17.1569 12.9811 17.1569ZM6.29536 1.66516C6.29256 1.44566 6.37884 1.23439 6.53462 1.07944C6.69023 0.924489 6.90199 0.839357 7.12165 0.843144H10.8648C11.0845 0.839357 11.2963 0.924489 11.4519 1.07944C11.6076 1.23423 11.6939 1.44566 11.6911 1.66516V2.19209H6.29536V1.66516ZM3.294 3.03517H14.6925C15.1116 3.03517 15.4513 3.37488 15.4513 3.79395C15.4513 4.21303 15.1116 4.55273 14.6925 4.55273H3.294C2.87492 4.55273 2.53522 4.21303 2.53522 3.79395C2.53522 3.37488 2.87492 3.03517 3.294 3.03517Z' fill='white'/%3E%3Cpath d='M8.99576 6.52148C8.76292 6.52148 8.57422 6.71019 8.57422 6.94303V14.9102C8.57422 15.1429 8.76292 15.3318 8.99576 15.3318C9.2286 15.3318 9.4173 15.1429 9.4173 14.9102V6.94303C9.4173 6.71019 9.2286 6.52148 8.99576 6.52148Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}
.compare-btn{
    background-color: #5E4EB4;
    margin-bottom: 15px;
    &:before{
        width: 18px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.62479 2.0459L2.04688 3.09176' stroke='white' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M15.2947 1L10.2656 1.74673' stroke='white' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M9.01851 3.09172C9.59613 3.09172 10.0644 2.62347 10.0644 2.04586C10.0644 1.46825 9.59613 1 9.01851 1C8.4409 1 7.97266 1.46825 7.97266 2.04586C7.97266 2.62347 8.4409 3.09172 9.01851 3.09172Z' stroke='white' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M12.125 10.6885C12.125 11.6019 12.4871 12.4778 13.1316 13.1236C13.7761 13.7694 14.6502 14.1323 15.5617 14.1323C16.4731 14.1323 17.3472 13.7694 17.9917 13.1236C18.6362 12.4778 18.9983 11.6019 18.9983 10.6885C18.9983 8.80863 15.5617 2.94556 15.5617 2.94556C15.5617 2.94556 12.125 8.80863 12.125 10.6885Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.125 11.2983C12.125 12.8349 13.6639 14.0827 15.5617 14.0827C17.4594 14.0827 18.9983 12.8349 18.9983 11.2983C18.9844 11.0369 18.9294 10.7795 18.8352 10.5354H12.299C12.2011 10.7789 12.1423 11.0363 12.125 11.2983Z' fill='white'/%3E%3Cpath d='M1 13.4129C1 14.3262 1.36208 15.2021 2.00657 15.848C2.65107 16.4938 3.5252 16.8566 4.43665 16.8566C5.34811 16.8566 6.22223 16.4938 6.86673 15.848C7.51123 15.2021 7.8733 14.3262 7.8733 13.4129C7.8733 11.533 4.43665 5.66992 4.43665 5.66992C4.43665 5.66992 1 11.533 1 13.4129Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 13.413C1 14.3263 1.36208 15.2022 2.00657 15.8481C2.65107 16.4939 3.5252 16.8567 4.43665 16.8567C5.34811 16.8567 6.22224 16.4939 6.86673 15.8481C7.51123 15.2022 7.87331 14.3263 7.87331 13.413C7.86011 13.0965 7.80526 12.7832 7.71017 12.4812H1.17401C1.07523 12.7827 1.01672 13.096 1 13.413Z' fill='white'/%3E%3C/svg%3E%0A");
    }

}
