section.section.section-universities
    .container-min
        .section-title Где учатся наши студенты?
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .section-universities-tags
           .section-universities-tags__item
                input(type="radio", name="section-cours-tag", id="section-cours-tag1")
                label(for="section-cours-tag1") Среднее образование
           .section-universities-tags__item
                input(type="radio", name="section-cours-tag", id="section-cours-tag2")
                label(for="section-cours-tag2") Подготовка к поступлению
           .section-universities-tags__item
                input(type="radio", name="section-cours-tag", id="section-cours-tag3")
                label(for="section-cours-tag3") Бакалавриат
           .section-universities-tags__item
                input(type="radio", name="section-cours-tag", id="section-cours-tag4")
                label(for="section-cours-tag4") Магистратура
           .section-universities-tags__item
                input(type="radio", name="section-cours-tag", id="section-cours-tag5")
                label(for="section-cours-tag5") Последипломное образование
        include ../../../blocks/components/universities/universities.pug
        .button-morelink
            a(href="#").btn-base.btn-link-more Смотреть все программы                    
