.form-partners{
    padding: 40px 0;
    background-color: #5e4eb4;
    background-image: url(../img/images/bg-countries.png);
    &__left{
        width: 40%;
        padding-right: 40px;
        color: #fff;
        @media screen and (max-width: 1000px){
            width: 100%;
            text-align: center;
            padding-right: 0;
        }
    }
    &__right{
        width: 60%;
        @media screen and (max-width: 800px){
            width: 100%;
        }
    }
    &__title{
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__longtitle{
        font-size: 21px;
        font-weight: 400;
        margin-bottom: 35px;
    }
    &__btn{
        @media screen and (max-width: 550px){
            width: 100%;
        }

    }
  .social-sharing-link{
    margin-left: auto;
    justify-content: flex-start;
  }
}
.form-partners-wrapper{
    display: flex;
    @media screen and (max-width: 1000px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.form-partners-style{
    .input-group{
        display: flex;
        margin: 0 -7px;
        flex-wrap: wrap;
        .input-item{
            width: 50%;
            padding: 0 7px;
            @media screen and (max-width: 550px){
                width: 100%;
            }
        }
    }
    input,textarea{
        width: 100%;
        background-color: rgba(255,255,255,.3);
        color: #fff;
        height: 50px;
        margin-bottom: 15px;
        border: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
        &::placeholder{
            color: #fff;
        }
    }
    textarea{
        max-width: 100%;
        min-height: 85px;
        min-width: 100%;
        padding-top: 20px;
        @media screen and (max-width: 550px){
            height: 120px;
        }
    }
}
