section.section.form-partners
    .container-min
        .form-partners-wrapper
            .form-partners__left
                .form-partners__title Получить консультацию с нашими специалистами
                .form-partners__longtitle Заполните форму или свяжитесь с нами спомощью наших мессенджеров
                .social-sharing-link
                    a(href="/").social-sharing-telegram
                    a(href="/").social-sharing-vider
                    a(href="/").social-sharing-messager
                    a(href="/").social-sharing-whatsapp
            .form-partners__right
                form.form-partners-style
                    .input-group
                        .input-item
                            input(type="text", name="Name", placeholder="Имя*", required)
                        .input-item
                            input(type="text", name="Phone", placeholder="Телефон*", required)
                    .input-item
                        input(type="text", name="Email", placeholder="Email*", required)
                    .textarea-item
                        textarea(name="Message", placeholder="Расскажите нам о ваших целях. Как именно мы можем вам помочь? ")
                    button.btn-base.btn-yellow.form-partners__btn Заказать консультацию
