section.section.section-countries
    .container-min
        .section-title Популярные страны для образования
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .section-countries-wrapper.section-countries-carousel
            .section-countries-item
                a(href="#").section-countries-item__container
                    .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                        img(src="/img/images/flag-kanady.png", alt="Канада")
                    .section-countries-item__body
                        .section-countries-item__title Канада
                        .section-countries-item__universities <span>463</span> университета
                        .section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                        .section-countries-item__link Подробнеее 
            .section-countries-item
                a(href="#").section-countries-item__container
                    .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                        img(src="/img/images/flag-france.png", alt="Франция")
                    .section-countries-item__body
                        .section-countries-item__title Франция
                        .section-countries-item__universities <span>463</span> университета
                        .section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                        .section-countries-item__link Подробнеее 
            .section-countries-item
                a(href="#").section-countries-item__container
                    .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                        img(src="/img/images/flag-germany.png", alt="Германия")
                    .section-countries-item__body
                        .section-countries-item__title Германия
                        .section-countries-item__universities <span>463</span> университета
                        .section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                        .section-countries-item__link Подробнеее 
            .section-countries-item
                a(href="#").section-countries-item__container
                    .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                        img(src="/img/images/usa-flag.png", alt="США")
                    .section-countries-item__body
                        .section-countries-item__title США
                        .section-countries-item__universities <span>463</span> университета
                        .section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                        .section-countries-item__link Подробнеее 
            .section-countries-item
                a(href="#").section-countries-item__container
                    .section-countries-item__img(style="background-image: url(/img/images/countries-item_1.jpg)")
                        img(src="/img/images/flag-kanady.png", alt="Канада")
                    .section-countries-item__body
                        .section-countries-item__title Канада
                        .section-countries-item__universities <span>463</span> университета
                        .section-countries-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
                        .section-countries-item__link Подробнеее 