.map-un-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.map-un-item{
    width: 25%;
    padding: 0 25px;
    text-align: center;
    @media screen and (max-width: 767px){
        width: 50%;
        margin-bottom: 15px;
    }
    @media screen and (max-width: 500px){
        width: 100%;
    }
    &__num{
        color: #5e4eb4;
        font-size: 37px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
        @media screen and (max-width: 767px){
            margin-bottom: 10px;
        }
    }
    &__text{
        font-size: 18px;
    }
}
.contacts-map{
    iframe{
        min-height: 320px;
    }
}