section.section.map-un
    .container
        .section-title Уже 10 лет на рынке
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .map-un-wrapper
            .map-un-item
                .map-un-item__num 1000
                .map-un-item__text Студентов успешно отправились за границу
            .map-un-item
                .map-un-item__num 340
                .map-un-item__text Инностранных университетов посетила команда
            .map-un-item
                .map-un-item__num 260
                .map-un-item__text Дней открытых дверей провел наш коллектив
            .map-un-item
                .map-un-item__num 870
                .map-un-item__text Положительных отзывов от наших студентов