.section-reviews-wrapper{
    // .slick-current{
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     padding: 0px;
    //     .section-reviews-item__container{
    //         background-color: #5e4eb4;
    //     }
    // }
}
.section-reviews-item{
    padding: 20px;
    &__container{
        background-color: #74b9ff;
        color: #ffffff;
        padding: 15px 20px;
    }
    &__header{
        display: flex;

    }
    &__img{
        margin-right: 25px;
    }
}

.video-wrapper {
    background: #000 none repeat scroll 0 0;
    overflow: hidden;
    width: 100%;
  }


.section-reviews-wrapper{
    .slick-slide {
        transition: 0.25s all;
        position: relative;
        height: 290px;
        position: relative;
        padding: 20px 0;
        @media screen and (max-width: 768px){
            height: auto;
            padding: 0;
        }
        .section-reviews-item__container{
            background-image: url(../img/images/bg-countries.png);
            background-position: center right;
            background-repeat: no-repeat;
            transition: 0.25s all;
            position: absolute;
            top: 20px;
            bottom: 20px;
            right: 0;
            left: 0;
            font-size: 12px;
            opacity: 0.6;
            @media screen and (max-width: 768px){
                position: static;
                top: 0;
                bottom: 0;
                font-size: 15px;
                background-color: #5e4eb4;
            }
        }

    }

  .slick-current {
    transition: 0.25s all;
    z-index: 2;
    padding: 0;
    .section-reviews-item__container{
        top: 0px;
        bottom: 0px;
        left: -100px;
        right: -100px;
        background-color: #5e4eb4;
        font-size: 15px;
        opacity: 1;
        @media screen and (max-width: 768px){
            left: 0;
            right: 0;
            position: static;
        }
    }
    .section-reviews-item__title{
        font-size: 20px;
        margin-top: 18px;
        margin-bottom: 20px;
    }
    .section-reviews-item__description{
        margin-top: 20px;
    }
  }
  .slick-list {
        padding: 30px 0!important;
    }
}
.section-reviews-item__title{
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 15px;
  font-weight: 700;
}
.section-reviews-item__longtitle{
  font-size: 16px;
}
.section-reviews-item__description{
  margin-top: 15px;
  text-align: center;
}

  .slick-slide img {
      display: block;
      width: 100%;
  }

.section-reviews-btns{
    max-width: 587px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 550px){
        flex-direction: column;
        align-items: center;
    }
    button,a{
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 20px;
        line-height: 45px;
        @media screen and (max-width: 550px){
            margin-bottom: 20px;
        }
    }
}










.reviews-slider-wrap {
    position: relative;
    .reviews-slider-item-wrap {
      transform: scale(.7) translateX(0);
      transition: 1s ease;
      height: auto;
      display: flex;
      background-color: #E8E5F8;
      padding: 30px;
    }
    .reviews-item-photo-wrap{
      display: flex;
      margin-bottom: 30px;
    }
    .img-wrap{
      width: 60px;
      height: 60px;
      background-size: cover;
      border-radius: 50%;
      margin-right: 30px;
    }
    .slick-current {
      opacity: 1 !important;
      transform: scale(1) !important;
      transition: 1s ease;
      z-index: 1;
      position: relative;
      & + .slick-active {
        transform: scale(.7) translateX(-11vw);
      }
    }
    .reviews-item {
      cursor: pointer;
      position: relative;
    }
    .slick-list {
      //width: 100%;
    }
    .slick-slide {
      opacity: 0;
      transition: .3s ease;
    }
    .slick-active {
      transition: 1s ease;
      opacity: .5;
      transform: scale(.7) translateX(11vw);
    }
    .slick-track {
      padding-bottom: 25px;
      padding-top: 60px;
      display: flex;
      height: auto;
    }
    * {
      outline: none;
    }
  }

  .reviews-slider-wrap .reviews-slider-nav {
    @media screen and (max-width: 992px){
      display: inline-flex !important;
    }
  }

  .reviews-slider-nav-right {
    width: 55px;
    height: 55px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='22' viewBox='0 0 14 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7487 11.8584L2.95841 21.6485C2.73197 21.8752 2.4297 22 2.10739 22C1.78508 22 1.48281 21.8752 1.25637 21.6485L0.535387 20.9277C0.0662366 20.458 0.0662366 19.6947 0.535387 19.2257L8.75653 11.0046L0.526265 2.7743C0.299828 2.54769 0.174805 2.24559 0.174805 1.92346C0.174805 1.60098 0.299828 1.29888 0.526265 1.07209L1.24725 0.35146C1.47387 0.124844 1.77596 0 2.09827 0C2.42058 0 2.72285 0.124844 2.94929 0.35146L12.7487 10.1505C12.9757 10.3778 13.1003 10.6814 13.0996 11.004C13.1003 11.3279 12.9757 11.6313 12.7487 11.8584Z' fill='%23474747'/%3E%3C/svg%3E%0A");
    right: 7vw !important;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    @media screen and (max-width: 767px){
      right: 3vw !important;
    }
  }

  .reviews-slider-nav-left {
    left: 7vw !important;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='22' viewBox='0 0 14 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.525725 10.1416L10.316 0.351461C10.5424 0.124845 10.8447 0 11.167 0C11.4893 0 11.7916 0.124845 12.018 0.351461L12.739 1.07227C13.2082 1.54195 13.2082 2.30533 12.739 2.7743L4.51789 10.9954L12.7481 19.2257C12.9746 19.4523 13.0996 19.7544 13.0996 20.0765C13.0996 20.399 12.9746 20.7011 12.7481 20.9279L12.0272 21.6485C11.8005 21.8752 11.4985 22 11.1761 22C10.8538 22 10.5516 21.8752 10.3251 21.6485L0.525725 11.8495C0.298751 11.6222 0.174086 11.3186 0.174802 10.996C0.174086 10.6721 0.298751 10.3687 0.525725 10.1416Z' fill='%23474747'/%3E%3C/svg%3E%0A");
    @media screen and (max-width: 767px){
      left: 3vw !important;
    }
  }
.container-mini-reviews{
  max-width: 700px;
  margin: 0 auto;
  .reviews-slider-nav-left{
    left: -4vw!important;
    @media screen and (max-width: 768px){
      left: 2vw!important;
    }
  }
  .reviews-slider-nav-right{
    right: -4vw!important;
    @media screen and (max-width: 768px){
      right: 2vw!important;
    }
  }
}
