section.section.section-reviews
    .container-reviews
        .section-title Отзывы наших студентов
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .reviews-slider-wrap
            .reviews-slider-init
                .reviews-slider-item-wrap
                    .reviews-item
                        .reviews-item-photo-wrap
                            .reviews-item-play-label
                                .img-wrap(style="background-image: url('/img/images/avatar.png')")
                            .section-reviews-item__info
                                .section-reviews-item__title Олег Приймак
                                .section-reviews-item__longtitle The University of Toledo, 2018
                        .article-text Спасибо большое компании, за их помощь) Благодаря им получили визу на 10 лет в США))) Особое спасибо, Анжеле за поддержку, наставление, ответы на вопросы даже в 11 часов ночи и в выходные)) Нам помогли подобрать тур, перевести документы и заполнить анкету)) Подавались в Польше, с компанией работали и оплачивали дистанционно, все прошло супер)) Рекомендую))
                .reviews-slider-item-wrap
                    .reviews-item
                        .reviews-item-photo-wrap
                            .reviews-item-play-label
                                .img-wrap(style="background-image: url('/img/images/avatar.png')")
                            .section-reviews-item__info
                                .section-reviews-item__title Олег Приймак
                                .section-reviews-item__longtitle The University of Toledo, 2018
                        .article-text Спасибо большое компании, за их помощь) Благодаря им получили визу на 10 лет в США))) Особое спасибо, Анжеле за поддержку, наставление, ответы на вопросы даже в 11 часов ночи и в выходные)) Нам помогли подобрать тур, перевести документы и заполнить анкету)) Подавались в Польше, с компанией работали и оплачивали дистанционно, все прошло супер)) Рекомендую))
                .reviews-slider-item-wrap
                        .reviews-item
                            .reviews-item-photo-wrap
                                .reviews-item-play-label
                                    .img-wrap(style="background-image: url('/img/images/avatar.png')")
                                .section-reviews-item__info
                                    .section-reviews-item__title Олег Приймак
                                    .section-reviews-item__longtitle The University of Toledo, 2018
                            .article-text Спасибо большое компании, за их помощь) Благодаря им получили визу на 10 лет в США))) Особое спасибо, Анжеле за поддержку, наставление, ответы на вопросы даже в 11 часов ночи и в выходные)) Нам помогли подобрать тур, перевести документы и заполнить анкету)) Подавались в Польше, с компанией работали и оплачивали дистанционно, все прошло супер)) Рекомендую))
            button.slider-nav-left.reviews-slider-nav.reviews-slider-nav-left
                .arrow
            button.slider-nav-right.reviews-slider-nav.reviews-slider-nav-right
                .arrow

        .section-reviews-btns
            button.btn-yellow оставить отзыв
            a(href="#").btn-link-more Посмотреть все отзывы

