.form-subscription{
    padding: 55px 0;
    background-color: #5e4eb4;
    &__title{
        color: #fff;
        font-size: 21px;
    }
    &__btn{
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 50px;
    }
    &__left{
        margin-bottom: 20px;
    }
    &__right{
        @media screen and (max-width: 650px){
            width: 70%;
        }
        @media screen and (max-width: 500px){
            width: 100%;
        }
    }
}
.form-subscription-style{
    display: flex;
    @media screen and (max-width: 650px){
        flex-wrap: wrap;
        flex-direction: column;
    }
    .input-item{
        width: 300px;
        padding-right: 25px;
        @media screen and (max-width: 650px){
            padding-right: 0;
            width: 100%;
            margin-bottom: 20px;
        }
        input{
            border: 0;
            height: 50px;
            padding-left: 20px;
            background-color: #dfe6e9;
            font-size: 20px;
            width: 100%;
            &::placeholder{
                color: #5e4eb4;
            }
        }
        
    }
}
.form-subscription-wrapper{
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 1000px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
