section.section.form-subscription
    .container
        .form-subscription-wrapper
            .form-subscription__left
                .form-subscription__title Хочешь получать новости от </br> <b>Compass</b> первым?
            .form-subscription__right
                form.form-subscription-style
                    .input-item
                        input(type="text", name="Email", placeholder="Ваш email", required)
                    button.btn-base.btn-yellow.form-subscription__btn Подписаться
        