.social-sharing{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  @media screen and (max-width: 570px){
    flex-direction: column;
  }
}
.social-sharing-link{
  display: flex;
  justify-content: center;
  margin: 0 90px;
  @media screen and (max-width: 800px){
    margin: 0 30px;
  }
  @media screen and (max-width: 570px){
    margin: 20px 0;
  }
  a{
    display: block;
    width: 42px;
    height: 42px;
    margin: 0 6px;
  }
}
.social-sharing-telegram{
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21.0786' cy='21.0786' r='21.0786' fill='%2341B9FF'/%3E%3Cpath d='M29.208 11.2655C28.9152 11.2791 28.6394 11.3642 28.3943 11.4596H28.3909C28.1424 11.5583 26.9611 12.0553 25.167 12.8077C23.3729 13.5635 21.0443 14.5439 18.7327 15.5176C14.1164 17.4615 9.5784 19.3747 9.5784 19.3747L9.63287 19.3543C9.63287 19.3543 9.31967 19.4564 8.99285 19.6811C8.82603 19.79 8.6422 19.9398 8.48219 20.1747C8.32219 20.4096 8.19282 20.7705 8.24048 21.1416C8.31878 21.7714 8.72731 22.1493 9.02008 22.3569C9.31626 22.568 9.59883 22.6667 9.59883 22.6667H9.60563L13.8611 24.1C14.0517 24.7128 15.1582 28.3486 15.4237 29.1861C15.5803 29.6865 15.7335 29.9997 15.9241 30.238C16.0161 30.3606 16.125 30.4627 16.2544 30.5444C16.3054 30.5751 16.3599 30.5989 16.4144 30.6193C16.4314 30.6295 16.4484 30.6329 16.4688 30.6364L16.4246 30.6261C16.4382 30.6295 16.4484 30.6398 16.4586 30.6432C16.4927 30.6534 16.5165 30.6568 16.5608 30.6636C17.2348 30.8678 17.7761 30.4491 17.7761 30.4491L17.8068 30.4253L20.3192 28.1375L24.5304 31.3683L24.6257 31.4091C25.504 31.7938 26.3926 31.5794 26.8624 31.2015C27.3356 30.8202 27.5194 30.3334 27.5194 30.3334L27.55 30.2551L30.8046 13.5839C30.8965 13.172 30.9204 12.7873 30.8182 12.4128C30.7161 12.0383 30.454 11.6876 30.1374 11.5004C29.8174 11.3098 29.5007 11.2519 29.208 11.2655ZM29.1195 13.0528C29.1161 13.1073 29.1263 13.1005 29.1024 13.206V13.2162L25.8785 29.7138C25.8649 29.7376 25.8411 29.7887 25.7764 29.8397C25.7083 29.8942 25.6538 29.9282 25.3713 29.8159L20.2204 25.8668L17.1089 28.7027L17.7625 24.5289C17.7625 24.5289 25.8308 17.0087 26.1781 16.6853C26.5253 16.3618 26.4096 16.2938 26.4096 16.2938C26.4334 15.8988 25.8853 16.178 25.8853 16.178L15.2739 22.7518L15.2705 22.7348L10.1844 21.0224V21.019C10.181 21.019 10.1742 21.0156 10.1708 21.0156C10.1742 21.0156 10.198 21.0054 10.198 21.0054L10.2252 20.9918L10.2525 20.9816C10.2525 20.9816 14.7939 19.0683 19.4102 17.1244C21.7218 16.1508 24.0504 15.1703 25.8411 14.4145C27.6318 13.6622 28.956 13.1107 29.0309 13.08C29.1024 13.0528 29.0684 13.0528 29.1195 13.0528Z' fill='white'/%3E%3C/svg%3E%0A");
}
.social-sharing-vider{
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='21.0786' cy='21.0786' r='21.0786' fill='%2341B9FF'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.9244 17.6471C19.1983 17.4403 19.3804 17.1298 19.4308 16.7842C19.4812 16.4388 19.3953 16.0869 19.1924 15.8068L17.8464 13.9478C17.6884 13.7296 17.4515 13.5865 17.1893 13.5507C16.9271 13.5149 16.6616 13.5891 16.4538 13.7573C16.2057 13.958 15.9278 14.1821 15.6649 14.3926C15.0178 14.9107 14.7736 15.7993 15.06 16.5894C16.6398 20.9474 19.9609 24.4035 24.1727 26.0832C25.039 26.4287 26.0221 26.0713 26.4822 25.2415L26.9993 24.3084C27.2534 23.85 27.1203 23.2676 26.6944 22.9734L25.0473 21.8358C24.7594 21.637 24.4053 21.5674 24.0664 21.6424C23.7274 21.7177 23.4321 21.9312 23.2497 22.2345C23.1959 22.324 23.1438 22.411 23.0952 22.4919C23.0274 22.605 22.9179 22.6851 22.7918 22.714C22.6657 22.7429 22.5334 22.7181 22.4253 22.6453C20.8462 21.5822 19.4971 20.193 18.4659 18.5676C18.326 18.3471 18.3796 18.0523 18.5878 17.8989C18.6915 17.8223 18.8065 17.7362 18.9244 17.6471Z' fill='white'/%3E%3Cpath d='M27.5534 20.0469C27.2814 20.0469 27.0609 19.8201 27.0609 19.5406C27.0609 16.2081 24.4236 13.497 21.1819 13.497C20.9099 13.497 20.6895 13.2702 20.6895 12.9907C20.6895 12.7111 20.91 12.4844 21.1819 12.4844C24.9667 12.4844 28.0459 15.65 28.0459 19.5406C28.0459 19.8202 27.8255 20.0469 27.5534 20.0469Z' fill='white'/%3E%3Cpath d='M26.01 20.0469C25.738 20.0469 25.5176 19.8201 25.5176 19.5406C25.5176 17.0829 23.5726 15.0835 21.1819 15.0835C20.9099 15.0835 20.6895 14.8567 20.6895 14.5772C20.6895 14.2976 20.91 14.071 21.1819 14.071C24.1158 14.071 26.5026 16.5247 26.5026 19.5407C26.5025 19.8202 26.282 20.0469 26.01 20.0469Z' fill='white'/%3E%3Cpath d='M24.4942 20.0468C24.2222 20.0468 24.0017 19.82 24.0017 19.5405C24.0017 17.9422 22.7367 16.6417 21.1819 16.6417C20.9099 16.6417 20.6895 16.415 20.6895 16.1355C20.6895 15.8559 20.91 15.6292 21.1819 15.6292C23.2799 15.6292 24.9868 17.3839 24.9868 19.5407C24.9868 19.8202 24.7662 20.0468 24.4942 20.0468Z' fill='white'/%3E%3Cpath d='M33.6318 17.0377C33.6318 11.9664 29.6328 7.85535 24.6996 7.85535H18.3756C13.2914 7.85535 9.16992 12.0923 9.16992 17.3189V21.401C9.16992 25.4334 11.6243 28.8745 15.0802 30.2375V33.4439C15.0802 33.8239 15.3129 34.1684 15.6592 34.3012C15.7598 34.3399 15.8646 34.3585 15.9684 34.3585C16.2221 34.3585 16.4712 34.2473 16.643 34.0437L19.3256 30.8647H24.6997C29.6329 30.8647 33.6319 26.7536 33.6319 21.6823V17.0377H33.6318ZM31.5524 21.6823C31.5524 25.5667 28.4783 28.7269 24.6997 28.7269H19.9359L16.2651 33.115C16.2172 33.1723 16.1395 33.1928 16.0706 33.1667C16.0017 33.1405 15.9558 33.0729 15.9558 32.9972C15.9558 32.0624 15.9558 29.9624 15.9558 28.2914C13.2141 27.2706 11.2495 24.5675 11.2495 21.4011V17.319C11.2495 13.2795 14.4463 9.99316 18.3758 9.99316H24.6998C28.4784 9.99316 31.5525 13.1533 31.5525 17.0377V21.6823H31.5524Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect x='9.07812' y='7.78284' width='24.6457' height='26.5914' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.social-sharing-messager{
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M21.0804 0.00416013C9.68963 -0.220436 0.263987 8.8125 0.00390625 20.2025C0.0336274 26.0004 2.60093 31.4946 7.02938 35.237V41.279C7.02938 41.764 7.42259 42.1572 7.9076 42.1572C8.07218 42.1572 8.23346 42.1109 8.37301 42.0237L13.268 38.9659C15.762 39.9198 18.4103 40.4062 21.0804 40.4008C32.4712 40.6254 41.8968 31.5925 42.1569 20.2025C41.8968 8.8125 32.4712 -0.220436 21.0804 0.00416013Z' fill='%2341B9FF'/%3E%3Cpath d='M34.9545 14.4064C34.6932 14.0561 34.2141 13.9513 33.8304 14.1604L24.6973 19.1398L19.0155 14.2676C18.667 13.9689 18.1474 13.9887 17.8229 14.3132L7.28465 24.8515C6.94273 25.1955 6.94438 25.7515 7.28843 26.0935C7.5635 26.3669 7.98528 26.4275 8.32621 26.2426L17.4593 21.2632L23.1465 26.1372C23.4949 26.4359 24.0145 26.416 24.339 26.0915L34.8773 15.5532C35.1844 15.2432 35.2173 14.7548 34.9545 14.4064Z' fill='%23FAFAFA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='42.1571' height='42.1571' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.social-sharing-whatsapp{
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M20.7595 0H20.7491C9.3057 0 0 9.3083 0 20.7543C0 25.2943 1.46318 29.5022 3.9511 32.9189L1.36459 40.6291L9.34202 38.0789C12.6238 40.2529 16.5386 41.5086 20.7595 41.5086C32.2029 41.5086 41.5086 32.1977 41.5086 20.7543C41.5086 9.31089 32.2029 0 20.7595 0Z' fill='%2341B9FF'/%3E%3Cpath d='M32.8351 29.3077C32.3344 30.7215 30.3472 31.8942 28.7621 32.2366C27.6777 32.4675 26.2612 32.6517 21.4929 30.6748C15.3938 28.148 11.466 21.9503 11.1599 21.5481C10.8667 21.146 8.69531 18.2664 8.69531 15.2881C8.69531 12.3099 10.2078 10.8597 10.8174 10.2371C11.3181 9.72598 12.1457 9.49249 12.9396 9.49249C13.1964 9.49249 13.4273 9.50546 13.6348 9.51584C14.2445 9.54178 14.5506 9.5781 14.9527 10.5406C15.4534 11.7469 16.6727 14.7252 16.818 15.0313C16.9659 15.3374 17.1138 15.7525 16.9062 16.1546C16.7117 16.5697 16.5404 16.7539 16.2343 17.1067C15.9282 17.4595 15.6376 17.7294 15.3315 18.1081C15.0513 18.4376 14.7348 18.7904 15.0876 19.4001C15.4405 19.9968 16.6598 21.9866 18.455 23.5847C20.7717 25.6471 22.65 26.3061 23.3219 26.5862C23.8226 26.7938 24.4193 26.7445 24.7851 26.3554C25.2494 25.8547 25.8228 25.0245 26.4065 24.2073C26.8216 23.621 27.3456 23.5483 27.8956 23.7559C28.456 23.9504 31.4212 25.4162 32.0309 25.7198C32.6406 26.0259 33.0427 26.1712 33.1905 26.428C33.3358 26.6848 33.3358 27.8912 32.8351 29.3077Z' fill='%23FAFAFA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='41.5086' height='41.5086' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}