section.section.form-subscription
    .container
        .social-sharing
            .social-sharing__title Хочешь получать новости от <br> Compass первым?
            .social-sharing-link
                a(href="/").social-sharing-telegram
                a(href="/").social-sharing-vider
                a(href="/").social-sharing-messager
                a(href="/").social-sharing-whatsapp
            .social-sharing__title НАПИШИ НАМ

