.categories-banner-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
    margin-top: -72px;
    z-index: 1;
    margin-bottom: 55px;
    @media screen and (max-width: 768px){
        margin-top: 0px;
    }
}

.categories-banner-item{
    width: 16.6%;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 1024px){
        width: 33.3%;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 580px){
        width: 50%;
    }
    &:hover{
        cursor: pointer;
        .categories-banner-item__container{
            &:before{
                opacity: 0;
                @media screen and (max-width: 1024px){
                    opacity: 1;
                }
            }
        }
        .categories-banner-item__img{
            opacity: 0;
            @media screen and (max-width: 1024px){
                opacity: 1;
            }
        }
        .categories-banner-item__title{
            position: absolute;
            bottom: -40px;
            @media screen and (max-width: 1024px){
                bottom: auto;
            }
        }
    }
    &__container{
        background-size: cover;
        background-position: center;
        height: 145px;
        position: relative;
        padding-top: 25px;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #dfe6e9;
            transition: 0.35s all;
        }
    }
    &__img{
        position: relative;
        transition: 0.35s all;
    }
    &__title{
        margin-top: 15px;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute;
        transition: 0.35s all;
        left: 0;
        right: 0;
        bottom: 12px;
        font-weight: 700;
        @media screen and (max-width: 375px){
            font-size: 13px;
        }
    }
}