section.categories-banner
    .container-min
        .categories-banner-wrapper
            a(href="#").categories-banner-item
                .categories-banner-item__container(style="background-image: url(/img/images/cat_img_1.jpg)")
                    .categories-banner-item__mask
                    .categories-banner-item__img
                        img(src="/img/images/cat_1.png", alt="языковые курсы")
                    .categories-banner-item__title  языковые курсы
            a(href="#").categories-banner-item
                .categories-banner-item__container(style="background-image: url(/img/images/cat_img_1.jpg)")
                    .categories-banner-item__mask
                    .categories-banner-item__img
                        img(src="/img/images/cat_1.png", alt="Подготовка к поступлению")
                    .categories-banner-item__title  Подготовка к поступлению
            a(href="#").categories-banner-item
                .categories-banner-item__container(style="background-image: url(/img/images/cat_img_1.jpg)")
                    .categories-banner-item__mask
                    .categories-banner-item__img
                        img(src="/img/images/cat_2.png", alt="ВИЗА")
                    .categories-banner-item__title  ВИЗА
            a(href="#").categories-banner-item
                .categories-banner-item__container(style="background-image: url(/img/images/cat_img_1.jpg)")
                    .categories-banner-item__mask
                    .categories-banner-item__img
                        img(src="/img/images/cat_3.png", alt="Бакалавриат Магистратура")
                    .categories-banner-item__title  Бакалавриат Магистратура
            a(href="#").categories-banner-item
                .categories-banner-item__container(style="background-image: url(/img/images/cat_img_1.jpg)")
                    .categories-banner-item__mask
                    .categories-banner-item__img
                        img(src="/img/images/cat_4.png", alt="Последипломное образование")
                    .categories-banner-item__title  Последипломное образование
            a(href="#").categories-banner-item
                .categories-banner-item__container(style="background-image: url(/img/images/cat_img_1.jpg)")
                    .categories-banner-item__mask
                    .categories-banner-item__img
                        img(src="/img/images/cat_5.png", alt="Языковые курсы за рубежом")
                    .categories-banner-item__title  Языковые курсы за рубежом