header.header
    .header-top
        .container
            .header-top-wrapper

                nav.header-top-left
                    ul.menu-top.hidden-1100
                        li.menu-top__item
                            a(href="/about-us.html").menu-top__link О нас
                        li.menu-top__item
                            a(href="/blog.html").menu-top__link Блог
                        li.menu-top__item
                            a(href="/partners.html").menu-top__link for partners
                        li.menu-top__item
                            a(href="/contacts.html").menu-top__link Контакты
                .header-top-right
                    .header-top-item
                        .header-top-contacts
                            .header-top-contacts__email.hidden-768 info@compass.in.ua
                            a(href="tel:+38(063) 295-39-59").header-top-contacts__phone <span>+38(063)</span> 295-39-59
                    .header-top-item
                        button.btn-base.btn-feedback.btn-violet.hidden-768 Заказать звонок            
                    .header-top-item.search-langs
                        button.btn-search.btn-search-js.hidden-1100
                        .langs
                            .dropdown-menu
                                .dropdown-item
                                    .active ua
                                .dropdown-item
                                    a(href="#") ru
                                .dropdown-item
                                    a(href="#") eng
            .search
                form.search-form
                    .search-form-input
                        input(type="text", placeholder="Поиск по сайту").search-form__input
                        button.search-form__btn
    .header-bottom
        .container
            .header-bottom-wrapper
                  .header-bottom-left
                    a(href="/").header-logo
                  nav.header-bottom-right
                    .btn-menu-mobile
                        button.btn-search.btn-search-js.btn-search-mobile
                        button.btn-menu.btm-memu-js
                    .nav-bg-close.btm-memu-js 
                    .nav
                        button.menu-close.btm-memu-js.show-1100
                        ul.header-bottom-menu
                            li.header-bottom-menu__item
                                a(href="#").header-bottom-menu__link Страны
                            li.header-bottom-menu__item
                                a(href="#").header-bottom-menu__link Образование
                            li.header-bottom-menu__item
                                a(href="#").header-bottom-menu__link Каникулы
                            li.header-bottom-menu__item
                                a(href="#").header-bottom-menu__link Языковые курсы
                            li.header-bottom-menu__item
                                a(href="/service.html").header-bottom-menu__link Наши сервисы
                            li.header-bottom-menu__item
                                a(href="/events.html").header-bottom-menu__link Мероприятия
                        ul.menu-top.show-1100
                            li.menu-top__item
                                a(href="/about-us.html").menu-top__link О нас
                            li.menu-top__item
                                a(href="/blog.html").menu-top__link Блог
                            li.menu-top__item
                                a(href="/partners.html").menu-top__link for partners
                            li.menu-top__item
                                a(href="/contacts.html").menu-top__link Контакты
                        .show-1100
                            ul.menu-social.social-links
                                //- li
                                //-     a(href="#").social-google
                                li
                                    a(href="#").social-facebook
                                li
                                    a(href="#").social-instagram
                                li
                                    a(href="#").social-youtube
.header-actions
    .container.position-relative
        .header-actions-wrap
            a(href="/").actions-item.favorites-link
                span 99
            a(href="/").actions-item.comparisons-link
                span 99