.our-services{
    background-color: #dfe6e9;
    padding: 35px 0;
    margin-bottom: 40px;
}
.our-services-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
    @media screen and (max-width: 980px){
        flex-wrap: wrap;
    }
    @media screen and (max-width: 475px){
        margin: 0 -10px;
    }
}
.our-services-item{
    width: 25%;
    padding: 0 20px;
    display: block;
    @media screen and (max-width: 980px){
        width: 50%;
        margin-bottom: 30px;
    }
    @media screen and (max-width: 500px){
        padding: 0 5px;
        margin-bottom: 10px;
    }
    &__container{
        background-color: #5e4eb4;
        text-align: center;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        transition: 0.25s all;
        height: 100%;
        @media screen and (max-width: 500px){
            padding: 0 10px;
        }
        &:hover{
            background-color: #1689fe;
        }
    }
    &__img{
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    &__title{
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        margin-bottom: 30px;
        @media screen and (max-width: 475px){
            font-size: 14px;
        }
    }
}