section.section.our-services
    .container-min
        .section-title Наши сервисы
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .our-services-wrapper
            a(href="#").our-services-item
                .our-services-item__container
                    .our-services-item__img(style="background-image: url(/img/images/svg/passport.svg);")
                    .our-services-item__title Оформление <br> визы
            a(href="#").our-services-item
                .our-services-item__container
                    .our-services-item__img(style="background-image: url(/img/images/svg/knowledge.svg);")
                    .our-services-item__title Языковые курсы <br> Compass
            a(href="#").our-services-item
                .our-services-item__container
                    .our-services-item__img(style="background-image: url(/img/images/svg/university.svg);")
                    .our-services-item__title Туры по <br> университетам
            a(href="#").our-services-item
                .our-services-item__container
                    .our-services-item__img(style="background-image: url(/img/images/svg/document.svg);")
                    .our-services-item__title Оформление <br> страховки