.banner-smart-before{
    &:before{
        content: "";
        background-image: url('../img/images/banner-base.png');
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
    }
}
.banner-smart{
    height: 515px;
    background-position: center right;
    padding-bottom: 30px;
    position: relative;
    background-size: cover;
    @media screen and (max-width: 768px){
        height: auto;
        background-image: none!important;
        margin-bottom: 23px;
    }
    &__title{
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        margin: 50px 0;
        font-weight: bold;
        max-width: 570px;
        @media screen and (max-width: 500px){
            margin-top: 0px;
            margin-bottom: 20px;
            font-size: 25px;
        }
    }
    &__longtitle{
        font-size: 18px;
        color: #fff;
        line-height: 1.5;
        margin-bottom: 50px;
        max-width: 500px;
        @media screen and (max-width: 500px){
            margin-bottom: 20px;
            font-size: 16px;
        }
    }
    &__position{
        position: relative;
        padding-left: 25px;
        &:before{
            content: '';
            position: absolute;
            left: 4px;
            top: 2px;
            width: 12px;
            height: 17px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='17' viewBox='0 0 13 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.24996 0C3.03344 0 0.416626 2.76191 0.416626 6.15673C0.416626 10.3698 5.63689 16.5549 5.85915 16.8161C6.06791 17.0615 6.43239 17.0611 6.64078 16.8161C6.86303 16.5549 12.0833 10.3698 12.0833 6.15673C12.0832 2.76191 9.46645 0 6.24996 0ZM6.24996 9.25435C4.63165 9.25435 3.31509 7.86477 3.31509 6.15673C3.31509 4.44869 4.63168 3.05914 6.24996 3.05914C7.86824 3.05914 9.1848 4.44873 9.1848 6.15676C9.1848 7.8648 7.86824 9.25435 6.24996 9.25435Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }
    .breadcrumbs-item{
        color: #fff;
        a{
            color: #fff;
        }
    }
  .container{
    position: relative;
  }
}
.banner-info{
    &__item{
        display: flex;
    }
    &__name{
        width: 110px;
        background-color: #FFCA14;
        line-height: 32px;
        margin-right: 20px;
        border-radius: 2px;
        text-align: center;
        margin-bottom: 10px;
    }
    &__text{
        color: #fff;
        line-height: 32px;
        font-weight: 500;
    }
}
.banner-info-2-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    @media screen and (max-width: 560px){
        flex-direction: column;
    }
    .banner-info__item{
        width: 50%;
        padding: 0 10px;
        @media screen and (max-width: 560px){
            width: 100%;
        }
    }
}

.dumb-anya{
    max-width: 810px;
    width: 100%;
    background-color: rgba(#5E4EB4, 0.7);
    padding: 0 35px;
    padding-bottom: 30px;
    @media screen and (max-width: 560px){
        width: 100%;
    }
    .banner-smart__title{
        margin: 0;
        margin-bottom: 10px;
    }
    .banner-info__name{
        width: 150px;
    }
    .banner-smart__longtitle{
        margin-bottom: 25px;
    }
}
.banner-smart-nav{
    display: flex;
    margin-bottom: 40px;
    @media screen and (max-width: 420px){
        flex-direction: column;
    }
    button{
        background-color: rgba(#fff, 0);
        font-size: 14px;
        color: #ffffff;
        position: relative;
        padding-left: 42px;
        @media screen and (max-width: 420px){
            margin-bottom: 25px;
            text-align: left;
        }
        &:before{
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .btn-add-favorites{
        margin-right: 20px;
        &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15.865' cy='16' rx='15.865' ry='16' fill='%23FFCA14'/%3E%3Cpath d='M16.3161 13.3244C16.9164 11.9563 18.2877 11.0003 19.8828 11.0003C22.0314 11.0003 23.5789 12.7678 23.7734 14.8743C23.7734 14.8743 23.8785 15.3971 23.6473 16.3385C23.3326 17.6206 22.5928 18.7597 21.5953 19.629L16.3161 24.1583L11.1257 19.6287C10.1283 18.7597 9.38848 17.6203 9.07376 16.3383C8.84262 15.3969 8.94763 14.874 8.94763 14.874C9.14217 12.7675 10.6896 11 12.8383 11C14.4336 11 15.7158 11.9563 16.3161 13.3244Z' fill='%235E4EB4'/%3E%3C/svg%3E%0A");
        }
    }
    .btn-add-comparisons{
        &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='15.9997' cy='16' rx='15.865' ry='16' fill='%23FFCA14'/%3E%3Cpath d='M13.6441 9.0459L8.11328 10.0918' stroke='%235E4EB4' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M21.2494 8L16.2627 8.74673' stroke='%235E4EB4' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M15.0273 10.0917C15.6 10.0917 16.0643 9.62347 16.0643 9.04586C16.0643 8.46825 15.6 8 15.0273 8C14.4545 8 13.9902 8.46825 13.9902 9.04586C13.9902 9.62347 14.4545 10.0917 15.0273 10.0917Z' stroke='%235E4EB4' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M18.1094 17.6885C18.1094 18.6019 18.4684 19.4778 19.1075 20.1236C19.7465 20.7694 20.6133 21.1323 21.517 21.1323C22.4208 21.1323 23.2875 20.7694 23.9266 20.1236C24.5657 19.4778 24.9247 18.6019 24.9247 17.6885C24.9247 15.8086 21.517 9.94556 21.517 9.94556C21.517 9.94556 18.1094 15.8086 18.1094 17.6885Z' stroke='%235E4EB4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.1094 18.2983C18.1094 19.8349 19.6353 21.0827 21.517 21.0827C23.3988 21.0827 24.9247 19.8349 24.9247 18.2983C24.9109 18.0369 24.8563 17.7795 24.7629 17.5354H18.2819C18.1848 17.7789 18.1266 18.0363 18.1094 18.2983V18.2983Z' fill='%235E4EB4'/%3E%3Cpath d='M7.07617 20.4129C7.07617 21.3262 7.43519 22.2021 8.07425 22.848C8.71331 23.4938 9.58006 23.8566 10.4838 23.8566C11.3876 23.8566 12.2543 23.4938 12.8934 22.848C13.5325 22.2021 13.8915 21.3262 13.8915 20.4129C13.8915 18.533 10.4838 12.6699 10.4838 12.6699C10.4838 12.6699 7.07617 18.533 7.07617 20.4129Z' stroke='%235E4EB4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.07617 20.413C7.07617 21.3263 7.43519 22.2022 8.07425 22.8481C8.71331 23.4939 9.58006 23.8567 10.4838 23.8567C11.3876 23.8567 12.2543 23.4939 12.8934 22.8481C13.5325 22.2022 13.8915 21.3263 13.8915 20.413C13.8784 20.0965 13.824 19.7832 13.7297 19.4812H7.24871C7.15077 19.7827 7.09275 20.096 7.07617 20.413V20.413Z' fill='%235E4EB4'/%3E%3C/svg%3E%0A");
        }
    }
}
