.latest-news-wrapper{
    display: flex;
    margin: 0 -30px;
    flex-wrap: wrap;
    @media screen and (max-width: 1240px){
        margin: 0;
    }
    @media screen and (max-width: 1024px){
        margin: 0 -10px;
    }
    @media screen and (max-width: 760px){
        justify-content: center;
    }
}