section.section.latest-news
    .container-min
        .section-title Последние новости
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .latest-news-wrapper
            include ../../../blocks/components/news-item/news-item.pug
            include ../../../blocks/components/news-item/news-item.pug
            .latest-news-item
                a(href="#").latest-news-item__container
                    .latest-news-item__header
                        .latest-news-item__img
                            img(src="/img/images/news-item_1.jpg", alt="Лучшие университеты Канады")
                            .latest-news-item__tags.tags
                                .tags__item(style="background-color: #ffca14;") Акции
                                .tags__item(style="background-color: #74b9ff;") новости
                                .tags__item(style="background-color: #5e4eb4; color: #fff;") статьи
                    .latest-news-item__footer
                        .latest-news-item__info.info
                            .info__date 23 апр 2019
                            .info__view 811
                            .info__like 46
                        .latest-news-item__title Лучшие университеты Канады
                        .latest-news-item__description Образование  престижных и почитаемых в мире.Образование в Канаде является одним из самых престижных и почитаемых в мире.
                        span.latest-news-item__link Подробнеее
        .button-morelink
            a(href="#").btn-base.btn-link-more Посмотреть все
