
.banner-base{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 515px;
    position: relative;
    @media screen and (max-width: 768px){
        height: auto;
        background-image: none!important;
    }
    &__content{
        max-width: 440px;
        color: #fff;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__description{
        padding-bottom: 50px;
        font-size: 18px;
    }
}
.banner-base--min{
    height: 350px;
}