
section(class=classBanner).banner-blue.banner-base(style=bgBanner)
    .container
        include ../../../blocks/components/breadcrumbs/breadcrumbs.pug
        .container-min
            .banner-base__content
                .banner-base__title #{bannerBase__title}
                .banner-base__description #{bannerBase__description}
                

