section.section.section-gallery
    .container
        .section-title Как это было
        .section-description Основанный в 1827 году, Университет Торонто превратился в ведущее учреждение Канады по обучению, открытиям и созданию знаний. 
    .section-gallery-wrapper.article-gallery-js
        .section-gallery-item
            a(href="/img/images/gallery/1.png")
                img(src="/img/images/gallery/1.png", alt="")
        .section-gallery-item
            a(href="/img/images/gallery/2.png")
                img(src="/img/images/gallery/2.png", alt="")
        .section-gallery-item
            a(href="/img/images/gallery/3.png")
                img(src="/img/images/gallery/3.png", alt="")
        .section-gallery-item
            a(href="/img/images/gallery/4.png")
                img(src="/img/images/gallery/4.png", alt="")
    .button-morelink
        button.btn-base.btn-more загрузить ещё