
.breadcrumbs{
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
}


.banner-smart, .banner-base--min{
  .breadcrumbs-item{
     padding-right: 25px;
     position: relative;
     color: #FFFFFF;
     &::before{
       content: '';
       position: absolute;
       width: 17px;
       height: 7px;
       right: 3px;
       top: 50%;
       background-size: contain;
       background-repeat: no-repeat;
       transform: translateY(-50%);
       background-image: url("data:image/svg+xml,%3Csvg width='19' height='9' viewBox='0 0 19 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6 8L17 4.5M17 4.5L13.6 1M17 4.5L3.0598e-07 4.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
     }
     &:last-child{
       &::before{
         display: none;
       }
     }
   }
  a{
    color: #FFFFFF;
  }
}
.breadcrumbs-item{
  padding-right: 25px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 17px;
    height: 7px;
    right: 3px;
    top: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='9' viewBox='0 0 19 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8357 8L17.207 4.5M17.207 4.5L13.8357 1M17.207 4.5L0.350491 4.5' stroke='%232D3436' stroke-width='2'/%3E%3C/svg%3E%0A");
  }
  &:last-child{
    &::before{
      display: none;
    }
  }
}