.section-col-3{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px){
        justify-content: center;
    }
    .section-col-item{
        width: 33.3%;
        @media screen and (max-width: 767px){
            width: 80%;
        }
    }

}
.section-col-4{
    display: flex;
    flex-wrap: wrap;
    .section-col-item{
        width: 25%;
        @media screen and (max-width: 900px){
            width: 50%;
        }
        @media screen and (max-width: 500px){
            width: 100%;
        }
    }
}
.section-col-item{
    text-align: center;
    @media screen and (max-width: 767px){
        margin-bottom: 20px;
    }
    &__container{
        padding: 0 40px;
        color: #2d3436;
        font-size: 18px;
        @media screen and (max-width: 1024px){
            padding: 0 15px;
        }
    }
    &__img{
        margin-bottom: 35px;
        img{
            height: 100px;
            width: auto;
        }
    }
    &__title{
        margin-bottom: 15px;
        font-weight: bold;
        text-transform: uppercase;
        height: 44px;
    }
}
