section.section
    .container
        .section-title Почему это круто
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .section-col-4
            .section-col-item
                .section-col-item__container
                    .section-col-item__img
                        img(src="/img/images/seminar_1.png", alt="Повседневная практика")
                    .section-col-item__title Повседневная практика
                    .section-col-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-col-item
                .section-col-item__container
                    .section-col-item__img
                        img(src="/img/images/seminar_2.png", alt="Повседневная практика")
                    .section-col-item__title Повседневная практика
                    .section-col-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-col-item
                .section-col-item__container
                    .section-col-item__img
                        img(src="/img/images/seminar_3.png", alt="Повседневная практика")
                    .section-col-item__title Повседневная практика
                    .section-col-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-col-item
                .section-col-item__container
                    .section-col-item__img
                        img(src="/img/images/seminar_3.png", alt="Повседневная практика")
                    .section-col-item__title Повседневная практика
                    .section-col-item__description Повседневная практика  показывает, что начало повседневной работы по формированию позиции в значительной степени.