.popular-professions{
    margin-bottom: 40px;
}
.popular-professions-wrapper{
    display: flex;
    margin: 0 -15px;
    margin-bottom: 50px;
    @media screen and (max-width: 1000px){
        flex-wrap: wrap;
    }
    .item{
        // display: block;
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        // height: 100%;
        // position: relative;
        // min-height: 340px;


        &:nth-child(4){
            .item__title{
                background-color: #1689fe;
            }
        }
        &:nth-child(5){
            .item__title{
                background-color: #5e4eb4;
            }
        }
    }
}
.popular-professions-item{
    width: 100%;
    padding: 0 15px;
    @media screen and (max-width: 1000px){
        width: 50%;
    }
    @media screen and (max-width: 650px){
        width: 100%;
    }
    .items{
        @media screen and (max-width: 650px){

        }
    }
    .item{
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        position: relative;
        min-height: 340px;
        &:hover{
            color: #fff;
            .item-mask{
                opacity: 1;
            }
        }
        &__title{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            padding: 20px;
            position: absolute;
            text-align: center;
            min-width: 230px;

        }
    }
    .item-mask{
        opacity: 0;
        transition: 0.35s all;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 15px;
        color: #fff;
        background-color: #5e4eb4;
        &__title{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        &__longtitle{
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        &__description{
            margin-bottom: 25px;
        }
        .price{
            font-size: 18px;
            font-weight: 700;
            &__title{
                margin-bottom: 10px;
            }
            &__number{
                color: #ffca14;
            }
        }
    }
    &__left{
        .item{
            &:nth-child(1){
                margin-bottom: 30px;
                .item__title{
                    background-color: #5e4eb4;
                }
            }
            &:nth-child(2){
                @media screen and (max-width: 650px){
                    margin-bottom: 30px;
                }
                .item__title{
                    background-color: #1689fe;
                }
            }
            &__title{
                bottom: 25px;
            }
        }

    }
    &__center{
        .item{
            &__title{
                bottom: 65px;
                background-color: #74b9ff;
            }
        }
    }
    &__right{
        @media screen and (max-width: 1000px){
            width: 100%;
        }
        .items{
            @media screen and (max-width: 1000px){
                display: flex;
                margin-top: 30px;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
        .item{
            @media screen and (max-width: 1000px){
                width: 48%;
            }
            @media screen and (max-width: 650px){
                width: 100%;
            }
            &:nth-child(1){
                margin-bottom: 30px;
                .item__title{
                    background-color: #1689fe;
                }
            }

            &:nth-child(2){
                .item__title{
                    background-color: #5e4eb4;
                }
            }
            &__title{
                right: 0;
                bottom: 25px;
            }
        }
    }
}

.direction-wrap{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1000px){
        width: 100%;
    }
}
.direction-item{
    width: 33.3%;
    padding: 20px;
    @media screen and (max-width: 1000px){
        width: 50%;
    }
    @media screen and (max-width: 670px){
        width: 100%;
    }
    .item__title{
        margin: 0;
        bottom: 20px;
        right: 0;
    }
}
