section.section.popular-professions
    .container-min
        .section-title Востребованные специализации
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .popular-professions-wrapper
            .popular-professions-item__left.popular-professions-item
                .items
                    a(href="#").item(style="background-image: url(/img/images/popular-professions_1.jpg);")
                        .item__title Маркетинг
                        .item-mask
                            .item-mask__title Маркетинг
                            .item-mask__longtitle почему востребована:
                            .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 150 000 евро*
                    a(href="#").item(style="background-image: url(/img/images/popular-professions_2.jpg);")
                        .item__title Програмирование
                        .item-mask
                            .item-mask__title Програмирование
                            .item-mask__longtitle почему востребована:
                            .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            .item-mask__price.price
                                    .price__title зарплата в год:
                                    .price__number 25 000 - 300 000 евро*
            .popular-professions-item__center.popular-professions-item
                a(href="#").item(style="background-image: url(/img/images/popular-professions_3.jpg);")
                    .item__title Экономика и управление
                    .item-mask
                        .item-mask__title Экономика и управление 
                        .item-mask__longtitle почему востребована:
                        .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        .item-mask__price.price
                            .price__title зарплата в год:
                            .price__number 25 000 - 150 000 евро*
            .popular-professions-item__right.popular-professions-item
                .items
                    a(href="#").item(style="background-image: url(/img/images/popular-professions_4.jpg);")
                        .item__title Реклама и пиар
                        .item-mask
                            .item-mask__title Реклама и пиар
                            .item-mask__longtitle почему востребована:
                            .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            .item-mask__price.price
                                .price__title зарплата в год:
                                .price__number 25 000 - 150 000 евро*
                    a(href="#").item(style="background-image: url(/img/images/popular-professions_5.jpg);")
                        .item__title Дизайн
                        .item-mask
                            .item-mask__title Дизайн
                            .item-mask__longtitle почему востребована:
                            .item-mask__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            .item-mask__price.price
                                .price__title зарплата в год:
                                .price__number 25 000 - 150 000 евро*
        .button-morelink
            button.btn-base.btn-more загрузить ещё