section.section.section-team
    .container
        .section-title Наша команда
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .teams-wrapper.team-carousel
            .team-item
                .team-item__container
                    .team-item__img
                        img(src="/img/images/team_1.jpg", alt="Mariia Chernykh")
                    .team-item__body
                        .team-item__name-icon
                            .team-item__name Mariia Chernykh
                            ul.team-item__links.persone-links
                                li.persone-links-item
                                    a(href="#").links-in
                                li.persone-links-item
                                    a(href="#").links-instagram
                                li.persone-links-item
                                    a(href="#").links-faceboock
                        .team-item__position Co-Founder
                        .team-item__email travel@compass.in.ua
            .team-item
                .team-item__container
                    .team-item__img
                        img(src="/img/images/team_2.jpg", alt="Mariia Chernykh")
                    .team-item__body
                        .team-item__name-icon
                            .team-item__name Mariia Chernykh
                            ul.team-item__links.persone-links
                                li.persone-links-item
                                    a(href="#").links-in
                                li.persone-links-item
                                    a(href="#").links-instagram
                                li.persone-links-item
                                    a(href="#").links-faceboock
                        .team-item__position Co-Founder
                        .team-item__email travel@compass.in.ua
            .team-item
                .team-item__container
                    .team-item__img
                        img(src="/img/images/team_3.jpg", alt="Mariia Chernykh")
                    .team-item__body
                        .team-item__name-icon
                            .team-item__name Mariia Chernykh
                            ul.team-item__links.persone-links
                                li.persone-links-item
                                    a(href="#").links-in
                                li.persone-links-item
                                    a(href="#").links-instagram
                                li.persone-links-item
                                    a(href="#").links-faceboock
                        .team-item__position Co-Founder
                        .team-item__email travel@compass.in.ua
            .team-item
                .team-item__container
                    .team-item__img
                        img(src="/img/images/team_1.jpg", alt="Mariia Chernykh")
                    .team-item__body
                        .team-item__name-icon
                            .team-item__name Mariia Chernykh
                            ul.team-item__links.persone-links
                                li.persone-links-item
                                    a(href="#").links-in
                                li.persone-links-item
                                    a(href="#").links-instagram
                                li.persone-links-item
                                    a(href="#").links-faceboock
                        .team-item__position Co-Founder
                        .team-item__email travel@compass.in.ua
