.how-working-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.how-working-item{
    width: 25%;
    padding: 0 20px;
    text-align: center;
    @media screen and (max-width: 768px){
        width: 50%;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 425px){
        width: 100%;
    }
    @media screen and (max-width: 425px){
        text-align: left;
    }
    &__container{
        @media screen and (max-width: 425px){
            display: flex;
        }
    }
    &__content{
        @media screen and (max-width: 425px){
            padding-left: 15px;
        }
    }
    &__img{
        text-align: center;
        background-image: linear-gradient(to top, #5e4eb4 0%, #32b4ff 100%);
        width: 135px;
        height: 135px;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;
        padding: 3px;
        @media screen and (max-width: 425px){
            min-width: 100px;
            min-height: 100px;
            height: 100px;
        }
        img{
            width: 100%;
            border: 4px solid #fff;
            border-radius: 50%;
            background-color: #fff;
        }
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}