section.section.how-working
    .container-min
        .section-title Как мы это делаем?
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .how-working-wrapper
            .how-working-item
                .how-working-item__container
                    .how-working-item__img
                        img(src="/img/images/how-working_1.png", alt="Надежность")
                    .how-working-item__content
                        .how-working-item__title Надежность
                        .how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .how-working-item
                .how-working-item__container
                    .how-working-item__img
                        img(src="/img/images/how-working_2.png", alt="Опыт")
                    .how-working-item__content
                        .how-working-item__title Опыт
                        .how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .how-working-item
                .how-working-item__container
                    .how-working-item__img
                        img(src="/img/images/how-working_3.png", alt="Открытость")
                    .how-working-item__content
                        .how-working-item__title Открытость
                        .how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .how-working-item
                .how-working-item__container
                    .how-working-item__img
                        img(src="/img/images/how-working_4.png", alt="Вовлеченность")
                    .how-working-item__content
                        .how-working-item__title Вовлеченность
                        .how-working-item__description Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.