.section-stages{
    padding: 40px 0;
    background-color: #e8e8e8;
}
.section-stages-item{
    width: 50%;
    margin-bottom: 40px;
    @media screen and (max-width: 600px){
        width: 100%;
    }
    &__container{
        display: flex;
    }
    &__number{
        width: 45px;
        font-size: 82px;
        font-weight: 700;
        color: #ffca14;
        line-height: 0.7;
    }
    &__title{
        padding-left: 25px;
        padding-right: 40px;
    }
}
.section-stages-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.section-stages-btn{
    text-align: center;
    button{
        padding: 10px 30px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 768px){
            font-size: 18px;
        }
    }
}