section.section.section-stages
    .container
        .section-title Почему именно Чехия?
        .section-description Самым популярным вопросом родителей и студентов, которые готовятся к выезду за границу с целью обучения является оплата обучения за.
        .section-stages-wrapper
            .section-stages-item
                .section-stages-item__container
                    .section-stages-item__number 1
                    .section-stages-item__title Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-item
                .section-stages-item__container
                    .section-stages-item__number 2
                    .section-stages-item__title Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-item
                .section-stages-item__container
                    .section-stages-item__number 3
                    .section-stages-item__title Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-item
                .section-stages-item__container
                    .section-stages-item__number 4
                    .section-stages-item__title Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-item
                .section-stages-item__container
                    .section-stages-item__number 5
                    .section-stages-item__title Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
            .section-stages-item
                .section-stages-item__container
                    .section-stages-item__number 6
                    .section-stages-item__title Повседневная практика показывает, что начало повседневной работы по формированию позиции в значительной степени.
        .section-stages-btn
            button.btn-base.btn-violet Зарегестрироваться