.partners-wrapper{
    margin-top: 40px;
    
}
.partners-carousel-item{
    display: flex!important;
    flex-wrap: wrap;
    .partners-item{
        width: 16.6%;
        padding: 0 15px;
        margin-bottom: 30px;
        @media screen and (max-width: 768px){
            width: 25%;
            padding: 0 5px;
            margin-bottom: 10px;
        }
    }
}