section.section
    .container-min
        .section-title Наши партнеры
            .partners-wrapper.partners-carousel
                .partners-carousel-item
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                .partners-carousel-item
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")
                    .partners-item
                        img(src="/img/images/universities-logo1.jpg", alt="")