.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px){
        justify-content: center;
    }
}
.section-col-4-item{
    width: 25%;
    text-align: center;
    @media screen and (max-width: 990px){
        width: 50%;
        margin-bottom: 30px;
    }
    @media screen and (max-width: 500px){
        width: 100%;
    }
    &__container{
        padding: 0 15px;
        color: #2d3436;
        font-size: 18px;
        @media screen and (max-width: 1024px){
            padding: 0 15px;
        }
    }
    &__img{
        margin-bottom: 35px;
        img{
            width: auto;
        }
    }
    &__title{
        margin-bottom: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }
}